<!--

.SCH:not(#agCont) #agendaPlaceHolder{
	-webkit-transition: min-height 0.5s, opacity 0.5s;
	transition: min-height 0.5s, opacity 0.5s;
	height: 1px !important;
	min-height: 1px;
	margin-bottom: 0px;
	overflow: hidden;
	opacity:0;
	border: 1px solid rgba(0,0,0,0.3);
    border-radius: 6px;
    overflow: hidden;
}
#agCont #agendaPlaceHolder{
	margin-bottom: -1px !important;
}
#agendaPlaceHolder{
	width:calc(100%);
}


/* agenda aperta */
.agOp,
.agOpGen{
	opacity:1 !important;
}
.SCH:not(#agCont) .agOp{
    min-height: 313px !important;
}
#agendaCont{
	background-color:#FFF;
}

/* intestazione */
#agendaTesta,
#calTesta{
	border-bottom: 1px solid #999;
	height:52px;
}
#agendaTesta{
    background-color: #dbcec0;
}
#agCont #agendaTesta{
    position: fixed;
    z-index: 100;
    margin-top: -52px;
    width: 600px;
}

/* intestazione giorno */
.agendaInt{
	width:calc(100% - 102px);
	height:51px;
	text-align:center;
	display:block;
	float:left;
	vertical-align:middle;
	cursor:pointer;
}
.agendaInt img{
	vertical-align:middle;
}

.agendaInt p:first-child{
	line-height: 15px !important;
	height: 20px;
	padding-top: 7px;
	margin:0px !important;
}
.agendaInt p:last-child{
	line-height: 15px !important;
	height: 15px;
	margin:0px !important;
	margin-top: 4px !important;
	margin-bottom: 0px !important;
}
.agendaGiorno{
	font-size: var(--font-19-8);
	font-weight:bold;
}
.agendaFestivo span{
	color:#C00;
}

/* frecce di navigazione */
#agendaPre,
#agendaNext{
	width: 51px;
	height: 51px;
	background-color: rgba(255,255,255,0.7);
	cursor:pointer;
	display:block;
	float:left;
	vertical-align:middle;
	text-align:center;
}
#agendaPre{
	border-top-right-radius: 26px;
	border-bottom-right-radius: 26px;
}
#agendaNext{
	border-top-left-radius: 26px;
	border-bottom-left-radius: 26px;
}
#agendaTesta svg{
	width: 30px;
    height: 41px;
    margin: 5px;
}
#agendaTesta svg polyline{
	fill:none;
	stroke:#666;
	stroke-width:3;
	stroke-linecap:round;
	stroke-linejoin:round;
}

/* contenitore delle ore del giorno */
.SCH:not(#agCont) .agendaCol{
	height: 259px;
    overflow-y: auto;	
	position: relative;
	width: 100%;
	background-color: #FFF;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

/* le righe */
.agendaOre div:not(.elApp),
.agendaOre div:not(.elApp) span{
	line-height:24px !important;
	height:24px !important;
}
body:not(.smart) .agendaOre div:not(.elApp) span:last-child{
	cursor:pointer;
}
/* .smart .agendaOre div:not(.elApp),
.smart .agendaOre div:not(.elApp) span{
	line-height:28px !important;
	height:28px !important;
} */

/* numero del giorno */
.agendaOre div:not(.elApp) span:first-child{
	display:inline-block;
	width:30px;
	border-right:1px solid rgba(0,0,0,0.06);
	text-align:center;
	vertical-align: top;
	background-color: rgba(0,0,0,0.05);
}
#agCont .agendaOre div:not(.elApp) span:first-child{
	background-color: var(--menu-fondino);
	border-bottom: 1px solid var(--menu-fondino);
}

/* contenuto */
.agendaOre div:not(.elApp) span:last-child{
	display:inline-block;
	width:calc(100% - 30px);
	text-align:left;
	padding-left:5px;
	vertical-align: top;
	color:rgba(0,0,0,0.5);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.agendaOre div:not(.timeFull):not(.timeFullGen):not(.elApp) span:last-child{
	border-bottom: 1px solid rgba(0,0,0,0.04);
}
.agendaCol:not(.lavorata) .agendaOre div:not(.timeFull):not(.timeFullGen):not(.selProvv):not(.elApp):hover span:last-child{
	background-color:rgba(0,0,0,0.05) !important;
}
.agendaCol.lavorata .agendaOre div:not(.timeFull):not(.timeFullGen):not(.selProvv):not(.elApp):hover span:last-child{
	cursor:default !important;
}
.agendaOre div:not(.elApp) span:last-child i{
	margin-top:0px !important;
}
.agendaOre div:not(.elApp) span:last-child button{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color:#FFF;
	border:none;
	border:1px solid #C90;
	border-radius:3px;
	height:19px;
	cursor:pointer;
	margin-left:5px;
}
.agendaOre div:not(.elApp) span:last-child i{
	float:right;
}
.agendaOre div:not(.elApp):last-child{
	border-bottom:none !important;
}
.timeFull{
	text-overflow:ellipsis;
}
.timeFull{
	background-color:#cdddf1;
	border-left: 3px solid #5b7494 !important;
}
.timeFullGen{
	text-overflow:ellipsis;
	background-color:#c2f4cf;
	border-left: 3px solid #588868 !important;
}
.SCH:not(#agCont) .timeFullGen,
.SCH:not(#agCont) .timeFull{
	cursor:default;
}
/* #agCont .timeFullGen span:last-child,
#agCont .timeFull span:last-child{
	cursor:pointer;
} */

.hSel{
	background-color:#FC0 !important;
	cursor:default !important;
	text-overflow:unset !important;
}
.hSel span{
	border-bottom:1px solid #FC0;
	overflow:visible !important;
}
.selProvv,
.selProvv:hover{
	background-color:#FC0 !important;
}

.brdBtm span:last-child,
.brdBtmSp{
	border-bottom:1px solid rgba(0,0,0,0.1) !important;
}
.nTAg{
	float:none !important;
	opacity:0.5;
	font-size: var(--font-12-1);
	mergin-left:0px !important;
	padding-left:0px !important;
}
.nCAg{
	font-size: var(--font-12-1);
	margin-top: -20px !important;
    padding-right: 10px;
	background-color: #FFF;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-right: 10px;
}
.elApp span{
	display:block;
	overflow:hidden;
}
.resizer_cont{
	text-align:right;
	height:2px;
}
.resizer_cont > span{
	border-top-left-radius:6px;
	border-bottom-right-radius:4px;
	position:absolute;
	display:inline-block !important;
	background-image:url('../img/ico_resize.png');
	background-position:center;
	background-repeat:no-repeat;
	width: 20px;
	height:12px;
	cursor:pointer;
	margin-top:-10px;
	margin-left:-15px;
	opacity:0.5;
}
.touch .resizer_cont > span{
	margin-left: -40px !important;
	/* background-color: rgba(0, 100, 100, 0.5) !important; */
	background-image:url('../img/ico_resizeMobile.png') !important;
	background-position:center bottom;
	width: 30px !important;
	height: 30px !important;
	border-radius: 30px !important;
	margin-top: -18px;
	opacity:1 !important;
}
.touch #inLavorazione .resizer_cont > span{
	background-image:url('../img/ico_resizeMobileE.png') !important;
}
.resizer_cont > span:hover{
	background-color: rgba(0, 0, 0, 0.2);
}
.elApp{
	position:absolute;
	opacity:0.7;
	border-radius:5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor:pointer;
	text-align:left;
	padding:0 5px;
	min-height:20px;
	z-index:10;
}
#scheda .elApp:not(#inLavorazione){
	opacity:0.3 !important;
}
#ag .elApp:hover{
	opacity:1 !important;
}
#inLavorazione{
	z-index:1000 !important;
	opacity:1 !important;
	cursor:pointer !important;
	background-color:rgba(255,204,0,.42) !important;
	border-left: 3px solid rgb(167, 135, 11) !important;
	/* background-color:rgba(80,155,255,.42) !important;
	border-left: 3px solid rgb(11, 115, 167) !important; */
	font-weight: bold;
	text-align:left;
}
#inLavorazione:hover{
	background-color:rgba(255,204,0,.62) !important;
	/* background-color:rgba(80,155,255,.62) !important; */
}
#ttAgenda,
#ttLav{
	position: relative;
	margin-top: -22px;
	height: 22px !important;
	line-height: 22px !important;
	text-align: right;
	margin-right: 18px;
	font-size: var(--font-12-1);
}
.touch #ttAgenda{
	position: absolute;
	display:inline-block;
	margin-right: 0px !important;
	margin-left: -5px !important;
	padding:0px 6px 0px 6px !important;
	border-radius:6px;
	text-align: left !important;
	background-color:rgba(255,255,255,.5);
}
#ttLav{
	font-style:normal !important;
	color:#000 !important;
	opacity: 1 !important;
	font-size:inherit !important;
}
.eviDrag{
	box-shadow:0 0 7px rgba(66, 145, 235, 0.45);
}
.eviDrag .resizer_cont > span{
	cursor:ns-resize;
}
#inLavorazione.evi_drag,
.eviDrag.evi_drag{
	cursor:move !important;
}
.eviDrag.evi_resize,
.resizer_cont > span{
	cursor:ns-resize !important;
}
#agCont.noScroll,
.agendaCol.noScroll{
	overflow-y:hidden !important;
}
#lineaAdesso{
	position: absolute;
	width: calc(100% - 27px);
	background-color: #C00;
	text-align: left !important;
	height: 1px !important;
	padding:0 !important;
	margin:0 0 0 27px !important;
	z-index:0;
}
#lineaAdesso > span{
	width:7px !important;
	height: 7px !important;
	border-radius:4px !important;
	background-color: #C00 !important;
	margin-top:-3px !important;
	border:none !important;
}
#cancellaOrario{
	vertical-align: top;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('../img/ico_cestino.png') left center no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 10px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 151, 0, 0.2);
	opacity: 0.5;
	cursor:pointer;
}
#cancellaOrario:hover{
	opacity:0.8 !important;
}
.smart #cancellaOrario{
	padding: 20px;
    margin-top: 10px;
	vertical-align:middle;
}

.pallinoAgenda{
    width: 10px !important;
    height: 10px !important;
    background-color: rgb(0, 102, 255) !important;
    display: inline-block !important;
    border-radius: 5px !important;
    float: left !important;
    margin-top: 5px !important;
    box-shadow: 0px 0px 3px #000 !important;
}
body:not(.smart) #notificaAgenda.pallinoAgenda{
	margin-left: -16px !important;
    margin-top: 8px !important;
}
.smart .pallinoAgenda{
	margin-left: 37px !important;
    margin-top: 3px !important;
}


/* calendario */
.contCal{
	display:none;
    z-index: 1500;
    width: 360px;
    left: 168px;
    overflow: hidden;
    background-color: #EEE;
}
#calAgenda{
    box-shadow: 0px 0px 5px #000;
    border-radius: 3px;
    position: absolute;
}
#calAppuntamento,
#calTrattamento{
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0,50,150,0.5);
	margin-bottom: 20px;
}


#agCont #calAgenda{
	top:48px;
    position: fixed !important;
}
.SCH:not(#agCont) #calAgenda{
    top: 104px;
}
.smart #calAgenda{
	left: 50% !important;
	margin-left:-180px !important;
}
@media (max-width: 360px){
	.smart .contCal{
		width:100% !important;
		margin-left:0px !important;
	}
	.smart #calAgenda{
		left:0px !important;
		border-radius:0px !important;
		top:48px !important;
	}
}
.calMese{
	width:calc(100% - 102px);
	height:51px;
	text-align:center;
	display:block;
	float:left;
	vertical-align:middle;
	line-height:51px;
	font-size: var(--font-16-5);
	background-color:#444;
	color:#FFF;
}
#calPre,
#calNext{
	width: 51px;
	height: 51px;
	background-color:#333;
	cursor:pointer;
	display:block;
	float:left;
	vertical-align:middle;
	text-align:center;
}
#calTesta svg{
	width: 30px;
    height: 41px;
    margin: 5px;
}
#calTesta svg polyline{
	fill:none;
	stroke:#DDD;
	stroke-width:3;
	stroke-linecap:round;
	stroke-linejoin:round;
}
.calInt div, .calGiorni div{
	float:left;
	box-sizing:border-box;
	text-align:center;
	background-color:#FFF;
}
.calInt div {
	height: 32px !important;
	line-height: 32px !important;
	background-color: rgba(0,0,0,0.1);
	width: calc(100% / 7);
}
.calGiorni div {
	height: 46px !important;
	line-height: 46px !important;
	cursor: pointer;
	margin:1px !important;
	width:calc((100% - 14px) / 7);
	font-size: var(--font-19-8);
}
.calGiorni div:hover:not(.calInact):not(.hSel){
	background-color:#FFC !important;
}
.festivo{
	color:#C00;
}
.calInact{
	background-color:rgba(255,255,255,0.5) !important;
	cursor:default !important;
}
.chiudiCal{
	width: 32px;
    height: 32px;
    background-image: url(../img/chMenuB.png);
    background-position: center center;
    background-size: contain;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 8px;
    background-color: #fff;
    border-radius: 4px;
}
#agCont .chiudiCal{
    margin-left: 138px;
    position: fixed !important;
}
.scheda_stampa .chiudiCal{
	margin-left: 269px;
}
body:not(.smart) #agCont .chiudiCal{
    left: 348px;
}

.smart .chiudiCal{
    left: 50%;
}
.contCal:not(#calAgenda) .chiudiCal{
	display:none;
}
.smart .contCal:not(#calAgenda){
	position: relative;
	left: 50%;
	margin-left: -180px;
}

@media (max-width: 650px){
	body:not(.smart) #agendaTesta{
		width: calc(100% - 48px) !important;
	}
	body:not(.smart) #agCont .agendaOre{
		width: 100% - 48px !important;
	}
	body:not(.smart) .contCal{
		left: 50% !important;
		margin-left:-156px !important;
	}
}
.smart #agendaTesta{
	width: 100% !important;
}
.smart #agCont .agendaOre{
	width: 100% !important;
}











/* contenitore agenda generica */
#cont_sceltaAppuntamento{
	position: fixed;
    margin-left: 15px !important;
    background-color: #FFF;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
    display: none;
    margin-left: -15px;
    z-index: 10000;
    top: 15px;
	text-align: left;
}
body:not(.smart) #cont_sceltaAppuntamento{
    width: 570px;
}
.smart #cont_sceltaAppuntamento{
	width: calc(100% - 30px);
}
#cont_sceltaAppuntamento p{
	margin-top:0px;
}
#scheda_testo #cont_sceltaAppuntamento{
	width: 400px;
	top: 69px;
	margin-left: 0px !important;
	text-align: center;
}
#scheda_testo #cont_sceltaAppuntamento p{
	line-height:30px;
	text-align: center !important;
}
#app_elenco:not(.serv_elenco){
	height:150px;
	background-color:rgba(0,0,0,0.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
	overflow-y:auto;
	margin-bottom:10px;
	border:1px solid rgba(0,0,0,0.3);
}
#app_elenco > div{
    line-height: 40px;
    height: 40px;
    padding-right: 15px;
	background-position:right center, left center;
	background-repeat:no-repeat;
	background-size:contain, auto 30px;
	cursor:pointer;
}
#app_elenco > div:not(.torna):not(.converti):not(.app_cart):not(.app_serv){
    padding-left: 35px;
	border-bottom:1px solid rgba(0,0,0,0.2);
	background-image:url(../img/frDxB.png), url(../img/ico_cliente.png);
}
#app_elenco > div.torna{
	line-height: 38px !important;
    height: 38px !important;
    padding-left: 40px;
    background-image: url(../img/ico_clienteB.png);
    background-position: 1px center;
    background-color: #f38f27;
    background-size: auto;
    color: #FFF;
}
#app_cliente .converti{
	line-height: 38px !important;
    height: 38px !important;
    padding-right: 40px;
    background-image: url(../img/ico_trattamento_add.png), url(../img/frDxB.png);
    background-position: 5px center, right center;
    background-color: rgba(0,0,0,0.1);
    background-size: auto, contain;
    color: #000;
    display: none;
    float: right;
    background-repeat: no-repeat;
    padding-left: 38px;
    border-radius: 7px;
	cursor:pointer;
}
#app_cliente.clienteScelto .converti{
    display: inline-block !important;
}
#app_cliente .converti:hover{
	background-color: rgba(0,0,0,0.15) !important;
}
#app_elenco > div.app_cart,
#app_elenco > div.app_serv{
    padding-left: 35px;
    background-position: left center, calc(100% - 10px) center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-right: 0px;
    background-size: auto 30px, auto;
}
#app_elenco > div.app_cart{
    background-image: url(../img/cartella.png);
}
#app_elenco > div.app_serv{
    background-image: url(../img/ico_servizio.png), url(../img/piu.png);
}
#app_elenco > div.app_serv .btn_invia,
#app_elenco > div.app_cart .btn_invia{
    float: right;
    margin: 5px;
}
.serv_nrsed{
	float:right;
	margin-right:30px;
	display:inline-block;
}
#app_elenco > div:last-child{
	border-bottom:none !important;
}
#app_elenco > div:not(.torna):not(.converti):not(.app_ricerca):hover{
	background-color:rgba(0,0,0,0.1);
}
#app_elenco > div.torna:hover{
	background-color:#dd852a;
}
.btnApp{
	text-align:right;
	padding: 5px;
}
.btnApp .btn_invia{
	margin-right:0px;
	margin:0px;
}
#app_ricerca{
	line-height: 30px !important;
    background-color: rgba(0,0,0,0.8);
    padding-left: 0px !important;
    background-image: none !important;
    padding-right: 0px !important;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.app_top{
    height: 32px !important;
    width: 100%;
}
#app_ricerca_testo,
#TestoAppuntamento{
	width:100%;
	background-color:#FFF;
	border:1px solid rgba(0,0,0,0.8);
	border-radius:3px;
	padding-left:5px;
	height: 31px;
    line-height: 30px;
}
#app_ricerca_testo{
	width: calc(100% - 30px);
}
#TestoAppuntamento{
	width:100%;
}
#dataAgenda{
	display:inline-block;
	vertical-align: middle;
	cursor:pointer;
	border-radius: 3px;
	padding: 3px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: rgba(255, 255, 255, 0.5) url(../img/inpbg4.png) no-repeat right bottom;
	background-size: 15px;
	padding-top: 0px;
	padding-left: 8px;
	padding-right: 21px;
	/* margin-left: 5px; */
	margin-right: 5px;
	line-height: 28px;
	height: 30px;
}
.smart #dataAgenda{
	height: 40px;
	line-height: 40px;
	padding-right: 11px;
	font-size:var(--font-16-5);
}
#salvaAppuntamento{
	width:80px;
}
.app_pulsanti{
   text-align:right;
   margin:0px;
}
.app_pulsanti span:first-child{
   	font-size: var(--font-19-8);
    font-style: italic;
    float: left;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
.btnSw{
    background:url(../img/frDxB.png) left center no-repeat;
	background-size: 39px;
	height: 40px;
	line-height: 40px !important;
    padding-left: 39px;
    padding-right: 25px;
    cursor: pointer;
    display: inline-block;
	vertical-align:middle;
}
#app_generico,
#app_cliente{
	display:none;
}
#app_generico{
	margin-bottom:10px;
}
#app_elimina{
   	background:url(../img/ico_cestino.png) left center no-repeat;
    padding-left: 23px;
    padding-right: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#app_cliente_btn{
	display:none;
}
.chCliApp{
	width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -2px;
	cursor:pointer;
}
#chCliApp_scelto{
	display: none;
    vertical-align: middle;
    margin-top: -9px !important;
    margin-left: 3px;
}
.clienteScelto #chCliApp_scelto{
    display:inline-block !important;
}
.clienteScelto #app_elenco{
    height: 40px !important;
}
.clienteScelto #app_ricerca{
    display:none;
}
.clienteScelto,
.clienteScelto #app_elenco{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;	
	overflow:hidden !important;
}

.clienteScelto,
.clienteScelto #app_elenco,
.clienteScelto #app_elenco #torna{
	width: auto !important;
    display: inline-block;
	vertical-align:middle;
}






#ag{
	position:fixed;
	height: calc(100% - 50px);
	top:0px;
	border-bottom-right-radius: 6px;
	display:none;
}
body:not(.smart) #ag{
	width:600px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	left:48px;
	z-index:18;
}
.smart #ag{
	width:100%;
}
.smart #ag{
	padding-bottom: 35px !important;
	z-index:1500 !important;
	bottom: 64px;
    height: calc(100% - 64px) !important;
}

#labelAg{
	height:40px;
	line-height:40px;
	color:#FFF !important;
	font-weight:bold;
  	border-top-right-radius:5px;
	background-image:url(../img/m_agenda.png);
	background-repeat:no-repeat;
	background-position:4px center;
}
.smart.android #labelAg{
	font-size: var(--font-18);
}
.app_version.bug_font.smart.android #labelAg{
	font-size: var(--font-16-29) !important;
}
#chiudi_ag{
	height:40px;
	background-image:url(../img/chMenu.png);
	float:right;
    margin-left: -40px;
	background-size:80%;
	width:40px;
	background-repeat:no-repeat;
	background-position:center center;
	vertical-align:top;
	cursor:pointer;
}
.smart #chiudi_ag{
	background-size: auto;
}

@media (max-width: 650px){
    #ag{
		height:100% !important;
	}
    body:not(.smart) #ag{
		width: calc(100% - 48px) !important;
	}
    .smart #ag{
		width: 100% !important;
	}
	#ag,
	#agCont{
		border-bottom-right-radius: 0px !important;
	}
	body:not(.smart) .chiudiCal{
		left: calc(50% + 24px) !important;
	}
}

#ag{
	background-color:var(--colore-grigio-topo);
}
#agTesto{
	color:#333;
	width:100%;
	box-sizing:border-box;
}
#agCont{
    width: 100%;
    position: relative;
    border-bottom-right-radius: 6px;
    overflow-y: auto;
    margin-top: 51px;
}
body:not(.smart) #agCont{
    height: calc(100% - 91px);
}
.smart #agCont{
    height: calc(100% - 56px);
}


/* TIME BOXES*/
.inputTimeBox{
	display:inline-block;
	vertical-align: middle;
	width: 66px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: rgba(255, 255, 255, 0.5) url(../img/inpbg4.png) no-repeat right bottom;
	background-size: 15px;
}
.inputTimeBox::placeholder{
	opacity:1 !important;
	font-style:italic !important;
}
.smart .inputTimeBox{
	height: 40px;
	line-height: 40px;
	font-size:var(--font-16-5);
}
.inputTimeBox.error{
	border: 1px solid #C00 !important;
}
.inputTimeBox.sel{
	outline:3px solid rgba(0,100,200,0.3);
}
.inputTimeBox.sel.error{
	outline:3px solid rgba(200,0,0,0.2) !important;
}
#elTimeList{
	position:fixed;
	z-index:10000;
	width:66px;
	height:150px;
	background-color:#FFF;
	border:1px solid rgba(0, 0, 0, 0.3);
	border-radius:3px;
	overflow-y:auto;
}
.smart #elTimeList{
	height:200px;
}
#elTimeList > span{
	display:block;
	line-height:30px;
	height:30px;
	text-align:center;
	cursor:pointer;
}
.smart #elTimeList > span{
	line-height:40px;
	height:40px;
	font-size:var(--font-16-5);
}
#elTimeList > span:hover{
	background-color: rgba(0, 0, 0, 0.05);
}
#elTimeList > span.hidden{
	display:none;
}
#icoTime,
#frTime{
	display: inline-block;
	vertical-align: middle;
}
#icoTime{
	margin:7px;
}



-->