@charset "utf-8";
/* CSS Document */
	/* Versioni Anatomy Map */
	.AM #poweredby_inizio{
		position:fixed;
		z-index:10000000;
		width:100%;
		height:60px;
		bottom:10px;
		left:0px;
		background-image:url(../img/logo_iaomai_white4.png);
		background-position:center center;
		background-repeat:no-repeat;
		background-size:auto 40px;
		font-size:10px;
		color:rgba(255,255,255,0.5);
		opacity:0.7;
	}
	
	.AM #elenchi,
	.AM_light #elenchi,
	.AM #scarica_modello,
	.AM_light #scarica_modello,
	.AM #l1,
	.AM_light #l1,
	.AM #l2,
	.AM_light #l2,
	.AM #l3,
	.AM_light #l3,
	.AM #p_download,
	.AM_light #p_download,
	.AM #p_notifiche,
	.AM_light #p_notifiche,
	.AM #p_stampa,
	.AM_light #p_stampa,
	.AM #btnMenuScheda,
	.AM_light #btnMenuScheda{
		display:none !important;
		visibility: hidden !important;
	}
	
	.AM #scheda:not(.visSch) #scheda_cont,
	.AM_light #scheda:not(.visSch) #scheda_cont{
		padding-top:0px !important;
	}


	.AM #guida_anatomia,
	.AM_light #guida_anatomia{
		top: 50px !important;
		z-index: 100 !important;
	}	
	.AM #icone > div,
	.AM_light #icone > div{
		display:none !important;
	}
	
	.AM #p_impostazioniAM,
	.AM_light #p_impostazioniAM{
		position:fixed;
		bottom:0px;
		left:0px;
		z-index:10;
		width:50px;
		height:50px;
		background-position: center center;
		background-image: url(../img/m_ingranaggio.png);
	}
	.AM.bodyStyled2 #p_impostazioniAM,
	.AM_light.bodyStyled2 #p_impostazioniAM{
		background-image: url(../img/m_ingranaggioN.png);
	}
	.AM #cont_menu,
	.AM_light #cont_menu{
		bottom: 0px !important;
	}
	.AM #scheda:not(.visSch),
	.AM_light #scheda:not(.visSch){
		display:none !important;
	}
	.AM #impostazioni,
	.AM_light #impostazioni{
		float:left !important;
		border-top-left-radius:0px !important;
		border-top-right-radius:5px !important;
	}
	/*.AM #icone > div#p_impostazioni,
	.AM_light #icone > div#p_impostazioni{
		width: 54px;
		display: block;
		position: fixed;
		bottom: 0px;
	}*/
	.AM #guida_anatomia .fumetti_freccia,
	.AM_light #guida_anatomia .fumetti_freccia{
		background-position: 11px bottom !important;
		background-image:url(../img/guideFrDiag.png) !important;
	}	
	
/* LOGHI AM */
body.AM:not(.bodyModello):not(.bodyStyled1):not(.bodyStyled2){
	background-image:url(../img/logo_AM_Bucato_Nero.png), url(../img/ombra.png) !important;
}
body.AM:not(.bodyModello).bodyStyled1{
	background-image:url(../img/logo_AM_Bucato_Blu.png), url(../img/ombra.png) !important
}
body.AM:not(.bodyModello).bodyStyled2{
	background-image:url(../img/logo_AM_Bucato_Beige.png), url(../img/ombra.png) !important;
}
.AM #logoSovra{
    background-image: url(../img/logo_AM_white.png) !important;
}
.AM #logo_inizio{
	height:110px !important;
	margin-top:-110px !important;
	background-image: url(../img/logo_AM_blue.png) !important;
	background-size: auto 110px !important;
}


/* LOGHI AM light */
.AM_light #logoSovra{
    background-image: url(../img/logo_AM_light_white.png) !important;
}
.AM_light #logo_inizio{
	height:110px !important;
	margin-top:-110px !important;
	background-image: url(../img/logo_AM_light_blue.png) !important;
	background-size: auto 110px !important;
}

.AM #p_piuma,
/*.AM #p_centro,*/
.AM_light #p_piuma/*,
.AM_light #p_centro*/{
	display: none !important;
	visibility: hidden !important;
	height:5px !important;
	overflow:hidden !important;
}

@media (max-width: 360px){
	.AM #logo_inizio,
	.AM_light #logo_inizio{
		background-size: 80% auto !important;
	}
}