@charset "utf-8";
/* CSS Document */

.android #el_visceri p,
.android #el_ossa p,
.android #el_aree p,
.android #el_vasi p,
.android #el_muscoli3d p,
.android #el_legamenti p{
	font-size: var(--font-14-3) !important;
	height:30px !important;
	line-height:30px !important;
	border-radius:15px !important;
}
/* .android #legende div{
	font-size: var(--font-12-1) !important;
    height: 30px !important;
    line-height: 30px !important;
    padding-right: 34px !important;
    padding-left: 15px !important;
} */
.android .popup input[type='text'],
.android .popup input[type='email'],
.android .popup input[type='password'],
.android .popup select{
	height:32px !important;
	line-height:32px !important;
	font-size: var(--font-17-6) !important;
}
.android .popup#login input[type='text'],
.android .popup#login input[type='password'],
.android .popup#recupero input[type='text'],
.android .popup#recupero input[type='password']{
	height:45px !important;
	line-height:45px !important;
}
.android #CNF_titolo,
.android #CNF_btns button{
	font-size: var(--font-17-6) !important;
}
.android #CNF_btns button{
	line-height:32px !important;
}