#console2{
	position:fixed;
	z-index:1200000;
	left:10px;
	top:6px;
	width:130px;
	height:130px;
	display:block;
	border-radius:10px;
	background-color:#FC0;
}
#console{
	position:fixed;
	z-index:1200000;
	left:0px;
	bottom:0px;
	width:30px;
	height:30px;
	display:block;
	border-radius:10px;
	background-color:rgba(255,255,255,0.3);
}
.consoleOpened{
	width:100% !important;
	height:300px !important;
	border-radius:0px !important;
	overflow-y:auto !important;
	background-color:rgba(255,255,255,0.9) !important;
}
#console_tit{
	border-bottom:1px solid rgba(0,0,0,0.2);
	height:30px;
	line-height:30px;
	width:30px;
	overflow:hidden;
}
#console_tit div:first-child{
	display:inline-block;
	float:left;
	height:30px;
	font-size:10px;
	color:#000 !important;
}
.consoleOpened #console_tit{
	width:auto !important;
}
#console_close{
	display:inline-block;
	float:right;
	height:30px;
	padding-left:10px;
	border-left:1px solid #CCC;
	padding-right:10px;
	font-weight:normal !important;
	font-size:10px !important;
	color:#FFF !important;
	background-color:#999;
}
#console_refresh{
	display:inline-block;
	float:right;
	height:30px;
	padding-left:15px;
	padding-right:15px;
	border-left:1px solid #CCC;
	font-weight:normal !important;
	font-size:10px !important;
	color:#000 !important;
	background-color:rgba(200,200,200,0.9);
}
#console_log{
	font-size:10px !important;
	padding:10px;
	overflow-y:auto !important;
	text-align:left !important;
	height:240px !important;
	line-height:16px !important;
	font-weight:normal !important;
	color:#000;
}
#console_command{
	height:30px !important;
}
#command{
	width:100%;
	font-size:11px !important;
	font-weight:normal !important;
	color:#000;
	height:30px !important;
	line-height:30px !important;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	padding-left:6px;
	border:none;
	border-top:1px solid #999;
}
#console_log b{
	color:#09C;
	font-size:10px !important;
}