@charset "utf-8";
/* CSS Document */

/* GENERICHE */


/* INTESTAZIONE */
body:not(.smart) #btnCarMapMenu,
.smart #elenchi #btnCarMapMenu{
	display:block;
	text-align:left;
	background-color:transparent;
	box-shadow:none;
	font-weight:normal;
	height:40px;
	line-height:40px;
	color:#666;
	margin:4px;
	cursor:pointer;
}
.smart.android #elenchi #btnCarMapMenu{
	margin-bottom: 20px;
}
.app_version.bug_font.smart.android #elenchi #btnCarMapMenu{
	margin-bottom: 18.10px !important;
}

body:not(.smart) #btnCarMapMenu i span,
.smart #elenchi #btnCarMapMenu i span{
	display:none;
}
#btnCarMapMenu{
    padding-left: 15px;
}
#btnCarMapMenu,
#btnCarMapMenu > span{
    font-size: var(--font-23-1) !important;
    color: rgba(0,0,0,0.6);
}
body:not(.smart) #chiudiSet,
body:not(.smart) #chiudiCliente,
.smart #elenchi #chiudiSet,
.smart #elenchi #chiudiCliente{
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 54px;
    background-position: 14px center, calc(100% - 6px)center;
    background-repeat: no-repeat;
    background-image: url(../img/ico_quit4.png);
    background-size: auto 32px, auto 50px;
    cursor: pointer;
    margin-right: 14px;
    height: 36px;
    opacity: 1;
    margin-left: -25px;
    margin-top: 1px;
	border-right:1px solid rgba(0,0,0,0.1);
}
body:not(.smart) #chiudiSet:hover,
body:not(.smart) #chiudiCliente:hover,
.smart #elenchi#chiudiSet:hover,
.smart #elenchi #chiudiCliente:hover{
    background-image: url(../img/ico_quit4Over.png) !important;
}
body:not(.smart) #impostazioniSet,
.smart #elenchi #impostazioniSet{
	float: right;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background-image: url(../img/p_impostazioniN.png);
    background-position: center center;
    background-size: auto 25px;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.5;
}
.smart #elenchi #impostazioniSet{
	background-size: auto 32px;
	opacity:0.8;
	margin-right:3px;
}
body:not(.smart) #help_set,
.smart #elenchi #help_set,
#fumetti_testo #help_set,
#help_clienti,
.popup_help,
.help_sets,
.smart #help_set{
	border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 17px;
    float: right;
    text-align: center;
    color: rgba(0,0,0,0.7);
    border: 1px solid rgba(0,0,0,0.35);
	cursor:pointer;
    margin-top: 7px;
    margin-right: 4px;
	font-size: var(--font-18-7) !important;
	font-weight:bold !important;
	font-style: normal !important;
}
.popup_help{
	margin-right: 36px;
    margin-top: 10px;
    margin-left: -56px;
}
.help_white{
	border-color:#FFF !important;
	color: #FFF !important;
}
.app_version.bug_font.smart.android #elenchi #help_set,
.app_version.bug_font.smart.android #fumetti_testo #help_set,
.app_version.bug_font.smart.android #help_clienti,
.app_version.bug_font.smart.android .popup_help,
.app_version.bug_font.smart.android .help_sets,
.app_version.bug_font.smart.android #help_set{
    line-height: 15.57px !important;
	font-size: var(--font-16-93) !important;
}
#help_clienti,
.smart #help_set{
    margin-top: 6px;
    margin-right: -13px;
}
.help_sets{
    margin-top: 0px;
    margin-right: 0px;
}
#fumetti_testo #help_set{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
	float: none;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px !important;
}
.elMenu{
	height:39px;
	line-height:39px;
	display:inline-block;
}
.smart.android .elMenu{
	height:41px;
	line-height:41px;
}
.app_version.bug_font.smart.android .elMenu{
	line-height:37.56px !important;
}
body:not(.smart) .elMenu{
	opacity:0.8;
}
body:not(.smart) .elMenu:not(.anamnesiBtn):hover{
	opacity:1 !important;
}


/* ELENCHI */
.vis_base #lista_set,
.vis_base #pulsanti_set,
.vis_set #lista_base,
.vis_set #pulsanti_base,
body:not(.smart) #pulsante_agenda{
	display:none;
}
#elenchi{  /* il contenuto globale del menu elenchi_linguette + elenchi_cont */
	position:fixed;
	z-index:19;
	top:0px;
	height:100%;
	display:none;
}
.smart #elenchi{
	left: 0px;
}
.smart #elenchi.compressi{
	overflow:hidden;
	height:54px;
}
body:not(.smart) #elenchi{
	left: 48px;
}
	
@media (min-width: 801px){	
	#elenchi_cont{
		box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
	}
}
@media (max-width: 800px) and (hover: hover) and (pointer: fine){	
	#elenchi_cont{
		box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
	}
}
#elenchi_linguette{
	position: absolute;
	margin-left: -32px;
	overflow: hidden;
	text-align: right;
	padding-top:80px;
}
#elenchi_linguette div {
	display: none;
	background-color: var(--menu-linguette);
	width: 22px;
	height: 32px;
	padding-top: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
	box-shadow: var(--menu-linguette-ombra);
}		
#elenchi_linguette div line{
	stroke:#000;
	stroke-linecap: round;
	stroke-width: 2px;
}
.bodyStyled2 #elenchi_linguette div line{
	stroke:#FFF;
}
.linguettaSel line,
#elenchi_linguette div:hover line{
	stroke:var(--schede-icone-over) !important;
}
#elenchi_cont{
	background: var(--menu-fondino);
	height:100%;
	width: var(--menu-width);
	display:none;
	float:left;
}
#elenchi_contenuti{ /* ????? */
	width:500px;
	float:left;
	display:none;
}
.smart #elenchi_testa{
    width: fit-content;
}
.smart #elenchi.noTesta #elenchi_testa{
   display:none;
}
.smart #elenchi #elenchi_testa #chiudiElenco{
   	position: fixed;
    background-color: transparent;
    box-shadow: none !important;
    background-image: url(../img/chMenuB.png);
    width: 41px !important;
    height: 40px !important;
    right: 0px;
    top: 0px;
    background-size: auto;
	opacity: 1;
}
#elenchi_titolo{ /* il titolo nel 2° livello */
	height: 50px;
    line-height: 42px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 14px;
    padding-left: 50px;
    background: url(../img/frSxB.png);
    background-size: contain, auto 100%;
    background-repeat: no-repeat, repeat-y;
    background-position: left center, center center;
    cursor: pointer;
    display: none;
    text-align: right;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-23-1);
    color: rgba(0,0,0,0.6);
}
/*#elenchi_titolo.clientAtt{
    background-image: url(../img/ico_quit4.png) !important;
	background-size:auto 32px !important;
	background-position:8px 7px !important;
}
#elenchi_titolo.clientAtt:hover{
    background-image: url(../img/ico_quit4Over.png) !important;
}*/
#elenchi_icona{
	vertical-align: middle;
    margin-left: 10px;
    opacity: 0.3;
}
#titolo_base{
	height: 44px;
    line-height: 42px;
    text-align: left;
    padding-left: 15px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-23-1);
    color: rgba(0,0,0,0.6);
    display: block;
    padding-right: 20px;
}
.smart.android #titolo_base,
.smart.android #elenchi_titolo,
.smart.android #btnCarMapMenu span{
	font-size: var(--font-28) !important;
}
.app_version.bug_font.smart.android #titolo_base,
.app_version.bug_font.smart.android #elenchi_titolo,
.app_version.bug_font.smart.android #btnCarMapMenu span{
	font-size: var(--font-25-35) !important;
}
.smart #titolo_base,
.smart #btnCarMapMenu{
	margin-top: 5px;
	width: calc(100% - 35px);
}
#descrizione_base{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
	font-size: var(--font-12-1);
	color: rgba(0,0,0,0.6);
    display: block;
}
#chiudiElenco{
	width: 25px;
    height: 31px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    float: right;
    margin-right: -25px;
    background-color: var(--impostazioni-fondino);
    border-radius: 0px 5px 5px 0px;
	margin-top:1px;
}
.schLato #chiudiElenco{
    height: 200px;
    position: absolute;
    left: 300px;
    border-top-right-radius: 8px;
    background-position: -15px center;
    width: 15px;
    background-size: 47px;
    top: 50%;
    margin-top: -100px;
	background-color:var(--colore-grigio-scuro);
    background-image: url(../img/frSx.png) !important;
}
body.bodyStyled0 .schLato #chiudiElenco{
	background-color:var(--colore-beige);
    background-image: url(../img/frSxB.png) !important;
}
/*body.bodyStyled2 .schLato #chiudiElenco{
    background-image: url(../img/frSx.png) !important;
}
body:not(.bodyStyled2) .schLato #chiudiElenco{
    background-image: url(../img/frSxB.png) !important;
}*/
.smart #chiudiElenco{
	padding: 0px;
    height: 27px;
    line-height: 27px;
    margin: 0px;
    margin-left: 5px;
    text-align: center;
    width: fit-content;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0px;
    background-color: var(--schede-fondino);
    box-shadow: 0px 0px 3px #000;
    float: none;
    width: 30px !important;
    background-position: 1px center !important;
}
.bodyStyled2 #chiudiElenco{
    opacity: 0.6;
    background-image: url(../img/chMenu.png);
}
body:not(.bodyStyled2) #chiudiElenco{
    opacity: 0.8;
    background-image: url(../img/chMenuB.png);
}
#chiudiElenco:hover{
	opacity: 1 !important;
}
.titoloAperto{
	background: url(../img/chMenu.png),linear-gradient(to bottom, #333 0%,#0a0a0a 100%);
}
#elenchi_pulsanti{
	display:none;
}
#pulsanti_base div,
#pulsanti_set div{ /* i pulsanti del menu radice */
	height:40px;
	line-height:40px;
	color:#000;
	font-weight:bold;
	margin: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: right center;
    text-align: left;
    padding-left: 15px;
	padding-right: 40px;
	cursor:pointer;
}
.smart.android #pulsanti_base div,
.smart.android #pulsanti_set div{
	height: 50px !important;
    line-height: 50px !important;
	margin: 5px;
	margin-left: 10px;
    margin-right: 10px;
	font-size: var(--font-16-93);
}
.app_version.bug_font.smart.android #pulsanti_base div,
.app_version.bug_font.smart.android #pulsanti_set div{
    line-height: 45.80px !important;
	font-size: var(--font-15-39) !important;
}
.smart #pulsanti_base div,
.smart #pulsanti_set div{
	font-weight: normal !important;
}
#pulsante_agenda{
	background-image: url(../img/ico_agendaM.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%);
    background-size: auto, auto 100%;	
}
#pulsante_agenda:hover{
	background-image: url(../img/ico_agendaM.png), linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;
}
#elenchi_lista .elencoSel:not(.frdxtratt){
	background-image: linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
	color:#FFF;
}
#elenchi_lista .elencoSel.frdxtratt{
	background-image: url(../img/ico_trattamenti2B.png), none, linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
	color:#FFF;
}
#elenchi_lista .elencoSel *{
	color:#FFF;
}
#elenchi_lista{
	overflow-y:hidden;
    height: calc(100% - 50px);
    position: absolute;
    width: 100%;
	display:none;
}
.lista{
	overflow-y:auto;
    width: 100%;
    position: absolute;
    background-color:var(--menu-lista-f);
	border-top:1px solid rgba(0,0,0,0.3);
}
.lista .noResults{
	text-align: center !important;
	box-shadow: none !important;
	min-height: 75px;
}
#lista_base > div, #lista_set > div{
	display:none;
}
.lista > div:not(.loading):not(.menuElenchi){
	height:36px;
	color:#000;
	line-height:36px;
	text-align:left;
	cursor:pointer;	
	margin: 3px;
    border-radius: 5px;
	padding-left:15px;
	padding-right:15px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
    background-color: #FFF;
	background-repeat: no-repeat;
	background-position: right center;
	box-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
}

.smart.android .lista > div:not(.loading):not(.menuElenchi){
	height: 50px;
    line-height: 50px;
	margin: 5px;
}
.app_version.bug_font.smart.android .lista > div:not(.loading):not(.menuElenchi){
    line-height: 45.8px !important;
}
.smart:not(.android) .lista > div:not(.loading):not(.menuElenchi){
	height: 40px;
    line-height: 40px;
	margin: 5px;
}
.app_version.bug_font.smart:not(.android) .lista > div:not(.loading):not(.menuElenchi){
    line-height: 36.64px !important;
}
.smart .lista > div:not(.loading):not(.menuElenchi) b{
	font-weight:normal !important;
}
.smart.android .lista > div:not(.loading):not(.menuElenchi),
.smart.android .lista > div:not(.loading):not(.menuElenchi) *{
	font-size: var(--font-16-93);
}
.app_version.bug_font.smart.android .lista > div:not(.loading):not(.menuElenchi),
.app_version.bug_font.smart.android .lista > div:not(.loading):not(.menuElenchi) *{
	font-size: var(--font-15-39) !important;
}
.smart:not(.android) .lista > div:not(.loading):not(.menuElenchi),
.smart:not(.android) .lista > div:not(.loading):not(.menuElenchi) *{
	font-size: var(--font-13-2);
}
.app_version.bug_font.smart:not(.android) .lista > div:not(.loading):not(.menuElenchi),
.app_version.bug_font.smart:not(.android) .lista > div:not(.loading):not(.menuElenchi) *{
	font-size: var(--font-13-58) !important;
}
.elencoSel{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

/* CARTELLE */
.cartelle{
	background-color:#FFF;
}
.cartelle > div:not(#titCartelle) > div{
	background-image: url(../img/cartellaClinicaG.png), url(../img/frDxB.png);
    background-repeat: no-repeat;
    background-position: left center, calc(100% - -4px) center;
    background-size: auto, auto 113%;
    height: 36px;
    line-height: 36px;
    padding-left: 35px;
    padding-right: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	cursor:pointer;
}
.cartelle #elencoCartelle{
	overflow-y: auto;
    height: calc(100% - 32px);
}
.cartelle > div:not(#titCartelle) > div:hover{
	background-color:#eee;
}
#titCartelle{
	color:#FFF;
    height: 32px;
    line-height: 32px;
	padding-left:14px;
	font-weight:bold;
	background-color:#666;
	border-radius: 3px 3px 0px 0px;
}
#titCartelle span{
	position:absolute;
	right:0px;
	width:32px;
    height: 32px;
	background-image:url(../img/chMenu.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
	cursor:pointer;
}
.cartella{
	padding:0px !important;
	padding-bottom: 1px !important;
}
.cartellaSingoli,
.cartellaSingoli .trattTools{
	background-color: #fdebd6 !important;
}
.cartella > span{ /* label */
	display:block;
	width:100%;
	height:36px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-left:15px;
	padding-right:35px;
	background-repeat:no-repeat, repeat-x;
	/*background-position:right center, center center;*/
	background-position:right top, center center;
	background-size:auto 36px, auto;
}
.cartella:not(.cartellaSingoli) > span{
	background-image:url(../img/frGiuB.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%);
}
.cartellaSingoli > span{
	background-image: url(../img/frGiuB.png), linear-gradient(to bottom, #fdebd6 0%,#dccab8 100%);
}
.smart.android .cartella > span{
	height:50px !important;
	background-position:right center, center center;
	background-size:auto 46px, auto;
}
.smart:not(.android) .cartella > span{
	height:40px !important;
}
.cartella:not(.cartellaSingoli):not(.cartellaAperta) > span:hover{
	background-image:url(../img/frGiuB.png), linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;
}
.cartellaSingoli:not(.cartellaAperta) > span:hover{
	background-image:url(../img/frGiuB.png), linear-gradient(to bottom, #fdebd6 0%,#d5bea7 100%) !important;
}
.cartellaAperta{
	height:auto !important;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
}
.cartellaAperta > span{
	background-image:url(../img/frSuB.png) !important;
	height: 25px !important;
}
.lista:not(.listaTrattamenti) .cartellaAperta > span{
	height: 36px !important;
}
.smart.android .lista:not(.listaTrattamenti) .cartellaAperta > span{
	height: 50px !important;
}
.listaTrattamenti .cartellaAperta > span{
	height: 30px !important;
}
.smart:not(.android) .listaTrattamenti .cartellaAperta > span{
	height: 32px !important;
}
.cartellaAperta > div{
	display: block !important;
	margin-bottom: 0px !important;
}
.cartella > div:not(.menuElenchi){ /* contenuto */
	display:none;
	background:#666 !important;
	height:auto !important;
	padding:0px !important;
	border-top-left-radius:0px !important;
	border-top-right-radius:0px !important;
	margin:1px !important;
	margin-bottom: 0px !important;
	overflow:hidden;
	border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.cartella > div .noResults{
    text-align: center !important;
	color:#999 !important;
	cursor: default !important;
}
.cart_els{ /* elementi della cartella*/
	padding-left: 15px;
	padding-right: 35px;
	border-radius:0px !important;
	color:#FFF !important;
	border-top:1px solid #363636;
	margin:0px !important;
	text-overflow:ellipsis;
	white-space:nowrap;
	width: 100%;
    overflow: hidden;
	/*background: url(../img/frDx.png) right center no-repeat;*/
    background-size: contain, auto 100%;
	background-position: right center;
	background-repeat: no-repeat;
}
.cart_els .nb{
	color:#FFF;
}
.trattElenco .cart_els:not(.timer):not(.timerNo){
	/*background-image:url(../img/ico_trattamenti2B.png), url(../img/frDx.png);*/
	background-image:url(../img/ico_trattamenti2B.png);
	background-position: 4px center, right center !important;
	background-size: 26px, contain, auto 100%;
	padding-left:34px;
}

.smart.android .trattElenco .cart_els:not(.timer):not(.timerNo){
	padding-left: 42px;
	background-position: 4px center !important;
}
.trattElenco .timer,
.trattElenco .timerNo{
	background-position: 9px center, right center !important;
	padding-left:34px;
	background-size: auto, contain, auto 100%;
}
.trattElenco .timer{
	/*background-image:url(../img/ico_timer.png), url(../img/frDx.png);*/
	background-image:url(../img/ico_timer.png);
}
.trattElenco .timerNo{
	/*background-image:url(../img/ico_timerNo.png), url(../img/frDx.png);*/
	background-image:url(../img/ico_timerNo.png);
}
.cart_els:not(.elencoSel){
	background-color:#444 !important;
}

.smart.android .cart_els,
.smart.android .cart_els *{
	font-size: var(--font-16-93) !important;
}
.app_version.bug_font.smart.android .cart_els,
.app_version.bug_font.smart.android .cart_els *{
	font-size: var(--font-15-39) !important;
}
.cart_els:not(.elencoSel):not(.lockedItem):hover{
	background-color:#555 !important;
}
.trattElenco .cart_els.elencoSel:not(.timer):not(.timerNo){
	/*background-image:url(../img/ico_trattamenti2B.png), url(../img/frDx.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;*/
	background-image:url(../img/ico_trattamenti2B.png), none, linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
	background-position: 4px center, right center, center center !important;
}
.trattElenco .cart_els.timer.elencoSel{
	/*background-image:url(../img/ico_timer.png), url(../img/frDx.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;*/
	background-image:url(../img/ico_timer.png), none, linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
	background-position: 9px center, right center, center center !important;
}
.trattElenco .cart_els.timerNo.elencoSel{
	background-image:url(../img/ico_timerNo.png), url(../img/frDx.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
	background-position: 9px center, right center, center center !important;
}
.cart_els span{
	color:#FFF;
}
.cart_video{
	background-image: url(../img/play.png);
	background-position: left center;
	padding-left: 35px !important;
	background-repeat: no-repeat;
}
.cart_video.elencoSel{
	background-image: url(../img/play.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
}

.cart_els.lockedItem:not(.cart_video){ /* elementi della cartella*/
	background-image: url(../img/lockB.png);
    background-size: auto 50%;
    background-position: right 2px;
	background-repeat: no-repeat;
	cursor:default !important;
	color:#999 !important;
}
.cart_video.lockedItem{ /* elementi della cartella*/
	background-image: url(../img/play.png), url(../img/lockB.png);
    background-size: auto, auto 50%;
    background-position: left center, right 2px;
	background-repeat: no-repeat;
	cursor:default !important;
	color:#999 !important;
}

/* CLASSI PULSANTI ELENCO */
.frdis{
	background-image: none, linear-gradient(to bottom, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.06) 100%) !important;
    background-color: rgba(255,255,255,0.5) !important;
    color: rgba(0,0,0,0.4) !important;
    cursor: default !important;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3) !important;
}
.base{
	background-image: none, linear-gradient(to bottom, #FFF 0%,#EEE 100%);
	background-size: auto, contain;
	background-repeat: no-repeat;
	background-position: right center;
}
.frdx{
	background-image: url(../img/frDxB.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%);
	background-size: contain, auto 100%;
	background-repeat: no-repeat;
	background-position: right center;
}
.frdxtratt{
	/*background-image: url(../img/ico_trattamenti2.png), url(../img/frDxB.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%);*/
	background-image: url(../img/ico_trattamenti2.png), none, linear-gradient(to bottom, #FFF 0%,#EEE 100%);
	background-size: 26px, contain, auto 100%;
	background-position: 8px center, right center, center center !important;
	padding-left: 42px !important;
	padding-right: 35px !important;
}
.frdxblack{
    background-color: #444444 !important;
    background-image: url(../img/frDx.png);
	background-size: contain;
	background-repeat: no-repeat !important;
	background-position: right center !important;
	padding-left:8px !important;
	color:#FFF !important;
	padding-right: 35px !important;
	/*border:1px solid #FFF;
	line-height:37px;*/
}
/*.timeTratt{
	display: inline-block;
    vertical-align: middle;
    background: linear-gradient(to bottom, #FFF 0%,#EEE 100%);
    margin-left: -8px;
    padding-left: 8px;
    padding-right: 8px;
    height: 39px;
    margin-right: 6px;
    font-family: Arial;
    width: 52px;
    text-align: center;
    overflow: hidden;
}*/
body:not(.touch) .frdx,
body:not(.touch) .frdxtratt{
	padding-right:28px !important;
}
.base:not(.elencoSel):hover{
	background-image: none, linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;
}
.frdx:not(.elencoSel):hover{
	background-image: url(../img/frDxB.png), linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;
}
.frdxtratt:not(.elencoSel):hover{
	/*background-image: url(../img/ico_trattamenti2.png), url(../img/frDxB.png), linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;*/
	background-image: url(../img/ico_trattamenti2.png), none, linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;
}
.frdxblack:not(.elencoSel):hover{
	background-color: #555 !important;
}
.base.lockedItem{
	background-image: url(../img/lock.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%);
    background-size: auto 50%, auto !important;
    background-position: right 2px, right center !important;
	cursor:default !important;
	opacity: 0.6;
}
.base.lockedItem:not(.elencoSel):hover{
	background-image: url(../img/lock.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%) !important;
}
.cnmty{
	height: auto !important;
	line-height: normal !important;
	padding-top: 12px;
	padding-bottom: 12px;
}
.cnmty span{
	font-size: var(--font-11);
	opacity:0.8;
}
.procCond{
	background-image:url(../img/ico_cond.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%);
	padding-right:35px !important;
}
.procCond:not(.elencoSel):hover{
	background-image:url(../img/ico_cond.png), linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;
}
.procCond.elencoSel{
	background-image: url(../img/ico_condB.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
}
.procNotCond{
	background-image:url(../img/ico_not_cond.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%);
	padding-right:35px !important;
}
.procNotCond:not(.elencoSel):hover{
	background-image:url(../img/ico_not_cond.png), linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;
}
.procNotCond.elencoSel{
	background-image: url(../img/ico_not_condB.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
}
.procPref{
	background-image:url(../img/ico_pref.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%);
	padding-right:35px !important;
}
.procPref:not(.elencoSel):hover{
	background-image:url(../img/ico_pref.png), linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;
}
.procPref.elencoSel{
	background-image: url(../img/ico_prefB.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
}
.procPrefNew:not(.elencoSel):hover{
	background-image:url(../img/ico_pref.png), linear-gradient(to bottom, #FFF 0%,#EEE 100%);
	background-size:24px 16px;
	font-weight:bold;
	padding-right:35px !important;
}
.procPrefNew{
	background-image:url(../img/ico_pref.png), linear-gradient(to bottom, #EEE 0%,#DDD 100%) !important;
}
.procPrefNew.elencoSel{
	background-image: url(../img/ico_pref.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
}
.agenda {
	background: url(../img/ico_agenda.png), linear-gradient(to bottom, #525252 0%,#333 100%) !important;
	background-repeat:no-repeat !important;
	background-position: right center, center center !important;
	background-size:auto, auto !important;
	padding-right:41px !important;
	text-align: right !important;
}
.agenda span {
    color: #FFF;
}