@charset "utf-8";
/* CSS Document */
@media print{
	.bodyStampa #interfaccia{
		display:none;
	}
}
#tooltip,
#context_menu,
#lb_anatomy{
	position:fixed;
	display:block;
	top:-500px;
	left:-500px;
	opacity:0;
	width:fit-content;
	background-color:#FFF;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
	border-radius:3px;
	z-index:11;
	color:#000;
	font-size: var(--font-12-1);
}
#tooltip{
	padding:5px;
}
#context_menu{
	width: fit-content;
}
#lb_anatomy{
	position:fixed;
	display:block;
	top:-500px;
	left:-500px;
	opacity:0;
	height:25px;
	width:fit-content;
	white-space:nowrap;
	overflow:hidden;
	background-color:transparent;
	background-image:url(../img/lnfB.png);
	background-position:left bottom;
	background-repeat:no-repeat;
	box-shadow:none;
	border-radius:3px;
	z-index:11;
	font-size: var(--font-11);
	padding-left:20px;
	padding-bottom:10px;
}

#lb_placeholder{
	position:fixed;
	display:none;
	top:-500px;
	left:-500px;
	z-index:1111;
	background-color:#06F;
	opacity:0.5;
	height:10px;
}
#lb_move{
	position:fixed;
	display:none;
	top:-500px;
	left:-500px;
	width:70px;
	height:70px;
	background-color:rgba(0,0,0,0.4);
	box-shadow:0px 0px 3px rgba(0,0,0,0.7);
	border:1px solid rgba(255,255,255,0.6);
	border-radius:6px;
	z-index:1121;
	background-position:center center;
	background-repeat:no-repeat;
	cursor:move !important;
	text-align:left;
}
.touch #lb_move{
	width:110px;
	height:110px;
}
#lb_move span{
	display:none;
	width:40px;
	height:40px;
	background-image: url(../img/ico_moveB.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:30px 30px;
	opacity:0.8;
}
.touch #lb_move span{
	display:inline-block;
}
.touch #lb_move.lbTsubo span,
.touch #lb_move.lbProc span,
.touch #lb_move.lbMeridiano span,
.touch #lb_move.lbAuriculo span{
	background-image: url(../img/ico_move.png) !important;
	margin-left:30px;
}
.lbTrattamento{
	background-image: url(../img/ico_trattamenti2B.png);
}
.lbCiclo{
	background-image:url(../img/cartellaClinicaG.png);
}

.lbAuriculo,
.lbTsubo,
.lbProc{
	background-image:url(../img/ico_tsubo.png);
	background-position:left center !important;
	background-color:rgba(255,255,255,0.4) !important;
	height:36px !important;
	margin-top:30px;
	margin-left:-25px;
}
.lbMeridiano{
	background-image:url(../img/ico_meridiani.png);
	background-position:left center !important;
	background-color:rgba(255,255,255,0.4) !important;
	height:36px !important;
	margin-top:30px;
	margin-left:-25px;
}
.touch #lb_move.lbTsubo,
.touch #lb_move.lbProc,
.touch #lb_move.lbMeridiano,
.touch #lb_move.lbAuriculo{
	margin-top:70px !important;
	margin-left:-30px !important;
}

#lb_move *{
	color:#FFF !important;
}

.bodyStyled2 #lb_anatomy{
	background-image:url(../img/lnf.png) !important;
}

#lb_anatomy span{
	height:16px;
	line-height:16px;
	display:block;
	border-bottom:1px solid rgba(255,255,255,0.8);
	color:#FFF;
}
.bodyStyled2 #lb_anatomy span{
	color:#000 !important;
	border-bottom:1px solid rgba(0,0,0,0.8) !important;
}
.tooltipVis{
	opacity:1 !important;
}
#context_menu div{
	cursor: pointer;
    line-height: 25px;
    text-align: left;
    padding-left: 30px;
    padding-right: 10px;
	background-repeat:no-repeat;
	background-position:3px center;
	background-size:22px auto;
}
#context_menu div:hover{
	background-color:rgba(0,0,0,0.1);
}
.c{
	background-image:url(../img/p_targetB.png);
}
.d{
	background-image:url(../img/chMenuB.png);
}
.a{
	background-image:url(../img/p_selectedAltri.png);
}
.i{
	background-image:url(../img/p_isola.png);
}
.s{
	background-image:url(../img/p_scheda.png);
}

#legende{
	display:none;
}
#legende div{
	position:fixed;
	z-index:9;
	width:calc(fit-content + 20px);
	height:16px;
	line-height:16px;
	color:#FFF;
	text-align:center;
	white-space:nowrap;
	font-size: var(--font-10);
	opacity:0.8;
	padding-left:5px;
	padding-right:5px;
}
#legende div:not(.noFr){
	width:calc(fit-content + 30px) !important;
	background-color:rgba(0,0,0,0.7);
	border-radius:10px;
	padding-left:10px !important;
	padding-right:20px !important;
	background-image:url(../img/frGiu.png);
	background-repeat:no-repeat;
	background-position:right center;
	background-size:auto 130%;
}
#legende div.noFr{
	background-color:#7bcd66;
	color:#000 !important;
	font-weight:bold;
}
#legende.noLms div.noFr{
	display:none;
}

#legende.nasPins div:not(.noFr){
	display:none !important;
}
#legende:not(.noAnimate) div:not(.noFr){
	cursor:pointer;	
}
#legende.noAnimate{
	opacity:0.4 !important;	
}
@media (max-width: 600px){
	#legende div{
		font-size: var(--font-12-1) !important;
		height:20px !important;
		line-height:20px !important;
	}
}
.dettaglioAnatomia{
	float: right;
    margin: -30px;
}
.bodyStyled2 .dettaglioAnatomia{
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-color: #eae8e3;
}
.dettaglioAnatomia img{
	opacity:0;
}
@media (min-width: 700px){
	.descrAnatomia{
		float:left;
		line-height: 20px;
	}
	.descrAnatomia:not(.noBaseImg){
		width: 50%;
	}
}
@media (max-width: 699px){
	.dettaglioAnatomia{
		margin-top:30px !important;
	}
}
.tab_anatomia #scheda_testo{
	background-color:#FFF;
}
.tab_anatomia #scheda_testo i{
	color:#0000ff;
}
