@charset "utf-8";
/* CSS Document */

/*


		- Generiche
		- Le icone sullo sfondo
		- I menu della piattaforma:
			1 - ANATOMIA
			4 - ELEMENTI SELEZIONATI
			3 - IMPOSTAZIONI


*/



/* GENERICHE */
.visSch{
	display:block !important;
}
.visBtn{
	display:inline-block !important;
}

.smart #cont_menu{ /* contenitore dei menu (tagliata l'ombra per il solo .smart) */
	overflow: hidden;
    position: fixed;
    z-index: 1000;
    bottom: 54px;
    width: 100%;
}


/* le ICONE sullo sfondo */
#icone{
	position:fixed;
	bottom:0px;
	left:0px;
}
body:not(.smart) #icone{
	height: 100%;
	width: 48px;
	overflow: hidden;
	background-color: var(--fondino-icone);
	z-index:20;
}
body.smart #icone{
	width:100%;
	height:54px;
	background-color: #333;
	background-repeat:repeat-x;
	background-position:top center;
	z-index: 20;
}
.smart #icone{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.smart #icone.iconeHome{
	height: 220px !important;
    overflow: hidden;
    margin: -1px;
    width: calc(100% + 2px) !important;
}
body:not(.smart) #icone.iconeTrans{
	transition: width 0.3s;
	-webkit-transition: width 0.3s;
}
body:not(.smart) #icone.iconeEspanse{
	width:180px;
	background-color: var(--fondino-icone-over);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
#btns_set{
	text-align:left;
	display:none;
	/*display:inline-block;*/
	width:auto !important;
	height:auto !important;
	max-height: 40px;
}
.smart #icone div svg{
	transform: rotate(-90deg);
    margin-left: 21px !important;
    margin-top: -25px;
}
#icone div:not(#btns_set):not(#cartella_set){
	background-repeat:no-repeat;
	background-position:4px center, right center;
	cursor:pointer;
	text-align:left;
}
#contBtnModello div{
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}
.bodyStampa #contBtnModello{
	display:none !important;
}
.smart #icone div:not(#btns_set):not(#cartella_set){
	width: 54px;
    height: 54px;
    float: left;
    margin: 0px;
    background-position: center center;
}
.smart #icone:not(.iconeHome) div:not(#btns_set):not(#cartella_set){
    margin-top: 7px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.4);
}
.smart #icone:not(.iconeHome) div:not(#btns_set):not(#cartella_set):not(#p_set){
    height: 40px !important;
}

.smart #icone.iconeHome div:not(#btns_set):not(#cartella_set){
	width: calc((100% + 0px) / 3);
    height: 110px;
    float: left;
    margin: 0px;
    border-right: 1px solid #444;
    background-position: center 30px;
    text-align: center;
    padding-top: 70px;
    border-bottom: 1px solid #444;
}
.smart #contBtnModello > div:not(#btns_set),
.smart #btns_set > div{
	width: 48px !important;
    height: 48px !important;
}

.smart #icone:not(.iconeHome) #p_modello,
.smart #icone:not(.iconeHome) #cartella_set,
.smart #icone:not(.iconeHome) #p_impostazioni{
    border-left: none !important;
}
.smart #icone:not(.iconeHome) #p_impostazioni{
    border-right: none !important;
}
.smart #icone.iconeHome #p_impostazioni{
    border-left: 1px solid #444;
    width: calc((100% / 3) + 1px) !important;
    margin-left: -1px !important;	
}
#contBtnModello{
    display: block;
    position: fixed;
}
body:not(.smart) #contBtnModello{
    top: 5px;
    right: 48px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.15);
}
body:not(.smart) #contBtnModello > div{
	vertical-align:top;
}
.smart #contBtnModello{
    width: 54px;
    top: 0px;
}
body:not(.smart) #contBtnModello:hover{
	 background-color: rgba(0,0,0,0.25) !important;
}
body:not(.smart) #icone div:not(#btns_set):not(#cartella_set){
	width: 48px;
	height: 48px;
	padding-left:48px;
	overflow:hidden;
}
body:not(.smart) #contBtnModello div{
	width: 33px;
	height: 40px;
}
#icone div:not(#btns_set):not(#cartella_set) svg{
	width: 12px;
	height: 48px;
	margin-left: -12px;
	display:none;
	bottom:0px;
	position:relative;
}
.smart #icone div:not(#btns_set):not(#cartella_set) svg {
    position: absolute;
    top: 7px;
}
.p_sel svg{
	display: inline-block !important;
}
body:not(.smart) #icone.iconeTrans div:not(#btns_set):not(#cartella_set){
	transition: width 0.3s, background-color 0.3s;
	-webkit-transition: width 0.3s, background-color 0.3s;
}
.smart #icone div i{
	display:none;
}
.smart #icone.iconeHome div:not(#btns_set):not(#cartella_set) i{
	display:block !important;
	color:#FFF;
	font-style:normal;
	font-size: var(--font-12-1);
}
body:not(.smart) #icone div:not(#btns_set):not(#cartella_set) i{
	opacity:0;
	color:#FFF;
	font-style:normal;
	width: 132px;
	line-height: 48px;
	font-size: var(--font-15-39);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #icone div:not(#btns_set):not(#cartella_set):not(#p_set) i{
	color:#000;
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #ico_cliente i{
	color:#FFF !important;
}
body:not(.smart) #icone.iconeTrans div:not(#btns_set):not(#cartella_set) i{
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
body:not(.smart) #icone.iconeEspanse div:not(#btns_set):not(#cartella_set) i{
	opacity:0.7 !important;
}

body:not(.smart) #icone.iconeEspanse div:not(#btns_set):not(#cartella_set):hover i{
	opacity:0.9 !important;
}
body:not(.bodyStyled1):not(.smart) #icone div:not(#btns_set):not(#cartella_set):not(#p_set):hover{
	background-color:rgba(0,0,0,0.1) !important;
}
body.bodyStyled1:not(.smart) #icone div:not(#btns_set):not(#cartella_set):not(#p_set):hover{
	background-color:rgba(255,255,255,0.1) !important;
}
body:not(.smart) #icone.iconeEspanse div{
	width: 180px !important;
}
#p_sets{
	background-image:url(../img/ico_mappaB.png);
	display:none;
}
#p_set,
#p_set:hover{
	background-color: #1546a1 !important;
}
.smart #p_set{
	margin-top: 0px !important;
    height: 54px !important;
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_sets{
	background-image: url(../img/ico_mappa.png);
	background-position: 2px center, right center !important;
}
#p_sets.p_sel svg polygon,
#p_agenda.p_sel svg polygon{
	fill: var(--menu-fondino);
}
.smart #p_modello.p_sel svg polygon{
	fill: #FFF !important;
}
.smart #p_agenda.p_sel svg polygon{
	fill: #eee !important;
}
#nav{
	display:none;
	z-index:3;
	position:fixed;
	bottom:78px;
	right:0px;
	width:24px;
	height:48px;
	background-color:rgba(0,0,0,0.1);
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
.bodyStampa #nav{
	display:none !important;
}
#nav div{
	display:block;
	width:24px;
	height:24px;
	cursor:pointer;
	background-position:center center;
	background-repeat:no-repeat;
}
#navIn{
	background-image:url(../img/piu.png);
	border-bottom:1px solid rgba(0,0,0,0.1);
}
#navOut{
	background-image:url(../img/meno.png);
}
#p_modello{
	margin-top:5px;
}
.smart.nasSch #p_modello{
	display:none;
}
#p_modello{
	background-image: url(../sets/anatomy_full/img/logoMenu.png);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_modello{
	background-image: url(../sets/anatomy_full/img/logoMenuN.png);
}
#p_modello.p_sel svg polygon{
	fill: var(--fondino-anatomia);
}
#p_selected{
	background-image:url(../img/p_selected.png);
	display:none;
}
#p_pins{
	background-image:url(../img/p_abc.png);
	display:none;
}
.pinsNo{
	background-image:url(../img/p_abcNo.png) !important;
}
#p_rifletti{
	background-image:url(../img/p_rifletti.png);
	display:none;
}  
body:not(.smart) #p_rifletti{ 
	background-size: auto 30px !important;
}
#p_rifletti.btnSel{
	background-image:url(../img/p_rifletti_sel.png) !important;
}
#p_centro{
	background-image:url(../img/p_target.png);
	display:none;
	opacity:0.2;
}
.centroAtt{
	opacity:0.5 !important;
}
#p_piuma{
	background-image:url(../img/p_piuma.png);
	display:none;
	opacity:0.5;
}
.piumaAtt{
	background-image:url(../img/p_piumaAtt.png) !important;
	opacity:1 !important;
}




#p_liv_pelle{
	background-image:url(../img/p_pelle.png);
	display:none;
}
#p_liv_muscoli,
#p_liv_ossa,
#p_liv_visceri,
#p_liv_pelle{
	display:none;
	background-size:auto 70%;
}
body:not(.Area) #p_liv_muscoli{
	background-image:url(../img/p_muscoli.png);
}
.Area #p_liv_muscoli{
	background-image:url(../img/p_aree2.png);
}
#p_liv_ossa{
	background-image:url(../img/p_ossa.png);
}
body:not(.Nerve) #p_liv_visceri{
	background-image:url(../img/p_visceri.png);
}
.Nerve #p_liv_visceri{
	background-image:url(../img/p_nerve3.png);
}
#p_liv_pelle.disattLiv,
#p_liv_muscoli.disattLiv{
	opacity:0.5 !important;
}

.smart #p_liv_muscoli,
.smart #p_liv_ossa,
.smart #p_liv_visceri,
.smart #p_liv_pelle{
	display:none !important;
	position:fixed !important;
	left:-500px !important;
	height:0px !important;
	width:0px !important;
}


body #p_impostazioniAM{
	display:none;
}
body:not(.smart) #p_impostazioni{
	position:fixed;
	bottom:0px;
}
.smart #p_impostazioni{
	float: right !important;
}
#p_impostazioni{
	background-image:url(../img/m_ingranaggio.png);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_impostazioni{
	background-image: url(../img/m_ingranaggioN.png);
}
body:not(.smart) #p_impostazioni.p_sel svg polygon{
	fill: var(--impostazioni-fondino);
}
.smart #p_impostazioni.p_sel svg polygon{
	fill: var(--impostazioni-fondino-smart);
}
body:not(.smart) #p_sets{
	background-image:url(../img/ico_mappaB.png);
}
#p_ricerca{
	background-image:url(../img/lente.png);
}
.smart #p_ricerca{
	border-right: none !important;
}

body:not(.smart) #p_ricerca{
	background-image:url(../img/m_lente.png);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_ricerca{
	background-image: url(../img/m_lenteN.png);
}
#p_ricerca.p_sel svg polygon{
	fill: var(--ricerche-fondino);
}
body:not(.smart) .sepMenu{
	margin-top: 10px;
	margin-bottom: 10px;
	display:block;
	width:100%;
	height:1px;
	background-color: rgba(255,255,255,0.1);
}
.smart.sepMenu{
	display:inline-block;
	width:1px%;
	height:40px;
	background-color: rgba(255,255,255,0.1);
}
#p_cartella{
	background-image: url(../sets/clients_full/img/logoMenu.png);
}
#ico_cliente{
    display: none;
    width: inherit;
    height: inherit;
   	position: absolute;
    background-repeat: no-repeat;
    background-color: #534a3f;
    float: left;
	padding-left:48px;
}
body:not(.smart) #ico_cliente{
    left: 0px;
	background-position: 3px center;
}
.smart #ico_cliente{
   margin-top: -7px !important;
    height: 54px !important;
    background-position: center center !important;
    padding-left: 54px !important;
}
.clientAtt #ico_cliente{
	display:block !important;
	background-size: 40px;
}
.clientAtt > i{
	display:none !important;
}
#ico_cliente i{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 132px !important;
    display: inline-block;
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_cartella{
	background-image: url(../sets/clients_full/img/logoMenuN.png);
}
#p_cartella.p_sel svg polygon{
	fill: var(--menu-fondino);
}
#p_agenda{
	background-image:url(../img/m_agenda.png);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_agenda{
	background-image: url(../img/m_agendaN.png);
}

/* 1 - ANATOMIA */
#pulsanti_modello{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:300px;
  	border-bottom-right-radius:5px;
	background-color:var(--anatomia-fondino);
	box-shadow:0px 0px 5px rgba(0,0,0,0.6);
	z-index:50;
}

body:not(.smart) #pulsanti_modello{
	left:48px;
}
.smart #pulsanti_modello{
	z-index:1600;
}
.smart #pulsanti_modello{
    bottom: 54px;
    top: auto;
    border-bottom-right-radius: 0px;
}
@media (max-width: 500px){	
	.smart #pulsanti_modello{
		border-top-right-radius: 0px;
		width: 100%;
		box-shadow: 0px -3px 6px rgba(0,0,0,0.4);
	}
	.smart #pulsanti_modello #labelModello{
		padding-top:7px;
		background-position:5px 7px;
		height:50px;
	}
}

.pLight{
	opacity:0.3;
}
#p1{
  	border-top-right-radius:5px;
	background-color:#333;
	background: linear-gradient(to bottom, #000 0%,#333 100%);
	text-align:center;
	border-radius: 0px !important;
}
#p1 div,
#chiudi_modello,
#help_modello{
	width:40px;
	background-repeat:no-repeat;
	background-position:center center, center 1000px;
	cursor:pointer;
	vertical-align:top;
}
#p1 div{
	height:50px;
}
#chiudi_modello,
#help_modello{
	height:40px;
}
#p1 div{
	display:inline-block;
	background-size: auto 72%, auto;
}
.smart.android #p1 div:not(#scarica_modello){
	width:48px !important;
	height:60px !important;
}
#p1 div:not(.btnSel){
	-webkit-transition: background-image 0.8s;
	transition: background-image 0.8s;
}
#p1 div:not(.btnSel):not(#scarica_modello):hover{
	opacity:0.8;
}
#p1 i{
	display:inline-block;
	height:40px;
	line-height:40px;
	color:#FFF;
	padding-left:10px;
}
.disModello{
	opacity:0.5 !important;
}
#p_donna{
	background-image:url(../img/pG_donna.png), url(../img/frSelModello.png);
}
#p_donna.pModsEvi{
	background-image:url(../img/pG_donna_sel.png), url(../img/frSelModello.png) !important;
}
#p_donna.btnSel{
	background-image:url(../img/pG_donna_sel.png), url(../img/frSelModello.png) !important;
	background-position:center center, center bottom !important;
}
#p_uomo{
	background-image:url(../img/pG_uomo.png), url(../img/frSelModello.png);
}
#p_uomo.pModsEvi{
	background-image:url(../img/pG_uomo_sel.png), url(../img/frSelModello.png) !important;
}
#p_uomo.btnSel{
	background-image:url(../img/pG_uomo_sel.png), url(../img/frSelModello.png) !important;
	background-position:center center, center bottom !important;
}
.bodyStyled2 #p_uomo.btnSel{
	background-image:url(../img/pG_uomo_sel.png), url(../img/frSelModello2.png) !important;
}
#p_piedi{
	background-image:url(../img/pG_piedi.png), url(../img/frSelModello.png);
}
#p_piedi.pModsEvi{
	background-image:url(../img/pG_piedi_sel.png), url(../img/frSelModello.png) !important;
}
#p_piedi.btnSel{
	background-image:url(../img/pG_piedi_sel.png), url(../img/frSelModello.png) !important;
	background-position:center center, center bottom !important;
}
.bodyStyled2 #p_piedi.btnSel{
	background-image:url(../img/pG_piedi_sel.png), url(../img/frSelModello2.png) !important;
}
#p_orecchio{
	background-image:url(../img/pG_orecchio.png), url(../img/frSelModello.png);
}
#p_orecchio.pModsEvi{
	background-image:url(../img/pG_orecchio_sel.png), url(../img/frSelModello.png) !important;
}
#p_orecchio.btnSel{
	background-image:url(../img/pG_orecchio_sel.png), url(../img/frSelModello.png) !important;
	background-position:center center, center bottom !important;
}
#labelModello{
	height: 40px;
    line-height: 40px;
    background-color: #000;
}
body:not(.smart) #labelModello{
	color: rgba(255,255,255,0.7) !important;
    text-align: left;
    padding-left: 20px;
    font-size: var(--font-18-7);
}
.smart #labelModello{
	color: #FFF !important;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(../sets/anatomy_full/img/logoMenu.png);
}
.smart.android #labelModello{
	font-size: var(--font-16-93);
}
.app_version.bug_font.smart.android #labelModello{
	font-size: var(--font-15-39) !important;
}
#chiudi_modello{
	background-image:url(../img/chMenu.png);
	float:right;
    margin-left: -40px;
	background-size:80%;
}
#help_modello{
	border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 17px;
    float: right;
    margin-left: -53px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    margin-right: 36px;
    margin-top: 10px;
    border: 2px solid rgba(255,255,255,0.5);
	cursor:pointer;
	font-size: var(--font-18-7) !important;
	font-weight:bold;
}
.modelloScelto #livelli_cont{
	padding-top:5px;
	padding-bottom:5px;
}
#livelli_cont > div{
	padding-right:10px;
	display:none;
}
#livelli_precar{
	padding: 20px;
    text-align: center;
    font-style: italic;
    color: #999;
    padding-top: 25px;
    border-top: 3px solid #407ace;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.modelloScelto #livelli_precar{
	display:none;
}
#p_pelle, #p_muscoli, #p_ossa, #p_visceri{
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
}
#scarica_modello{
	background-color: #fbf9f5;
    width: 32px !important;
    height: 33px !important;
    display: inline-block;
    background-image: url(../img/noManichino.png);
    background-size: 30px !important;
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
    margin-top: 18px !important;
    margin-left: -32px !important;
    border-top-left-radius: 6px;
}
.smart.android #scarica_modello{
    margin-top: 21px !important;
	width: 36px !important;
    height: 39px !important;
    margin-left: -36px !important;
}
#pulsanti_modello:not(.modelloScelto) #scarica_modello{
	display:none !important;
}
#livelli_cont > div:not(#p_pelle){
	border-top:1px solid rgba(0,0,0,0.3);
}
#i_pelle, #i_muscoli, #i_ossa, #i_visceri{
	background-repeat:no-repeat;
	background-position:5px center;
	width:40px;
	height:40px;
	display:inline-block;
	vertical-align:top;
	margin-top: -10px;
	margin-left:0px;
	margin-right:8px;
}
#i_pelle{
	background-image:url(../img/p_pelleB.png);
	cursor:pointer;
}
#i_ossa{
	background-image:url(../img/p_ossaB.png);
}
body:not(.Nerve) #i_visceri{
	background-image:url(../img/p_visceriB.png);
}
.Nerve #i_visceri{
	background-image:url(../img/p_nerve3B.png);
}
#i_muscoli{
	cursor:pointer;
}
body:not(.Area) #i_muscoli{
	background-image:url(../img/p_muscoliB.png);
}
.Area #i_muscoli{
	background-image:url(../img/p_aree2B.png);
}
#p_muscoli.disattLiv #i_muscoli:hover,
#p_pelle.disattLiv #i_pelle:hover{
	opacity:0.6 !important;
}
#slideMuscles{
    background-color: #565656;
    width: 6px;
    height: 72px;
    display: block;
    float: left;
    margin-bottom: -40px;
    margin-right: -7px;
    margin-top: 4px;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none !important;
    padding: 0px !important;
	cursor:pointer;
	opacity:0;
}
#slideMuscles div{
	width:9px;
	height:19px;
	background-color:#EEE;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 6px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	cursor:pointer;
	transition: margin-top .2s;
	-webkit-transition: margin-top .2s;
}
#slideMuscles div:hover{
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.visSlide{
	display:block !important;
}
.slideOn div{
	margin-top:46px !important;
}
.disattLiv > div{
	opacity:0.3;
}
.livelli_listed .slider,
.livelli_listed .slider{
	width: calc(100% - 80px);
}
.slider_cont{
	width:100%;
	height:40px;
	padding-top:10px;
}
.slider {
	width: calc(100% - 50px);
	height: 8px;
	background-color: #575757;
	background: linear-gradient(to bottom, #444 0%,#575757 100%);
	border-radius:5px;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-top:6px;
	display:inline-block;
	vertical-align:top;
}
.slider div{
	width: 24px;
	height: 24px;
	border-radius:12px;
	margin-top:-8px;
	margin-top:-8px;
	background-color: #FFF;
	box-shadow:0px 0px 3px rgba(0,0,0,0.4);
	cursor: pointer;
}
.slider div:hover{
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
#el_visceri_cont,
#el_ossa_cont,
#el_muscoli_cont{
	display:none;
	margin-left:10px;
	width:100%;
	height:202px;
	background-color:#575757;
	background: linear-gradient(to bottom, #333 0%,#575757 25%);
	margin:0px !important;
	padding:0px !important;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
#el_visceri,
#el_ossa,
#el_muscoli{
	margin-top:10px;
	margin-left:10px;
	width:100%;
	height:169px;
	overflow-y:auto;
	overflow-x:hidden;
	margin:0px !important;
	padding:0px !important;
}
#filtro_visceri,
#filtro_ossa,
#filtro_muscoli{
	width:calc(100% - 10px);
	border:1px solid rgba(255,255,255,0.4);
	border-radius:3px;
	background-color:rgba(255,255,255,0.3);
	height:26px;
	line-height:26px;
	text-align:center;
	margin-top:5px;
	background-image:url(../img/lente.png);
	background-repeat:no-repeat;
	background-position:left center;
	background-size:auto 90%;
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
#filtro_visceri::placeholder,
#filtro_ossa::placeholder,
#filtro_muscoli::placeholder{
	color:rgba(255,255,255,0.4);
	font-style:italic;
}
#el_visceri p,
#el_ossa p,
#el_muscoli p{
	font-size: var(--font-12-1);
    cursor: pointer;
    margin-top: 0px;
    margin: 5px;
    display: block;
	border-radius:10px;
	height:24px;
	line-height:24px;
	color:#FFF;
}
#el_visceri p.lockedItem,
#el_ossa p.lockedItem,
#el_muscoli p.lockedItem {
	background-image: url(../img/lockB.png);
    background-size: auto 50%;
    background-position: right center;
	background-repeat: no-repeat;
	cursor:default !important;
	color:#999 !important;
}
@media (max-width: 600px){
	#el_visceri p, #el_ossa p, #el_muscoli p{
		font-size: var(--font-14-3) !important;
		height:30px !important;
		line-height:30px !important;
		border-radius:15px !important;
	}
}
#el_visceri i,
#el_ossa i,
#el_muscoli i{
	display:block;
	padding-top:10px;
	padding:5px;
	color:rgba(255,255,255,0.6) !important;
}
.p_viscSel, .p_ossaSel, .p_muscoliSel{
	background-color:#F09;
	color:#FFF;
}
.elNasc{
	display:none !important;
}
#ch_muscoli,
#ch_ossa,
#ch_visceri{
	width:24px;
	height:24px;
	background:url(../img/chMenu.png) no-repeat center center;
	background-size:contain;
	margin-left:-24px;
	margin-top:5px;
	display:none;
	vertical-align:top;
	cursor:pointer;
}
.visChFiltro{
	display:inline-block !important;
}
#fr_visceri,
#fr_ossa,
#fr_muscoli{
	display:none;
	float:right;
	margin-top:-11px;
	margin-right:-8px;
	width:40px;
	height:40px;
	background-image:url(../img/frGiuBlu.png);
	background-repeat:no-repeat !important;
	background-size:contain;
	background-position:center center !important;
	cursor:pointer;
}
.livelli_listed #fr_visceri,
.livelli_listed #fr_ossa,
.livelli_listed #fr_muscoli{
	display:inline-block !important;
}
.frOpened{
	background-image:url(../img/frSuBlu.png) !important;
}
.elOpened{
	display:block !important;
}
#memorizzaOpen3d,
#memorizzaOpenMap{
	margin-bottom: 6px;
    font-size: var(--font-12);
    text-align: right;
    padding-right: 7px;
	padding-top: 6px;
}
.smart #memorizzaOpen3d,
.smart #memorizzaOpenMap{
	margin-bottom: 10px;
    padding-right: 9px;
	margin-top: 4px;
}
#mem_open3d,
#mem_openMap{
	vertical-align: middle;
}
.smart #mem_open3d,
.smart #mem_openMap{
	margin-left: 9px;
}

/* 3 - ELENCO SELEZIONATI */
#elencoSelected{
	display:none;
	position:fixed;
	width:300px;
  	border-radius:5px;
	background-color:var(--anatomia-fondino);
	box-shadow:0px 0px 5px rgba(0,0,0,0.6);
	z-index:60;
}
body:not(.smart) #elencoSelected{
    top: 44px;
    right: 48px;
}
.smart #elencoSelected{
	top:88px;
	left:0px;
}
#labelSelected{
	height:40px;
	line-height:40px;
	background-color:rgba(0,0,0,0.6);
	color:#FFF !important;
	font-weight:bold;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
body:not(.smart) #labelSelected{
	text-align:left;
	padding-left:10px;
}
.smart #labelSelected{
	background-image:url(../img/p_selected.png);
	background-repeat:no-repeat;
	background-position:4px center;
}
#chiudiSelected{
	width:40px;
	height:40px;
	float:right;
	display:inline-block;
	background-repeat:no-repeat;
	background-size:auto 32px;;
	background-position:center center;
	background-image:url(../img/chMenu.png);
	margin-left:-40px;
	cursor:pointer;
}
#contSelected{
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	max-height:360px;
	overflow-x:hidden;
	overflow-y:auto;
}
#contSelected p{
	background-image:url(../img/chMenu.png);
	background-size:auto 80%, auto 95%;
	background-position:right center, 3px center;
	background-color:#F09;
	background-repeat:no-repeat;
	color:#FFF;
	font-size: var(--font-12-1);
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 5px;
    display: block;
	border-radius:10px;
	height:24px;
	line-height:24px;
}
body:not(.Area) .selM{
	background-image:url(../img/chMenu.png), url(../img/p_muscoli.png) !important;
}
.Area .selM{
	background-image:url(../img/chMenu.png), url(../img/p_aree2.png) !important;
}
.selO{
	background-image:url(../img/chMenu.png), url(../img/p_ossa.png) !important;
}
body:not(.Nerve) .selV{
	background-image:url(../img/chMenu.png), url(../img/p_visceri.png) !important;
}
.Nerve .selV{
	background-image:url(../img/chMenu.png), url(../img/p_nerve3.png) !important;
}
#chiudiTuttiSelected{
	font-size: var(--font-12-1);
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 5px;
    display: block;
	border-radius:10px;
	height:24px;
	line-height:24px;
}
#sliderAnatomia{
	display:none;
	position:fixed;
	top:0px;
	height:30px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	border-radius:5px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%), #FFF;
	width:220px;
	padding-top:5px;
}
#sliderAnatomia .slider{
	width: calc(100% - 10px) !important;
}


/* 3 - IMPOSTAZIONI */
#impostazioni{
	display:none;
	width:300px;
  	border-top-right-radius:5px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.6);
}
body:not(.smart) #impostazioni{
	left:48px;
	z-index:19;
	position:fixed;
	bottom:0px;
	background-color:var(--impostazioni-fondino);
}
.smart #impostazioni{
	left:auto !important;
	right:0px;
	bottom:54px;
	z-index: 550;
	border-top-left-radius:5px;
	border-top-right-radius:0px;
	float:right;
	background-color:var(--impostazioni-fondino-smart);
	width: 100%;
    border-radius: 0px;
    position: fixed;
    height: calc(100% - 54px);
	box-shadow:none !important;
}
#labelImpostazioni{
	height:40px;
	line-height:40px;
	color:var(--impostazioni-label) !important;
	font-weight:bold;
  	border-top-right-radius:5px;
	background-image:url(../img/p_impostazioni.png);
	background-repeat:no-repeat;
	background-position:4px center;
}
.smart.android #labelImpostazioni{
	font-size: var(--font-18) !important;
	margin-bottom:10px;
}
.app_version.bug_font.smart.android #labelImpostazioni{
	font-size: var(--font-16-29) !important;
}
#i1{
  	border-top-right-radius:5px;
	border-radius: 0px !important;
}
#i1 div{
	width:100%;
	height:50px;
	line-height:50px;
	padding-left:50px;
	background-repeat:no-repeat;
	background-position:5px center, right center;
	background-size:auto, auto 90%;
	text-align:left;
	color:var(--impostazioni-testo);
	border-top:var(--impostazioni-divisorio);
}
.smart.android #i1 div,
.smart.android #nomeUtente{
    font-size: var(--font-16-93);
}
.app_version.bug_font.smart.android #i1 div,
.app_version.bug_font.smart.android #nomeUtente{
    font-size: var(--font-15-39) !important;
}
#i1 div b{
	color:var(--impostazioni-testo);
}
#i1 div:first-child{
	border-top:none !important;
}
#i1 div span{
	float: right;
    height: 50px;
    line-height: 50px;
}
#chiudi_impostazioni{
	height:40px;
	background-image:url(../img/chMenuB.png);
	float:right;
    margin-left: -40px;
	background-size:80%;
	width:40px;
	background-repeat:no-repeat;
	background-position:center center;
	vertical-align:top;
	cursor:pointer;
}
.smart #chiudi_impostazioni{
	background-size:auto;
}
.bodyStyled2 #chiudi_impostazioni{
	background-image:url(../img/chMenu.png);
}
#p_login{
	background-image:url(../img/ico_utenteN.png);
}
.bodyStyled2 #p_login{
	background-image:url(../img/ico_utente.png);
}
#btn_logout{
	display:none;
}
.btn_logout_mini{
	overflow: hidden;
	background-image: url(../img/ico_logout.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
	background-position:center center;
	background-repeat: no-repeat;
    width: 30px;
    padding-left: 30px !important;
    padding-right: 0px !important;
}
.btn_logout_mini:hover{
	background-image: url(../img/ico_logout.png), linear-gradient(to bottom, #0a3d96 0%,#052d74 100%) !important;
}
.btn_login_mini{
	overflow: hidden;
	background-image: url(../img/ico_connessione.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
	background-position:center center;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
    width: 30px;
    padding-left: 30px !important;
    padding-right: 0px !important;
}
.btn_login_mini:hover{
	background-image: url(../img/ico_connessione.png), linear-gradient(to bottom, #0a3d96 0%,#052d74 100%) !important;
}

#btn_modut{
	display:inline-block;
	background-position:center center;
	background-repeat: no-repeat;
	width:30px;
	height:30px !important;
    line-height: 30px !important;
	float:right;
    margin-right: 3px;
    margin-top: 9px;
	cursor:pointer;
}
.bodyStyled2 #btn_modut{
	background-image: url(../img/ico_modifica_anagB.png);
}
body:not(.bodyStyled2) #btn_modut{
	background-image: url(../img/ico_modifica_anag.png);
}

#nomeUtente{
	font-weight:normal;
	width: calc(100% - 85px);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	display: inline-block;
	margin-bottom: -20px;
	margin-right: -20px;
	color:var(--impostazioni-testo);
}
#utDisc{
    margin-top: -38px !important;
    display: none;
    font-size: var(--font-12);
    color: #6e9aec;
}
.smart.android #utDisc{
    margin-top: -34px !important;
    font-size: var(--font-14-3);
}
.app_version.bug_font.smart.android #utDisc{
    font-size: var(--font-12-94) !important;
}
#p_reg{
	color: #FFF;
    display: block;
    background-color: rgba(255,255,255,0.1);
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    font-size: var(--font-12-1);
}

.bodyStyled0 #p_reg,
.bodyStyled1 #p_reg{
	background-color: rgba(0,0,0,0.3);
}
#p_reg span:first-child{
	color: #FFF;
	display:block;
}

#btn_registrazione{
    background: #c18b17;
    background: -moz-linear-gradient(top, #aa6c1d 0%,#c18b17 100%);
    background: -webkit-linear-gradient(top, #aa6c1d 0%,#c18b17 100%);
    background: linear-gradient(to bottom, #aa6c1d 0%,#c18b17 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa6c1d', endColorstr='#c18b17',GradientType=0 );
}
#btn_registrazione:hover{
    background: #dea935 !important;
    background: -moz-linear-gradient(top, #c3802a 0%,#dea935 100%) !important;
    background: -webkit-linear-gradient(top, #c3802a 0%,#dea935 100%) !important;
    background: linear-gradient(to bottom, #c3802a 0%,#dea935 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3802a', endColorstr='#dea935',GradientType=0 ) !important;
}

#p_lingua{
	display: none !important; /* tolto momentaneamente perché pronto solo ITA */
	background-image:url(../img/ico_linguaprefN.png);
}
.bodyStyled2 #p_lingua{
	background-image:url(../img/ico_linguapref.png);
}
#lingueSelect{
	display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 13px;
    margin-top: 5px;
	border-radius:6px;
	padding-left:10px;	
	padding-right:30px;	
	background-image:url(../img/frGiuB.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:right center;
	background-color:#FFF;
	appearance:none;
	-webkit-appearance:none;
	border:none;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
	cursor:pointer;
}
#p_guide{
	background-image:url(../img/m_referenceN.png),url(../img/frDxB.png);
	cursor:pointer;
}
#p_guide:hover{
	background-color:rgba(255,255,255,0.1);
}
.bodyStyled2 #p_guide{
	background-image:url(../img/m_reference.png),url(../img/frDx.png);
}
#p_notifiche{
	background-image:url(../img/ico_notificheN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_notifiche{
	background-image:url(../img/ico_notifiche.png),url(../img/frDx.png);
}
#p_notifiche:hover{
	background-color:rgba(255,255,255,0.1);
}

#p_stampa{
	background-image:url(../img/ico_stampaN.png),url(../img/frDxB.png);
	cursor:pointer;
	display:none;
}
.bodyStyled2 #p_stampa{
	background-image:url(../img/ico_stampa.png),url(../img/frDx.png);
}
#p_stampa:hover{
	background-color:rgba(255,255,255,0.1);
}
#stampa{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:var(--menu-fondino);
	background-image:url(../img/stampante.png);
	background-position: center center;
	background-repeat:no-repeat;
	z-index:100000000;
}
#stampa div{
	position:fixed;
	top:calc(50% + 130px);
	width:100%;
	text-align:center;
}

#p_feedback{
	background-image:url(../img/ico_feedbackN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_feedback{
	background-image:url(../img/ico_feedback.png),url(../img/frDx.png);
}
#p_feedback:hover{
	background-color:rgba(255,255,255,0.1);
}

#p_features{
	background-image:url(../img/ico_featuresN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_features{
	background-image:url(../img/ico_features.png),url(../img/frDx.png);
}
#p_features:hover{
	background-color:rgba(255,255,255,0.1);
}

#p_colori{
	background-image:url(../img/ico_coloriN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_colori{
	background-image:url(../img/ico_colori.png),url(../img/frDx.png);
}
#p_colori:hover{
	background-color:rgba(255,255,255,0.1);
}
#p_download{
	background-image:url(../img/ico_downloadN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_download{
	background-image:url(../img/ico_download.png),url(../img/frDx.png);
}
#p_download:hover{
	background-color:rgba(255,255,255,0.1);
}

body #p_versione{
	background-image:url(../img/ico_iaomaiN.png),url(../img/frDxB.png);
	cursor:pointer;
}
body.bodyStyled2 #p_versione{
	background-image:url(../img/ico_iaomai.png),url(../img/frDx.png);
}

#p_versione:hover{
	background-color:rgba(255,255,255,0.1);
}

#loginGuida{
	margin-top: 56px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.2);
    text-align: right;
    margin-bottom: -28px;
	color: rgba(0,0,0,0.6);
}
body:not(.smart) #loginGuida{
    margin-left: -25px;
    margin-right: -28px;
}
#btn_loginGuida{
	margin-right: 0px;
    margin-left: 10px;
}



#tooltipmenu{
	position:fixed;
	display:block;
	top:-500px;
	left:-500px;
	opacity:0;
	padding-left: 8px;
    width: fit-content;
    background-image: url(../img/frRicerca.png);
    background-position: -20px center;
    background-repeat: no-repeat;
	z-index:100;
	transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
}
#tooltipmenu span{
	background-color:#333;
	color:#FFF;
	border-radius:3px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
	width:fit-content;
	padding:10px;
	font-size: var(--font-12-1);
}
.tooltipmenuVis{
	opacity: 1 !important;
}