@charset "utf-8";
/* CSS Document */

/*


		- Generiche
		- Le icone sullo sfondo
		- I menu della piattaforma:
			1 - ANATOMIA
			4 - ELEMENTI SELEZIONATI
			3 - IMPOSTAZIONI


*/



/* GENERICHE */
.visSch{
	display:block !important;
}
.visBtn{
	display:inline-block !important;
}

.smart #cont_menu{ /* contenitore dei menu (tagliata l'ombra per il solo .smart) */
	overflow: hidden;
    position: fixed;
    z-index: 1000;
    bottom: 64px;
    width: 100%;
}


/* le ICONE sullo sfondo */
#icone{
	position:fixed;
	bottom:0px;
	left:0px;
}
body:not(.smart) #icone{
	height: 100%;
	width: 48px;
	overflow: hidden;
	background-color: var(--fondino-icone);
	z-index:20;
}
body.smart #icone{
	width:100%;
	height:64px;
	background-color: #333;
	background-repeat:repeat-x;
	background-position:top center;
	z-index: 20;
}
.smart #icone{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.smart #icone.iconeHome{
	height: 220px !important;
    overflow: hidden;
    margin: -1px;
    width: calc(100% + 2px) !important;
}
body:not(.smart) #icone.iconeTrans{
	transition: width 0.3s;
	-webkit-transition: width 0.3s;
}
body:not(.smart) #icone.iconeEspanse{
	width:180px;
	background-color: var(--fondino-icone-over);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
#btns_set{
	text-align:left;
	display:none;
	/*display:inline-block;*/
	width:auto !important;
	height:auto !important;
	max-height: 40px;
}
.smart #btns_set{
	position: fixed;
}
.smart #icone div svg{
	transform: rotate(-90deg);
    margin-top: -25px;
}

.smart #icone div:not(#p_impostazioni) svg{
    margin-left: 24px !important;
}

.smart #icone div#p_set svg,
.smart #icone div#p_sets svg{
    margin-left: 46px !important;
}
#icone div:not(#btns_set):not(#cartella_set){
	background-repeat:no-repeat;
	background-position:4px center, right center;
	cursor:pointer;
	text-align:left;
}
#contBtnModello div{
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}
.smart #contBtnModello.nas > div:not(#p_centro):not(#btns_set):not(#p_contrasto):not(#p_rifletti){
	display:none !important;
}
.bodyStampa #contBtnModello{
	display:none !important;
}
.smart #icone div:not(#btns_set):not(#cartella_set){
	width: 62px;
    height: 64px;
    float: left;
    margin: 0px;
    background-position: center -1px;
}
@media (min-width: 412px){
	.smart #icone div#p_impostazioni svg{
		margin-left: 24px !important;
	}
}
@media (max-width: 411px){
	.smart #icone div:not(#btns_set):not(#cartella_set){
		width: 60px;
	}
	.smart #p_impostazioni{
		width:30px !important;
		background-image: url(../img/p_pallini.png);
		background-size: auto 43px;
        background-position: center 3px !important;
	}
	.smart #p_impostazioni svg {
		margin-left: 9px !important;
	}
	.smart #p_impostazioni i{
		display:none !important;
	}
}
/* @media (max-width: 400px){
	.smart #icone div:not(#btns_set):not(#cartella_set){
		width: 65px;
	}
} */
.smart #icone.nasIcons div{
	display:none  !important;
}
.smart #icone #p_ricerca{
    background-position: center 4px !important;
}
.smart #icone #p_set{
    background-position: center 5px !important;
	border-left:none !important;
}
.smart #icone:not(.iconeHome) div:not(#btns_set):not(#cartella_set){
    margin-top: 7px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.4);
}
.smart #icone:not(.iconeHome) div:not(#btns_set):not(#cartella_set):not(#p_set){
    height: 50px !important;
}

.smart #icone.iconeHome div:not(#btns_set):not(#cartella_set){
	width: calc((100% + 0px) / 3);
    height: 110px;
    float: left;
    margin: 0px;
    border-right: 1px solid #444;
    background-position: center 30px;
    text-align: center;
    padding-top: 70px;
    border-bottom: 1px solid #444;
}
.smart #contBtnModello > div:not(#btns_set),
.smart #btns_set > div{
	width: 48px;
    height: 48px;
}
.smart #p_lms{
	display:none;
	/* width:36px !important;
	position: fixed;
	top: 100px;
	left: 9px;
	border-top: 1px solid rgba(255, 255, 255, 0.2); */
}
.smart #p_rifletti{
    border-radius: 6px;
    height: 48px;
    width: 48px !important;

	/* width:36px !important; */
	position: fixed;
	top: 65px;/* 
	left: 9px; */
	left: 3px;
	border-top: none !important;/* 1px solid rgba(255, 255, 255, 0.2); */
	background-color: rgba(0, 0, 0, 0.35)
}

/*.smart #icone:not(.iconeHome) #p_modello,
.smart #icone:not(.iconeHome) #cartella_set,
.smart #icone:not(.iconeHome) #p_help,
.smart #icone:not(.iconeHome) #p_impostazioni{
    border-left: none !important;
}*/
.smart #icone:not(.iconeHome) #p_impostazioni{
    border-right: none !important;
}
.smart #icone.iconeHome #p_impostazioni{
    border-left: 1px solid #444;
    width: calc((100% / 3) + 1px) !important;
    margin-left: -1px !important;	
}
#contBtnModello{
    display: block;
    position: fixed;
}
body:not(.smart) #contBtnModello{
    top: 5px;
    right: 48px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.15);
}
body:not(.bodyModello) #contBtnModello{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
body:not(.smart) #contBtnModello > div{
	vertical-align:top;
}
.smart #contBtnModello{
	width: 56px;
    top: 0px;
    padding-right: 2px;
}
body:not(.smart) #contBtnModello:hover{
	 background-color: rgba(0,0,0,0.25) !important;
}
body:not(.smart) #icone div:not(#btns_set):not(#cartella_set){
	width: 48px;
	height: 48px;
	padding-left:48px;
	overflow:hidden;
}
body:not(.smart) #contBtnModello div{
	width: 33px;
	height: 40px;
}
#icone div:not(#btns_set):not(#cartella_set) svg{
	width: 12px;
	height: 48px;
	margin-left: -12px;
	display:none;
	bottom:0px;
	position:relative;
}
.smart #icone div:not(#btns_set):not(#cartella_set) svg {
    position: absolute;
    top: 7px;
}
.p_sel svg{
	display: inline-block !important;
}
body:not(.smart) #icone.iconeTrans div:not(#btns_set):not(#cartella_set){
	transition: width 0.3s, background-color 0.3s;
	-webkit-transition: width 0.3s, background-color 0.3s;
}
.smart #icone:not(.labeled) div i{
	display:none;
}
.smart #icone.labeled div i{
	/* display:none; */
	display: block;
    font-style: normal;
    color: #FFF;
    position: absolute;
    bottom: 5px;
    width: 60px;
    text-align: center;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 3px;
}
@media (max-width: 411px){
	.smart #icone.labeled div i{
		width: 58px;
	}
}
.smart #icone.iconeHome div:not(#btns_set):not(#cartella_set) i{
	display:block !important;
	color:#FFF;
	font-style:normal;
	font-size: var(--font-12-1);
}
body:not(.smart) #icone div:not(#btns_set):not(#cartella_set) i{
	opacity:0;
	color:#FFF;
	font-style:normal;
	width: 132px;
	line-height: 48px;
	font-size: var(--font-15-39);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #icone div:not(#btns_set):not(#cartella_set):not(#p_set) i{
	color:#000;
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #ico_cliente i{
	color:#FFF !important;
}
body:not(.smart) #icone.iconeTrans div:not(#btns_set):not(#cartella_set) i{
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
body:not(.smart) #icone.iconeEspanse div:not(#btns_set):not(#cartella_set) i{
	opacity:0.7 !important;
}

body:not(.smart) #icone.iconeEspanse div:not(#btns_set):not(#cartella_set):hover i{
	opacity:0.9 !important;
}
body:not(.bodyStyled1):not(.smart) #icone div:not(#btns_set):not(#cartella_set):not(#p_set):hover{
	background-color:rgba(0,0,0,0.1) !important;
}
body.bodyStyled1:not(.smart) #icone div:not(#btns_set):not(#cartella_set):not(#p_set):hover{
	background-color:rgba(255,255,255,0.1) !important;
}
body:not(.smart) #icone.iconeEspanse div{
	width: 180px !important;
}
body:not(.smart) #icone.iconeEspanse div i{
	width: calc(100% - 10px) !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
#p_sets{
	background-image:url(../img/ico_mappaB.png);
	display:none;
}
.smart #p_sets{
    background-image: url(../img/loadingBlack.gif);
    background-position: center -6px !important;
    display: none;
    background-size: contain;
    mix-blend-mode: lighten;
}
.smart #p_sets{
	border-left:none !important;
	width:100px !important;
}
body:not(.smart) #p_buy{
	display:none;
}
.smart #p_buy{
	border-left:none !important;
}
.smart #p_sets i{
	width:98px !important;
}
#p_set,
#p_set:hover{
	background-color: #1546a1 !important;
}
.smart #p_set{
	margin-top: 0px !important;
    height: 64px !important;
	width: 100px !important;
}
.smart #p_set i{
	width: 98px !important;
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_sets{
	background-image: url(../img/ico_mappa2.png);
	background-position: 2px center, right center !important;
}
.smart #icone.noMaps #p_set,
.smart #icone.noMaps #p_sets,
.smart #icone:not(.noMaps) #p_buy{
	display:none !important;
}
#p_buy{
	text-align:center;
	background-image: url(../img/ico_purchases.png);
	background-position: center 2px !important;
}
#p_sets.p_sel svg polygon,
#p_agenda.p_sel svg polygon{
	fill: var(--menu-fondino);
}
.smart #p_modello.p_sel svg polygon{
	fill: #FFF !important;
}
.smart #p_agenda.p_sel svg polygon{
	fill: #eee !important;
}
#nav{
	display:none;
	z-index:3;
	position:fixed;
	bottom:78px;
	right:0px;
	width:24px;
	height:48px;
	background-color:rgba(0,0,0,0.1);
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
.bodyStampa #nav{
	display:none !important;
}
#nav div{
	display:block;
	width:24px;
	height:24px;
	cursor:pointer;
	background-position:center center;
	background-repeat:no-repeat;
}
#navIn{
	background-image:url(../img/piu.png);
	border-bottom:1px solid rgba(0,0,0,0.1);
}
#navOut{
	background-image:url(../img/meno.png);
}
#p_modello{
	margin-top:5px;
}
.smart #p_modello{
	display:none !important;
}
.smart.nasSch #p_modello{
	display:none;
}
#p_modello{
	background-image: url(../sets/anatomy_full/img/logoMenu.png);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_modello{
	background-image: url(../sets/anatomy_full/img/logoMenuN.png);
}
#p_modello.p_sel svg polygon{
	fill: var(--fondino-anatomia);
}
#p_selected{
	background-image:url(../img/p_selected.png);
	display:none;
}
#p_pins{
	background-image:url(../img/p_abc.png);
	display:none;
}
.pinsNo{
	background-image:url(../img/p_abcNo.png) !important;
}
#p_rifletti{
	background-image:url(../img/p_rifletti.png);
	display:none;
}  
body:not(.smart) #p_rifletti{ 
	background-size: auto 30px !important;
}
#p_rifletti.btnSel{
	background-image:url(../img/p_rifletti_sel.png) !important;
}
#p_centro{
	background-image:url(../img/p_target.png);
	display:none;
	opacity:0.2;
}
.smart #contBtnModello #p_centro:not(.centroAtt){
	left:-1000px !important;
}
.smart #contBtnModello #p_centro{
	position: fixed;
    top: 117px;
    left: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
	background-position: center 2px !important;
}
body:not(.smart) #p_centro i{
	display:none;
}
#p_centro i{
	color: #FFF;
    font-style: normal;
    font-size: 11px;
    display: inline-block;
    margin-top: 32px;
}


.smart #contBtnModello/* .vis */{
	margin-top: 170px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.smart #contBtnModello/* .vis */ div:not(#p_centro):not(#btns_set):not(#p_liv_pelle){
	border-top: 1px solid rgba(255,255,255,0.2);
	width: 36px/*  !important */;
}
.centroAtt{
	opacity:0.5 !important;
}
#p_piuma{
	background-image:url(../img/p_piuma.png);
	display:none;
	opacity:0.5;
}
.piumaAtt{
	background-image:url(../img/p_piumaAtt.png) !important;
	opacity:1 !important;
}




#p_liv_pelle{
	background-image:url(../img/p_pelle.png);
	display:none;
}
#p_liv_aree,
#p_liv_muscoli3d,
#p_liv_ossa,
#p_liv_legamenti,
#p_liv_visceri,
#p_liv_vasi,
#p_liv_pelle,
#p_extra{
	display:none;
	background-size:auto 70%;
}
body.bodyModello.smart #p_extra{
	display:inline-block !important;
	/* height: 36px !important; */
}


#p_extra svg{
	width: 36px;
	height: 36px;
	opacity: 0.5;
    border-radius: 4px;
	margin-left:-2px;
}
#p_extra svg circle{
	r: 2px;
	cy: 21px;
	stroke: none;
	stroke-width: 0px;
	fill: #FFF;
}


.Muscles #p_liv_aree,
#p_liv_muscoli3d{
	background-image:url(../img/p_muscoli.png);
}
body:not(.Muscles)  #p_liv_aree{
	background-image:url(../img/p_aree2.png);
}
#p_liv_ossa{
	background-image:url(../img/p_ossa.png);
}
#p_liv_legamenti{
	background-image:url(../img/p_legamenti.png);
}
#p_liv_visceri{
	background-image:url(../img/p_visceri.png);
}
#p_liv_vasi{
	background-image:url(../img/p_nerve3.png);
}
#p_liv_pelle.disattLiv,
#p_liv_aree.disattLiv{
	opacity:0.5 !important;
}

body:not(.smart) #p_impostazioni{
	position:fixed;
	bottom:0px;
}
body:not(.smart) #p_help{
	position:fixed;
	bottom:48px;
}
#p_impostazioni{
	background-image:url(../img/m_ingranaggio.png);
}
#p_help{
	background-image:url(../img/m_help.png);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_impostazioni{
	background-image: url(../img/m_ingranaggioN.png);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_help{
	background-image: url(../img/m_ingranaggioN.png);
}
body:not(.smart) #p_help.p_sel svg polygon,
body:not(.smart) #p_impostazioni.p_sel svg polygon{
	fill: var(--impostazioni-fondino);
}
.smart #p_help.p_sel svg polygon,
.smart #p_impostazioni.p_sel svg polygon{
	fill: var(--impostazioni-fondino-smart);
}
body:not(.smart) #p_sets{
	background-image:url(../img/ico_mappaB.png);
}
#p_ricerca{
	background-image:url(../img/lente.png);
}
/* .smart #p_ricerca{
	border-right: none !important;
} */

body:not(.smart) #p_ricerca{
	background-image:url(../img/m_lente.png);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_ricerca{
	background-image: url(../img/m_lenteN.png);
}
#p_ricerca.p_sel svg polygon{
	fill: var(--ricerche-fondino);
}
body:not(.smart) .sepMenu{
	margin-top: 10px;
	margin-bottom: 10px;
	display:block;
	width:100%;
	height:1px;
	background-color: rgba(255,255,255,0.1);
}
.smart.sepMenu{
	display:inline-block;
	width:1px;
	height:40px;
	background-color: rgba(255,255,255,0.1);
}
#p_cartella{
	background-image: url(../sets/clients_full/img/logoMenu.png);
}
#ico_cliente{
    display: none;
    width: inherit;
    height: inherit;
   	position: absolute;
    background-repeat: no-repeat;
    background-color: #534a3f;
    float: left;
	padding-left:48px;
}
body:not(.smart) #ico_cliente{
    left: 0px;
	background-position: 3px center;
}
.smart #ico_cliente{
   	margin-top: -7px !important;
    height: 64px !important;
    background-position: center 5px !important;
   	padding-left: 0px !important;
}
.clientAtt #ico_cliente{
	display:block !important;
	background-size: 40px;
}
.clientAtt > i{
	display:none !important;
}
#ico_cliente i{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
body:not(.smart) #ico_cliente i{
    width: 132px !important;
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_cartella{
	background-image: url(../sets/clients_full/img/logoMenuN.png);
}
#p_cartella.p_sel svg polygon{
	fill: var(--menu-fondino);
}
#p_agenda{
	background-image:url(../img/m_agenda.png);
}
body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_agenda{
	background-image: url(../img/m_agendaN.png);
}

/* 1 - ANATOMIA */
#pulsanti_modello{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:300px;
  	border-bottom-right-radius:5px;
	background-color:var(--anatomia-fondino);
	box-shadow:0px 0px 5px rgba(0,0,0,0.6);
	z-index:50;
}

body:not(.smart) #pulsanti_modello{
	left:48px;
}
.smart #pulsanti_modello{
	z-index:1600;
}
.smart #pulsanti_modello{
    /* bottom: 74px; */
    bottom: 10px;
    top: auto;
    /* overflow: hidden; */
	border-radius: 12px;
	box-shadow: 0 0 15px !important;
}
@media (min-width: 500px){	
	.smart #pulsanti_modello{
        width: 500px;
		left:50%;
		margin-left:-250px;
	}
}
@media (max-width: 500px){	
	.smart #pulsanti_modello{
        width: calc(100% - 20px);
        box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.4);
        left: 10px;
	}
	.smart #pulsanti_modello #labelModello{
		padding-top:7px;
		background-position:5px 7px;
		height:50px;
		padding-left: 60px;
	}
}

.pLight{
	opacity:0.3;
}
#p1{
  	border-top-right-radius:5px;
	background-color:#333;
	background: linear-gradient(to bottom, #000 0%,#333 100%);
	text-align:center;
	border-radius: 0px !important;
}
.smart #p1,
.smart #labelModello{
	border-top-left-radius: 11px !important;
	border-top-right-radius: 11px !important;
}
#btnsModello:not(.vis){
	display:none;
}
.smart #btnsModello{
	height: 83px;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-image: url(../img/sf_anatomy.png) !important;
    background-repeat: repeat-x;
    background-position: bottom center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: -92px 10px 0px 10px;
}
.smart #btnsModello #ch_anatomy{
    width: 30px;
    height: 30px;
    float: right;
    margin-left: -37px;
    margin-right: 7px;
    margin-top: 5px;
    background-image: url(../img/chMenu.png);
    background-repeat: no-repeat;
    background-position: center;
}
#pulsanti_modello.schedaOpened:not(.schedaVuota) #btnsModello{
	height: 265px;
    margin-top: -270px;
}
#pulsanti_modello.schedaOpened.schedaVuota #btnsModello {
    height: 65px;
    margin-top: -70px;
}
#pulsanti_modello.schedaOpened .s{
	padding-right: 30px !important;
    background-image: url(../img/chMenuB.png) !important;
    background-repeat: no-repeat;
    background-position: calc(100% - 1px) center;
    background-size: auto 30px;
}
.smart #pulsanti_modello.schedaOpened #p1,
.smart #pulsanti_modello.schedaOpened #livelli_precar,
.smart #pulsanti_modello.schedaOpened #livelli_cont,
.smart #pulsanti_modello.schedaOpened #memorizzaOpen3d/* ,
.smart #pulsanti_modello.schedaOpened #chiudi_modello */{
	display:none !important;
}
.smart #pulsanti_modello.schedaOpened #chiudi_modello{
	margin-right: -200px;
}

.smart #pulsanti_modello.schedaOpened #labelModello{
	/* color: #FFF !important; */
	border-radius: 11px !important;
	/* height: 32px; */
}
#cont_scheda_anatomia{
	padding:20px;
	overflow-y: auto;
    height: 200px;
    margin-top: 4px;
}
#pulsanti_modello.schedaOpened.schedaVuota #cont_scheda_anatomia{
    display:none;
}
#cont_scheda_anatomia,
#cont_scheda_anatomia *{
	color:#FFF;
}
#cont_scheda_anatomia p{
	text-align:left;
	margin: 2px 0;
}

#cont_scheda_anatomia,
#cont_scheda_anatomia *{
	font-size: var(--font-16-5);
}
#cont_scheda_anatomia p i{
	color:#efc690 !important;
}
.smart #btnsModello div.btns_anatomia{
	padding:14px 0;
}
.smart #btnsModello div.btns_anatomia > div{
	display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #000;
    padding: 0 15px;
    margin: 0 7px;
    background-image: none;
    border-radius: 5px;
    box-shadow: 0 0 5px;
	font-size: var(--font-14-48);
}
/* .smart #btnsModello span{
	display: block;
    height: 36px;
    line-height: 36px;
    margin-left: 5px;
    color: #FFF;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 3px center;
    background-size: auto 27px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */
#label_modello_smart{
	display:none;
}
.smart #pulsanti_modello.schedaOpened #label_modello_smart{
	display: block !important;
    height: 36px;
    line-height: 36px;
    color: #FFF;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 8px center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    position: absolute;
    left: 0;
	font-size: var(--font-16-29);
	padding: 0 42px;
}
.smart #label_modello_smart.s_Osso{
	background-image:url(../img/p_ossa.png);
}
.smart #label_modello_smart.s_Organo{
	background-image:url(../img/p_visceri.png);
}
.smart #label_modello_smart.s_Muscolo{
	background-image:url(../img/p_muscoli.png);
}
.smart #label_modello_smart.s_Legamento{
	background-image:url(../img/p_legamenti.png);
}
.smart #label_modello_smart.s_Vaso{
	background-image:url(../img/p_vasi.png);
}
#nasMappa.flag,
#btnIsola.flag{
	background-image: url(../img/p_selected.png) !important;
    padding-left: 30px !important;
    background-size: auto 22px;
    background-position: 5px center;
    background-repeat: no-repeat;
}

#p1 div,
#chiudi_modello,
#help_modello{
	width:40px;
	background-repeat:no-repeat;
	background-position:center center, center 1000px;
	cursor:pointer;
	vertical-align:top;
}
#p1 div{
	height:50px;
}
#chiudi_modello,
#help_modello{
	height:40px;
	/* border:1px solid #F00 !important; */
	/* display: inline-block; */
	float: right;
	/* margin-right: 10px; */
}
#p1 div{
	display:inline-block;
	background-size: auto 72%, auto;
}
.smart.android #p1 div:not(#scarica_modello){
	width:48px !important;
	height:60px !important;
}
#p1 div:not(.btnSel){
	-webkit-transition: background-image 0.8s;
	transition: background-image 0.8s;
}
#p1 div:not(.btnSel):not(#scarica_modello):hover{
	opacity:0.8;
}
#p1 i{
	display:inline-block;
	height:40px;
	line-height:40px;
	color:#FFF;
	padding-left:10px;
}
.disModello{
	opacity:0.5 !important;
}
#p_donna{
	background-image:url(../img/pG_donna.png), url(../img/frSelModello.png);
}
#p_donna.pModsEvi{
	background-image:url(../img/pG_donna_sel.png), url(../img/frSelModello.png) !important;
}
#p_donna.btnSel{
	background-image:url(../img/pG_donna_sel.png), url(../img/frSelModello.png) !important;
	background-position:center center, center bottom !important;
}
#p_uomo{
	background-image:url(../img/pG_uomo.png), url(../img/frSelModello.png);
}
#p_uomo.pModsEvi{
	background-image:url(../img/pG_uomo_sel.png), url(../img/frSelModello.png) !important;
}
#p_uomo.btnSel{
	background-image:url(../img/pG_uomo_sel.png), url(../img/frSelModello.png) !important;
	background-position:center center, center bottom !important;
}
.bodyStyled2 #p_uomo.btnSel{
	background-image:url(../img/pG_uomo_sel.png), url(../img/frSelModello2.png) !important;
}
#p_piedi{
	background-image:url(../img/pG_piedi.png), url(../img/frSelModello.png);
}
#p_piedi.pModsEvi{
	background-image:url(../img/pG_piedi_sel.png), url(../img/frSelModello.png) !important;
}
#p_piedi.btnSel{
	background-image:url(../img/pG_piedi_sel.png), url(../img/frSelModello.png) !important;
	background-position:center center, center bottom !important;
}
.bodyStyled2 #p_piedi.btnSel{
	background-image:url(../img/pG_piedi_sel.png), url(../img/frSelModello2.png) !important;
}
#p_orecchio{
	background-image:url(../img/pG_orecchio.png), url(../img/frSelModello.png);
}
#p_orecchio.pModsEvi{
	background-image:url(../img/pG_orecchio_sel.png), url(../img/frSelModello.png) !important;
}
#p_orecchio.btnSel{
	background-image:url(../img/pG_orecchio_sel.png), url(../img/frSelModello.png) !important;
	background-position:center center, center bottom !important;
}
#labelModello{
	height: 40px;
    line-height: 40px;
    background-color: #000;
}
body:not(.smart) #labelModello{
	color: rgba(255,255,255,0.7) !important;
    text-align: left;
    padding-left: 20px;
    font-size: var(--font-18-7);
}
.smart #labelModello{
	color: #FFF !important;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(../sets/anatomy_full/img/logoMenu.png);

	
	color: #000 !important;
	margin-bottom: -45px;
	background-image:none !important;
}
/* .smart #labelModello i{
	display:none;
} */
.smart.android #labelModello{
	font-size: var(--font-16-93);
}
.app_version.bug_font.smart.android #labelModello{
	font-size: var(--font-15-39) !important;
}
#chiudi_modello{
	background-image:url(../img/chMenu.png);
	float:right;
    margin-left: -40px;
	background-size:80%;
}
.smart #chiudi_modello{	
	/* margin-left: -29px; */
	margin-left: 8px;
    margin-right: 8px;
}
#help_modello{
	border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 17px;
    float: right;
    /* margin-left: -53px; */
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    margin-right: 36px;
    margin-top: 10px;
    border: 2px solid rgba(255,255,255,0.5);
	cursor:pointer;
	font-size: var(--font-18-7) !important;
	font-weight:bold;
}
.smart #help_modello{
	/* margin-left: -16px !important; */
	display: none;
}
.modelloScelto #livelli_cont{
	padding-top:5px;
	padding-bottom:5px;
}
#livelli_cont > div{
	padding-right:10px;
	display:none;
}
#livelli_precar{
	padding: 20px;
    text-align: center;
    font-style: italic;
    color: #999;
    padding-top: 25px;
    border-top: 3px solid #407ace;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.modelloScelto #livelli_precar{
	display:none;
}
#p_pelle,
#p_aree,
#p_muscoli3d,
#p_ossa,
#p_legamenti,
#p_visceri,
#p_vasi{
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
}
#scarica_modello{
	background-color: #fbf9f5;
    width: 32px !important;
    height: 33px !important;
    display: inline-block;
    background-image: url(../img/noManichino.png);
    background-size: 30px !important;
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
    margin-top: 18px !important;
    margin-left: -32px !important;
    border-top-left-radius: 6px;
}
.smart #scarica_modello{
	display:none !important;
}
.smart.android #scarica_modello{
    margin-top: 21px !important;
	width: 36px !important;
    height: 39px !important;
    margin-left: -36px !important;
}
#pulsanti_modello:not(.modelloScelto) #scarica_modello{
	display:none !important;
}
#livelli_cont > div:not(#p_pelle){
	border-top:1px solid rgba(0,0,0,0.3);
}
#i_pelle,
#i_aree,
#i_muscoli3d,
#i_ossa,
#i_legamenti,
#i_visceri,
#i_vasi{
	background-repeat:no-repeat;
	background-position:5px center;
	width:40px;
	height:40px;
	display:inline-block;
	vertical-align:top;
	margin-top: -10px;
	margin-left:0px;
	margin-right:8px;
}
#i_pelle{
	background-image:url(../img/p_pelleB.png);
	cursor:pointer;
}
#i_ossa{
	background-image:url(../img/p_ossaB.png);
}
#i_legamenti{
	background-image:url(../img/p_legamentiB.png);
}
#i_visceri{
	background-image:url(../img/p_visceriB.png);
}
#i_vasi{
	background-image:url(../img/p_nerve3B.png);
}
#i_aree{
	cursor:pointer;
}
.Muscles #i_aree,
#i_muscoli3d{
	background-image:url(../img/p_muscoliB.png);
}
body:not(.Muscles) #i_aree{
	background-image:url(../img/p_aree2B.png);
}
#p_aree.disattLiv #i_aree:hover,
#p_pelle.disattLiv #i_pelle:hover{
	opacity:0.6 !important;
}
#slideAree{
    background-color: #565656;
    width: 6px;
    height: 72px;
    display: block;
    float: left;
    margin-bottom: -40px;
    margin-right: -7px;
    margin-top: 4px;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none !important;
    padding: 0px !important;
	cursor:pointer;
	opacity:0;
}
#slideAree div{
	width:9px;
	height:19px;
	background-color:#EEE;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 6px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	cursor:pointer;
	transition: margin-top .2s;
	-webkit-transition: margin-top .2s;
}
#slideAree div:hover{
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.visSlide{
	display:block !important;
}
.slideOn div{
	margin-top:46px !important;
}
.disattLiv > div{
	opacity:0.3;
}
.livelli_listed .slider,
.livelli_listed .slider{
	width: calc(100% - 80px);
}
.slider_cont{
	width:100%;
	height:40px;
	padding-top:10px;
}
.slider {
	width: calc(100% - 50px);
	height: 8px;
	background-color: #575757;
	background: linear-gradient(to bottom, #444 0%,#575757 100%);
	border-radius:5px;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-top:6px;
	display:inline-block;
	vertical-align:top;
}
.slider div{
	width: 24px;
	height: 24px;
	border-radius:12px;
	margin-top:-8px;
	background-color: #FFF;
	box-shadow:0px 0px 3px rgba(0,0,0,0.4);
	cursor: pointer;
}
.slider div:hover{
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
#el_visceri_cont,
#el_vasi_cont,
#el_ossa_cont,
#el_aree_cont,
#el_muscoli3d_cont,
#el_legamenti_cont{
	display:none;
	margin-left:10px;
	width:100%;
	height:211px;
	background-color:#575757;
	background: linear-gradient(to bottom, #333 0%,#575757 25%);
	margin:0px !important;
	padding:0px !important;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
#el_visceri,
#el_vasi,
#el_ossa,
#el_aree,
#el_muscoli3d,
#el_legamenti{
	margin-top:10px;
	margin-left:10px;
	width:100%;
	height:169px;
	overflow-y:auto;
	overflow-x:hidden;
	margin:0px !important;
	padding:0px !important;
}
#filtro_visceri,
#filtro_vasi,
#filtro_ossa,
#filtro_aree,
#filtro_muscoli3d,
#filtro_legamenti{
	width:calc(100% - 10px);
	border:1px solid rgba(255,255,255,0.4);
	border-radius:3px;
	background-color:rgba(255,255,255,0.3);
	height:26px;
	line-height:26px;
	text-align:center;
	margin-top:5px;
	background-image:url(../img/lente.png);
	background-repeat:no-repeat;
	background-position:left center;
	background-size:auto 90%;
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
#filtro_visceri::placeholder,
#filtro_vasi::placeholder,
#filtro_ossa::placeholder,
#filtro_aree::placeholder,
#filtro_muscoli3d::placeholder,
#filtro_legamenti::placeholder{
	color:rgba(255,255,255,0.4);
	font-style:italic;
}
#el_visceri p,
#el_vasi p,
#el_ossa p,
#el_aree p,
#el_muscoli3d p,
#el_legamenti p{
	font-size: var(--font-12-1);
    cursor: pointer;
    margin-top: 0px;
    margin: 5px;
    display: block;
	border-radius:10px;
	height:24px;
	line-height:24px;
	color:#FFF;
}
#el_visceri p.lockedItem,
#el_vasi p.lockedItem,
#el_ossa p.lockedItem,
#el_aree p.lockedItem,
#el_muscoli3d p.lockedItem,
#el_legamenti p.lockedItem {
	background-image: url(../img/lockB.png);
    background-size: auto 50%;
    background-position: right center;
	background-repeat: no-repeat;
	cursor:default !important;
	color:#999 !important;
}
@media (max-width: 600px){
	#el_visceri p,
	#el_vasi p,
	#el_ossa p,
	#el_aree p
	#el_muscoli3d p
	#el_legamenti p{
		font-size: var(--font-14-3) !important;
		height:30px !important;
		line-height:30px !important;
		border-radius:15px !important;
	}
}
#el_visceri i,
#el_vasi i,
#el_ossa i,
#el_aree i,
#el_muscoli3d i,
#el_legamenti i{
	display:block;
	padding-top:10px;
	padding:5px;
	color:rgba(255,255,255,0.6) !important;
}
.p_viscSel,
.p_ossaSel,
.p_areeSel,
.p_muscoli3dSel,
.p_legamentiSel{
	background-color:#F09;
	color:#FFF;
}
.elNasc{
	display:none !important;
}
#ch_aree,
#ch_muscoli3d,
#ch_ossa,
#ch_legamenti,
#ch_visceri,
#ch_vasi{
	width:24px;
	height:24px;
	background:url(../img/chMenu.png) no-repeat center center;
	background-size:contain;
	margin-left:-24px;
	margin-top:5px;
	display:none;
	vertical-align:top;
	cursor:pointer;
}
.visChFiltro{
	display:inline-block !important;
}
#fr_visceri,
#fr_vasi,
#fr_ossa,
#fr_aree,
#fr_muscoli3d,
#fr_legamenti{
	display:none;
	float:right;
	margin-top:-11px;
	margin-right:-8px;
	width:40px;
	height:40px;
	background-image:url(../img/frGiuBlu.png);
	background-repeat:no-repeat !important;
	background-size:contain;
	background-position:center center !important;
	cursor:pointer;
}
.livelli_listed #fr_visceri,
.livelli_listed #fr_vasi,
.livelli_listed #fr_ossa,
.livelli_listed #fr_aree,
.livelli_listed #fr_muscoli3d,
.livelli_listed #fr_legamenti{
	display:inline-block !important;
}
.frOpened{
	background-image:url(../img/frSuBlu.png) !important;
}
.elOpened{
	display:block !important;
}
#memorizzaOpen3d,
#memorizzaOpenMap{
	margin-bottom: 6px;
    font-size: var(--font-12);
    text-align: right;
    padding-right: 7px;
	padding-top: 6px;
}
.smart #memorizzaOpen3d,
.smart #memorizzaOpenMap{
	margin-bottom: 10px;
    padding-right: 9px;
	margin-top: 4px;
}
.smart #memorizzaOpen3d{
	display:none;
}
/* .tueLicenze{
    text-align: left;
	padding-top: 16px;
    padding: 0 8px;
	width:100%;
}
.tueLicenze span{
	display: inline-block;
    margin-bottom: 6px;
    height: 31px;
    line-height: 31px;
    background-image: url(../img/ico_coccardaB.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 27px;
    cursor: pointer;
    padding-left: 35px;
}
.smart .tueLicenze span,
#elenchi_pulsanti .tueLicenze span{
	background-position: right center;
	float:right;
	font-size: var(--font-15-39) !important;
    width: 35px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
#tueLicenzeMappa,
.smart .tueLicenze{
	display:block;
	margin-top: -43px;
} */

#noLicenze,
#demoVersion{
	display: none;
    width: calc(100% - 16px);
    /* height: 40px; */
    border-radius: 6px;
    background-color: #407ace;
    color: #FFF;
    padding-left: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-image: url(../img/alert.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: auto 38px;
    margin: 0 8px 10px 8px;
    text-align: left;
	cursor:pointer;
	font-size: 13.2px;
}
#noLicenze *,
#demoVersion *{
    color: #FFF;
	font-size: inherit;
}
#noLicenze.vis,
#demoVersion.vis{
	display:block !important;
}

#mem_open3d,
#mem_openMap{
	vertical-align: middle;
}
.smart #mem_open3d,
.smart #mem_openMap{
	margin-left: 9px;
}

/* 3 - ELENCO SELEZIONATI */
#elencoSelected{
	display:none;
	position:fixed;
	width:300px;
  	border-radius:5px;
	background-color:var(--anatomia-fondino);
	box-shadow:0px 0px 5px rgba(0,0,0,0.6);
	z-index:60;
}
body:not(.smart) #elencoSelected{
    top: 44px;
    right: 48px;
}
.smart #elencoSelected{
	top: 373px;
    left: 12px;
}
#labelSelected{
	height:40px;
	line-height:40px;
	background-color:rgba(0,0,0,0.6);
	color:#FFF !important;
	font-weight:bold;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
body:not(.smart) #labelSelected{
	text-align:left;
	padding-left:10px;
}
.smart #labelSelected{
	background-image:url(../img/p_selected.png);
	background-repeat:no-repeat;
	background-position:4px center;
}
#chiudiSelected{
	width:40px;
	height:40px;
	float:right;
	display:inline-block;
	background-repeat:no-repeat;
	background-size:auto 32px;;
	background-position:center center;
	background-image:url(../img/chMenu.png);
	margin-left:-40px;
	cursor:pointer;
}
#contSelected{
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	max-height:360px;
	overflow-x:hidden;
	overflow-y:auto;
}
#contSelected p{
	background-image:url(../img/chMenu.png);
	background-size:auto 80%, auto 95%;
	background-position:right center, 3px center;
	background-color:#F09;
	background-repeat:no-repeat;
	color:#FFF;
	font-size: var(--font-12-1);
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 5px;
    display: block;
	border-radius:10px;
	height:24px;
	line-height:24px;
}
.Muscles .selM{
	background-image:url(../img/chMenu.png), url(../img/p_muscoli.png) !important;
}
body:not(.Muscles) .selM{
	background-image:url(../img/chMenu.png), url(../img/p_aree2.png) !important;
}
.selO{
	background-image:url(../img/chMenu.png), url(../img/p_ossa.png) !important;
}
.selV{
	background-image:url(../img/chMenu.png), url(../img/p_visceri.png) !important;
}
.selN{
	background-image:url(../img/chMenu.png), url(../img/p_nerve3.png) !important;
}
.selL{
	background-image:url(../img/chMenu.png), url(../img/p_legamenti.png) !important;
}
#chiudiTuttiSelected{
	font-size: var(--font-12-1);
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 5px;
    display: block;
	border-radius:10px;
	height:24px;
	line-height:24px;
}
#sliderAnatomia{
	display:none;
	position:fixed;
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	border-radius:5px;
}
body:not(.smart) #sliderAnatomia{
	top:0px;
	height:30px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%), #FFF;
	width:220px;
	padding-top:5px;
}
.smart #sliderAnatomia{
	left:0px;
	width:42px;
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%), #FFF;
	height:220px;
}
body:not(.smart) #sliderAnatomia .slider{
	width: calc(100% - 10px) !important;
}
.smart #sliderAnatomia .slider{
	height: calc(100% - 10px) !important;
	width: 14px;
}
.smart #sliderAnatomia .slider div{
	width: 36px;
    height: 36px;
	margin-left: -11px;
}
.smart #ttAnatomia{
	display:none;
	position:fixed;
	z-index:10;
	left:55px;
	top:-500px;
	width:70px;
	height:40px;
	margin-left:41px;
	margin-top:-43px;
	line-height:40px;
	text-align:center;
	background: rgba(255,255,255,0.7);
	color:#000;
	font-size: var(--font-16-29) !important;
	border-radius:8px;
}


/* 3 - IMPOSTAZIONI */
#help,
#impostazioni{
	display:none;
	width:300px;
  	border-top-right-radius:5px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.6);
}
body:not(.smart) #help,
body:not(.smart) #impostazioni{
	left:48px;
	z-index:19;
	position:fixed;
	bottom:0px;
	background-color:var(--impostazioni-fondino);
}
.smart #help,
.smart #impostazioni{
	left:auto !important;
	right:0px;
	bottom:64px;
	z-index: 550;
	border-top-left-radius:5px;
	border-top-right-radius:0px;
	float:right;
	background-color:var(--impostazioni-fondino-smart);
	width: 100%;
    border-radius: 0px;
    position: fixed;
    height: calc(100% - 64px);
	box-shadow:none !important;
}
#labelImpostazioni{
	height:40px;
	line-height:40px;
	color:var(--impostazioni-label) !important;
	font-weight:bold;
  	border-top-right-radius:5px;
	background-image:url(../img/p_impostazioni.png);
	background-repeat:no-repeat;
	background-position:4px center;
}
#labelHelp{
	height:40px;
	line-height:40px;
	color:var(--impostazioni-label) !important;
	font-weight:bold;
  	border-top-right-radius:5px;
	background-image:url(../img/p_help.png);
	background-repeat:no-repeat;
	background-position:4px center;
}
.smart.android #labelHelp,
.smart.android #labelImpostazioni{
	font-size: var(--font-18) !important;
	margin-bottom:10px;
}
.app_version.bug_font.smart.android #labelHelp,
.app_version.bug_font.smart.android #labelImpostazioni{
	font-size: var(--font-16-29) !important;
}
#i1{
  	border-top-right-radius:5px;
	border-radius: 0px !important;
}
#i1 div{
	width:100%;
	height:50px;
	line-height:50px;
	padding-left:50px;
	background-repeat:no-repeat;
	background-position:5px center, right center;
	background-size:auto, auto 90%;
	text-align:left;
	color:var(--impostazioni-testo);
	border-top:var(--impostazioni-divisorio);
}
.smart.android #i1 div,
.smart.android #nomeUtente{
    font-size: var(--font-16-93);
}
.app_version.bug_font.smart.android #i1 div,
.app_version.bug_font.smart.android #nomeUtente{
    font-size: var(--font-15-39) !important;
}
#i1 div b{
	color:var(--impostazioni-testo);
}
#i1 div:first-child{
	border-top:none !important;
}
#i1 div span{
	float: right;
    height: 50px;
    line-height: 50px;
}
#chiudi_help,
#chiudi_impostazioni{
	height:40px;
	background-image:url(../img/chMenuB.png);
	float:right;
    margin-left: -40px;
	background-size:80%;
	width:40px;
	background-repeat:no-repeat;
	background-position:center center;
	vertical-align:top;
	cursor:pointer;
}
.smart #chiudi_help,
.smart #chiudi_impostazioni{
	background-size:auto;
}
.bodyStyled2 #chiudi_help,
.bodyStyled2 #chiudi_impostazioni{
	background-image:url(../img/chMenu.png);
}
#p_login{
	background-image:url(../img/ico_utenteN.png);
}
.bodyStyled2 #p_login{
	background-image:url(../img/ico_utente.png);
}
#btn_logout{
	display:none;
}
.btn_logout_mini{
	overflow: hidden;
	background-image: url(../img/ico_logout.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
	background-position:center center;
	background-repeat: no-repeat;
    width: 30px;
    padding-left: 30px !important;
    padding-right: 0px !important;
}
.btn_logout_mini:hover{
	background-image: url(../img/ico_logout.png), linear-gradient(to bottom, #0a3d96 0%,#052d74 100%) !important;
}
.btn_login_mini{
	overflow: hidden;
	background-image: url(../img/ico_connessione.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
	background-position:center center;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
    width: 30px;
    padding-left: 30px !important;
    padding-right: 0px !important;
}

.smart .btn_login_mini,
.smart .btn_logout_mini,
.smart #btn_modut{
	width: 41px !important;
	height: 41px !important;
	margin-top: 5px !important;
	padding-left:41px !important;	
}
.btn_login_mini:hover{
	background-image: url(../img/ico_connessione.png), linear-gradient(to bottom, #0a3d96 0%,#052d74 100%) !important;
}

#btn_modut{
	display:inline-block;
	background-position:center center;
	background-repeat: no-repeat;
	width:30px;
	height:30px !important;
    line-height: 30px !important;
	float:right;
    margin-right: 3px;
    margin-top: 9px;
	cursor:pointer;
}
.bodyStyled2 #btn_modut{
	background-image: url(../img/ico_modifica_anagB.png);
}
body:not(.bodyStyled2) #btn_modut{
	background-image: url(../img/ico_modifica_anag.png);
}

#nomeUtente{
	font-weight:normal;
	width: calc(100% - 85px);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	display: inline-block;
	margin-bottom: -20px;
	margin-right: -20px;
	color:var(--impostazioni-testo);
}
#utDisc{
    margin-top: -38px !important;
    display: none;
    font-size: var(--font-12);
    color: #6e9aec;
}
.smart.android #utDisc{
    margin-top: -34px !important;
    font-size: var(--font-14-3);
}
.app_version.bug_font.smart.android #utDisc{
    font-size: var(--font-12-94) !important;
}
#p_reg{
	color: #FFF;
    display: block;
    background-color: rgba(255,255,255,0.1);
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    font-size: var(--font-12-1);
}

.bodyStyled0 #p_reg,
.bodyStyled1 #p_reg{
	background-color: rgba(0,0,0,0.3);
}
#p_reg span:first-child{
	color: #FFF;
	display:block;
}

#btn_registrazione{
    background: #c18b17;
    background: -moz-linear-gradient(top, #aa6c1d 0%,#c18b17 100%);
    background: -webkit-linear-gradient(top, #aa6c1d 0%,#c18b17 100%);
    background: linear-gradient(to bottom, #aa6c1d 0%,#c18b17 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa6c1d', endColorstr='#c18b17',GradientType=0 );
}
#btn_registrazione:hover{
    background: #dea935 !important;
    background: -moz-linear-gradient(top, #c3802a 0%,#dea935 100%) !important;
    background: -webkit-linear-gradient(top, #c3802a 0%,#dea935 100%) !important;
    background: linear-gradient(to bottom, #c3802a 0%,#dea935 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3802a', endColorstr='#dea935',GradientType=0 ) !important;
}

#p_lingua{
	background-image:url(../img/ico_linguaprefN.png);
}
.bodyStyled2 #p_lingua{
	background-image:url(../img/ico_linguapref.png);
}
#lingueSelect{
	display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 13px;
    margin-top: 5px;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 30px;
    background-image: url(../img/frGiuB.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #a9a59b;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    color: #000;
}
.smart #lingueSelect{
	height: 41px;
    padding-left: 15px;
    font-size: var(--font-14-94);
}
#lingueSelect option{
    color: #000;
}
.bodyStyled2 #lingueSelect{
    background-image: url(../img/frGiu.png) !important;
    background-color: #464444 !important;
    color: #FFF !important;
}
.bodyStyled2 #lingueSelect option{
    color: #FFF;
}
#ico_infolingue{
	width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border-radius: 22px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.2);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin: -3px 6px 0px 0px;
}
.smart #ico_infolingue{
    width: 30px;
	height: 30px;
	line-height: 30px;
}
.bodyStyled2 #ico_infolingue{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
	
}


#p_guide{
	background-image:url(../img/m_referenceN.png),url(../img/frDxB.png);
	cursor:pointer;
	background-position: 2px center, right center !important;
}
#p_guide:hover{
	background-color:rgba(255,255,255,0.1);
}
.bodyStyled2 #p_guide{
	background-image:url(../img/m_reference.png),url(../img/frDx.png);
}
#p_notifiche{
	background-image:url(../img/ico_notificheN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_notifiche{
	background-image:url(../img/ico_notifiche.png),url(../img/frDx.png);
}
#p_notifiche:hover{
	background-color:rgba(255,255,255,0.1);
}

#p_stampa{
	background-image:url(../img/ico_stampaN.png),url(../img/frDxB.png);
	cursor:pointer;
	display:none;
}
.bodyStyled2 #p_stampa{
	background-image:url(../img/ico_stampa.png),url(../img/frDx.png);
}
#p_stampa:hover{
	background-color:rgba(255,255,255,0.1);
}
.app_version #p_stampa{
	display:none !important;
}
#stampa{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:var(--menu-fondino);
	background-image:url(../img/stampante.png);
	background-position: center center;
	background-repeat:no-repeat;
	z-index:100000000;
}
#stampa div{
	position:fixed;
	top:calc(50% + 130px);
	width:100%;
	text-align:center;
}

#p_feedback{
	background-image:url(../img/ico_feedbackN.png),url(../img/frDxB.png);
	cursor:pointer;
	background-position: 6px center, right center !important;
}
.bodyStyled2 #p_feedback{
	background-image:url(../img/ico_feedback.png),url(../img/frDx.png);
}
#p_feedback:hover{
	background-color:rgba(255,255,255,0.1);
}

#p_features{
	background-image:url(../img/ico_featuresN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_features{
	background-image:url(../img/ico_features.png),url(../img/frDx.png);
}
#p_features:hover{
	background-color:rgba(255,255,255,0.1);
}

#p_purchases{
	background-image:url(../img/ico_purchasesN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_purchases{
	background-image:url(../img/ico_purchases.png),url(../img/frDx.png);
}
#p_purchases:hover{
	background-color:rgba(255,255,255,0.1);
}

#p_licenze{
	background-image:url(../img/ico_coccardaN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_licenze{
	background-image:url(../img/ico_coccarda.png),url(../img/frDx.png);
}
#p_licenze:hover{
	background-color:rgba(255,255,255,0.1);
}

#p_colori{
	background-image:url(../img/ico_coloriN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_colori{
	background-image:url(../img/ico_colori.png),url(../img/frDx.png);
}
#p_colori:hover{
	background-color:rgba(255,255,255,0.1);
}
#p_download{
	background-image:url(../img/ico_downloadN.png),url(../img/frDxB.png);
	cursor:pointer;
}
.bodyStyled2 #p_download{
	background-image:url(../img/ico_download.png),url(../img/frDx.png);
}
#p_download:hover{
	background-color:rgba(255,255,255,0.1);
}

body #p_versione{
	background-image:url(../img/ico_iaomaiN.png),url(../img/frDxB.png);
	cursor:pointer;
}
#p_versione b{
	font-size: inherit;
}
body.bodyStyled2 #p_versione{
	background-image:url(../img/ico_iaomai.png),url(../img/frDx.png);
}

#p_versione:hover{
	background-color:rgba(255,255,255,0.1);
}

#loginGuida{
	margin-top: 56px;
    padding-top: 10px;
    /* border-top: 1px solid rgba(0,0,0,0.2); */
    text-align: right;
    margin-bottom: -28px;
	color: rgba(0,0,0,0.6);
}
body:not(.smart) #loginGuida{
    margin-left: -25px;
    margin-right: -28px;
}
#btn_loginGuida{
	margin-right: 0px;
    margin-left: 10px;
}



#tooltipmenu{
	position:fixed;
	display:block;
	top:-500px;
	left:-500px;
	opacity:0;
	padding-left: 8px;
    width: fit-content;
    background-image: url(../img/frRicerca.png);
    background-position: -20px center;
    background-repeat: no-repeat;
	z-index:100;
	transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
}
#tooltipmenu span{
	background-color:#333;
	color:#FFF;
	border-radius:3px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
	width:fit-content;
	padding:10px;
	font-size: var(--font-12-1);
}
.tooltipmenuVis{
	opacity: 1 !important;
}