@charset "utf-8";
/* CSS Document */

/* LINGUA */
#moduloLinguaSinteticaMTC{

}
.md_radioCmpr{
	display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    line-height: 20px;
	text-align:center;
    white-space: nowrap;
}
.md_radioCmpr span{
	display:none;
}
.md_radioCmpr input{
	margin:0;
}
.label_ratio{
	font-weight:bold;
	border-top:1px solid rgba(0,0,0,0.1);
}

.md_radioExp{
	display: inline-block;
	width:200px;
	height:220px;
	text-align:center;
	margin:3px;
}
.md_radioExp label:has(input:checked){
	box-shadow: 0 0 4px rgba(66, 79, 190, 0.4);
	background-color: #FFF;
	mix-blend-mode: normal;
}
.md_radioExp label:hover{
	box-shadow: 0 0 4px rgba(66, 79, 190, 0.2);
}
.md_radioExp label{
	cursor:pointer;
	display: inline-block;
	border-radius:8px;
	width:200px;
	height:220px;
	padding-top:190px;
	text-align:center;
}

.md_contRadioExp{
    overflow-x: auto;
    margin-top: 10px;
    padding: 1px;
    white-space: nowrap;
}
.md_radioExp label{
	background-repeat: no-repeat;
	background-position: top center;
	mix-blend-mode: multiply;
}
#md_lingua0 label{
	background-image: url(../img/valutazioni/lingua_normal.png);
}
#md_lingua1 label{
	background-image: url(../img/valutazioni/lingua_qi_deficiency.png);
}
#md_lingua2 label{
	background-image: url(../img/valutazioni/lingua_heat.png);
}
#md_lingua3 label{
	background-image: url(../img/valutazioni/lingua_qi_stagnation.png);
}
#md_lingua4 label{
	background-image: url(../img/valutazioni/lingua_blood_stasis.png);
}
#md_lingua5 label{
	background-image: url(../img/valutazioni/lingua_yang_deficiency.png);
}
#md_lingua6 label{
	background-image: url(../img/valutazioni/lingua_yin_deficiency.png);
}
#md_lingua7 label{
	background-image: url(../img/valutazioni/lingua_damp_heat.png);
}
#md_lingua8 label{
	background-image: url(../img/valutazioni/lingua_damp_retantion.png);
}
#md_lingua9 label{
	background-image: url(../img/valutazioni/lingua_blood_deficiency.png);
}

.md_dida{
	padding:10px 0;
	line-height: normal;
}
.md_lists i{
    display: inline-block;
    vertical-align: middle;
    margin: 0px !important;
    width: calc(100% - 40px);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px !important;
	opacity: 1;
    font-style: normal !important;
}
.md_lists .domandeModuli{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0;
}
.md_lists .domandeModuli select{
	margin-top:1px;
}
.md_lists > div > div > div{
	display: inline-block;
}
.md_label_total{
	width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -50px;
    text-align: right !important;
	font-weight: bold;
}
.md_label_total .etichetteModuli{
	padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}
.md_label_total .etichetteModuli i{
	text-align: right !important;
    display: block;
    padding-right: 50px !important;
}
.md_cont_total.largo .md_label_total{
	width: 200px;
	margin:0;
}
.md_cont_total.largo .md_label_total .etichetteModuli i{
	padding-right: 0 !important;
    text-align: left !important;
}
.md_total{
	display: inline-block;
    vertical-align: middle;
    width: 46px;
    text-align: right;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}
.md_cont_total.largo .md_total{
	width: calc(100% - 204px);
}
.md_cont_total{
	background-color: rgba(0,0,0,0.1);
	border-radius:8px;
	margin-top:20px;
	min-height: 27px;
}
.md_descr{
	text-align:right;
}
.md_descr span{
	display: none;
    line-height: normal;
    text-align: left;
    padding: 10px;
	width: 100%;
}


/* LINGUA ANALITICA, VISO, OCCHI  e  CAPELLI */
#moduloVisoMTC{
	background-image: url(../img/valutazioni/viso.png);
}
#moduloCapelliMTC{
	background-image: url(../img/valutazioni/capelli.png);
}
#moduloLinguaAnaliticaMTC{
	background-image: url(../img/valutazioni/lingua.png);
}
#moduloPelleMTC{
	background-image: url(../img/valutazioni/pelle.png);
}
#moduloPosturaMTC{
	background-image: url(../img/valutazioni/postura.png);
}
#moduloOcchiMTC{
	background-image: url(../img/valutazioni/occhio.png);
}
.moduloImg{
	background-size: 130px auto;
}
.moduloImg > div:first-child{
	padding-left: 144px;
}
.moduloImg .etichetteModuli:first-child{
	margin-top:0px !important;
	border-top:none !important;
}
.sch_Max600 .moduloImg{
	background-position: left 10px;
	background-size: auto 120px;
}
.sch_Max600 .moduloImg > div:first-child{
	padding-top:140px;
}

/* OCCHI */
.sch_Max600 #moduloOcchiMTC > div:first-child{
	padding-top:80px;
}
/* VISO, CAPELLI e PELLE */
.sch_Max600 #moduloVisoMTC > div:first-child,
.sch_Max600 #moduloCapelliMTC > div:first-child,
.sch_Max600 #moduloPelleMTC > div:first-child{
	padding-top:126px;
}


/* MANI */
#moduloManiMTC{
	background-image: url(../img/valutazioni/mano.png);
	background-size: auto 188px;
}
#moduloManiMTC > div:first-child{
	padding-left: 144px;
}
#moduloManiMTC .etichetteModuli:first-child{
	margin-top:0px !important;
	border-top:none !important;
}
.sch_Max600 #moduloManiMTC{
	background-position: left 10px;
	background-size: auto 160px;
}
.sch_Max600 #moduloManiMTC > div:first-child{
	padding-top:150px;
}

/* DENTI */
#moduloDentiMTC{
	background-image: url(../img/valutazioni/denti.png);
	background-size: auto 188px;
}
#moduloDentiMTC > div:first-child{
	padding-left: 144px;
}
.sch_Max600 #moduloDentiMTC{
	background-position: left 10px;
	background-size: auto 160px;
}
.sch_Max600 #moduloDentiMTC > div:first-child{
	padding-top:105px;
}


/* generica */
.moduloAnaliticoMTC{
	background-repeat: no-repeat;
}
.moduloAnaliticoMTC > div:first-child > div > i{
	float: left;
    margin-top: 3px !important;
    width: 99px;
    text-align: right;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.moduloAnaliticoMTC .etichetteModuli:first-child{
	margin-top:0px !important;
	border-top:none !important;
}
.sch_Max600 .moduloAnaliticoMTC > div:first-child{
	padding-left:0px !important;
}
.sch_Max600 .moduloAnaliticoMTC > div:first-child > div > i{
    margin-top: 9px !important;
}




/* POLSI */
#moduloPolsiMTC{
	overflow-x:auto;
	white-space: nowrap;	
	text-align:center;
}
#moduloPolsiMTC > div > div{
	display:inline-block;
	vertical-align: top;
	width:300px;
	height:470px;
	background-image: url(../img/valutazioni/polsi.png);
	background-repeat: no-repeat;
	white-space: normal;
}
#moduloPolsiMTC > div > div > div{
	background-color: rgba(0, 0, 0, 0.1);
	border:1px solid rgba(0,0,0,0.5);
    border-radius: 6px;
	padding:3px;
	width: 166px;
	display:inline-block;
}
#moduloPolsiMTC > div > div > div > div{
	margin:0;
	text-align:left;
}
#moduloPolsiMTC > div > div > div > div:nth-child(2) i,
#moduloPolsiMTC > div > div > div > div:nth-child(3) i{
	display:none;
}
#moduloPolsiMTC select{
	width: 158px;
}
#md_polsoSX{
	background-position: top left;	
	text-align:left;
}
#md_polsoDX{
	background-position: top right;
	text-align:right;
}

#md_CUN_sx{
	margin-top:24px;
}
#md_GUAN_sx{
	margin-top: 31px;
    margin-left: 14px;
}
#md_CHI_sx{
	margin-top: 31px;
    margin-left: 100px;
}
#md_CUN_dx{
	margin-top:24px;
}
#md_GUAN_dx{
	margin-top: 31px;
    margin-right: 14px;
}
#md_CHI_dx{
	margin-top: 31px;
    margin-right: 100px;
}


.sch_Max600 #moduloPolsiMTC > div > div{
	width: 210px;
    height: 500px;
    background-image: url(../img/valutazioni/polsiH.png);
}
.sch_Max600 #md_CUN_sx{
	margin-top:111px;
	margin-left:25px;
}
.sch_Max600 #md_GUAN_sx{
	margin-top: 9px;
	margin-left:25px;
}
.sch_Max600 #md_CHI_sx{
	margin-top: 9px;
	margin-left:25px;
}
.sch_Max600 #md_CUN_dx{
	margin-top:111px;
	margin-right:25px;
}
.sch_Max600 #md_GUAN_dx{
	margin-top: 9px;
	margin-right:25px;
}
.sch_Max600 #md_CHI_dx{
	margin-top: 9px;
	margin-right:25px;
}


/* MTC ASCOLTO */
#moduloASCOLTO > div{
	height: 33px;
}
#moduloASCOLTO > div > i{
	width:auto;
}
#moduloASCOLTO > div > div{
	display:inline-block;
	float:right;
}

/* MTC ODORI */
#moduloODORI > div{
	border-top:1px solid rgba(0,0,0,0.1);
}
#moduloODORI label{
	display:block;
}


/* MU e SHU visuale */
#moduloMUSHUVIS > div{
	display:inline-block;
	vertical-align: bottom;
	background-position: center;
	background-repeat: no-repeat;
}
.sch_Max600 #moduloMUSHUVIS > div{
	display:block !important;
}
#mushuvis_davanti{
	background-image:url(../img/valutazioni/mushu_davanti.png);
	background-size: 300px auto;
	width: 300px;
	height:451px;
}
#mushuvis_dietro{
	background-image:url(../img/valutazioni/mushu_schiena.png);
	background-size: 300px auto;
	width: 300px;
	height:451px;
}
#moduloMUSHUVIS > div > div{
	display:inline-block;
	vertical-align: top;
	width:30px;
}
#mushuvis_davanti > div:nth-child(1){
	margin-left:24px;
	padding-top: 51px;
}
#mushuvis_davanti > div:nth-child(2){
	margin-left: 79px;
    padding-top: 101px;
}
#mushuvis_davanti > div:nth-child(3){
	margin-left: 77px;
    padding-top: 51px;
}

#mushuvis_dietro > div:nth-child(1){
	margin-left: 24px;
}
#mushuvis_dietro > div:nth-child(2){
	margin-left: 191px;
}
#mushuvis_dietro > div:nth-child(1) > div,
#mushuvis_dietro > div:nth-child(2) > div{
    margin-top: 7px;
}

#moduloMUSHUVIS > div > div > div,
#moduloMUSHUVIS > div > div > div  > div,
#moduloMUSHUVIS > div > div > div  > div > div{
	display:inline-block;
	/* vertical-align: middle; */
}
#moduloMUSHUVIS > div > div > div > div.domandeModuli{
	margin:0 !important;
}
#moduloMUSHUVIS > div > div > div > div.domandeModuli i{
	display:none;
}
#moduloMUSHUVIS > div > div > div  > div  > div select{
	width: 30px;
    border: none !important;
    background-image: url(../img/frGiuB.png) !important;
    background-size: 19px auto !important;
    background-position: calc(100% + 4px) calc(100% + 5px) !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    padding: 0 10px 0 20px !important;
    z-index: 1;
    position: relative;
}
#moduloMUSHUVIS > div > div > div span{
	position: relative;
    display: block;
    z-index: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: -30px;
	padding-top:1px;
}
#moduloMUSHUVIS > div > div > div b{
	font-weight: normal;
    font-size: var(--font-11);
    height: 12px;
    line-height: 12px;
    display: block;
}
#muLRdx{
	margin-top:74px;
}
#muGBdx{
	margin-top:10px;
}
#muKIdx{
	margin-top:10px;
}
#muSPdx{
	margin-top:23px;
}
#muLIdx{
	margin-top:11px;
}
#muTE{
	margin-top: 29px;
    margin-left: -21px;
}
#muBL{
	margin-top: 18px;
}
#muHT{
	margin-top: 26px;
}
#muST{
	margin-top: 53px;
}
#muSI{
	margin-top: 2px;
    margin-left: 22px;
}
#muLRsx{
	margin-top: 88px;
}
#muGBsx{
	margin-top: 10px;
}
#muKIsx{
	margin-top: 10px;
}
#muSPsx{
	margin-top: 9px;
}
#muLIsx{
	margin-top: 11px;
}

/* MU e SHU */
#moduloMUSHU > div{
	display:inline-block;
	vertical-align: top;
	margin-right:10px;
	width:184px;
}
.sch_Max600 #moduloMUSHU > div{
	display:block !important;
	margin:0px !important;
}
#moduloMUSHU > div > div:not(.mushu_header){
	border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin-top: 4px;
}
.mushu_left_right{
	display:block !important;
	padding-left: 32px !important;
	width:188px !important;
	height: 20px;
	margin-top: -8px;
    opacity: 0.5;
}
.mushu_left_right > div{
	height: 20px;
	line-height: 20px;
	font-style:italic;
	padding: 0px !important;
}
#moduloMUSHU > div > div > div,
#moduloMUSHU > div > div > div > div,
.mushu_left_right > div,
.mushu_left_right > div > div{
	display:inline-block;
	text-align:center;
	vertical-align: top;
	margin-right:-4px;
}
#moduloMUSHU > div > div > div:not(.mushu_left_right),
.mushu_left_right > div{
	width: 75px !important;
	padding: 3px 3px 3px 0px;
}
#moduloMUSHU > div > div:not(.mushu_header) > div{
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#moduloMUSHU > div > div > div > div{
	width:36px;
}
.mushu_left_right > div > div{
	width:36px !important;
}
#moduloMUSHU > div > div > div:first-child{
	font-weight:bold;
	width:40px !important;
	height: 37px;
    padding: 6px;
}
#moduloMUSHU > div > div > div > div div.domandeModuli i{
	display:none;
}
#moduloMUSHU .domandeModuli{
	margin:0px !important;
}
#moduloMUSHU > div > div > div select{
	background-color: rgba(255, 255, 255, 0.2) !important;
	width: 30px;
    border: none !important;
    background-image: url(../img/frGiuB.png) !important;
    background-size: 19px auto !important;
    background-position: right calc(100% + 5px) !important;
    border-radius: 6px !important;
    padding: 0 10px 0 20px !important;
	z-index: 1;
    position: relative;
}
#moduloMUSHU > div > div > div span{
	position: relative;
    display: block;
    z-index: 0;
    width: 36px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: -30px;
}
.sch_Max600 #second_header{
	display:none;
}
#mushuLR,
#mushuGB{
	border-left: 5px solid #009900 !important;
}
#mushuHT,
#mushuSI{
	border-left: 5px solid #FF0000 !important;
}
#mushuPC,
#mushuTE{
	border-left: 5px solid #990000 !important;
}
#mushuSP,
#mushuST{
	border-left: 5px solid #FF8800 !important;
}
#mushuLU,
#mushuLI{
	border-left: 5px solid #FFF !important;
}
#mushuKI,
#mushuBL{
	border-left: 5px solid #000 !important;
}
#mushu_legenda{
	padding: 15px;
	opacity:0.6;
}
#mushu_legenda,
#mushu_grafico{
    display: inline-block !important;
	vertical-align:top;
}
#mushu_grafico{
	margin:10px;
}
#mushu_legenda > div{
	display: block !important;
    border: none;
    width: 100% !important;
    text-align: left;
	margin: 0 !important;
    padding: 0 !important;
	height: 16px !important;
}
#mushu_legenda > div i{
	display:inline-block !important;
	font-style:normal !important;
	height: 16px !important;
	font-size: var(--font-12);
}

/* HARA e SHIENA */
#moduloHaraSchienaShiatsu{
	padding-bottom: 20px;
}
#moduloHaraSchienaShiatsu > div{
	display:inline-block;
	vertical-align: bottom;
	background-position: center;
	background-repeat: no-repeat;
}
.sch_Max600 #moduloHaraSchienaShiatsu > div{
	display:block !important;
}
#md_hara{
	background-image:url(../img/valutazioni/hara.png);
	background-size: 250px auto;
	width: 250px;
	height:310px;
}
#md_schiena{
	background-image:url(../img/valutazioni/schiena.png);
	background-size: 210px auto;
	width: 210px;
	height:400px;
}
.sch_Max600 #md_schiena{
	margin: 20px 20px 0px 20px;
}
#moduloHaraSchienaShiatsu > div > div > div,
#moduloHaraSchienaShiatsu .domandeModuli{
	display:inline-block;
	position:relative;
	width:32px;
	height:30px;
	margin:0px;
}
#moduloHaraSchienaShiatsu .domandeModuli i{
	display:none;
}
#moduloHaraSchienaShiatsu select{
	background-color: rgba(255, 255, 255, 0.2) !important;
	width: 30px;
    border: none !important;
    background-image: url(../img/frGiuB.png) !important;
    background-size: 19px auto !important;
    background-position: right calc(100% + 5px) !important;
    border-radius: 50px !important;
    padding: 0 10px 0 20px !important;
}

#moduloHaraSchienaShiatsu > div > div > div > span{
	position: relative;
    display: block;
    z-index: 0;
    width: 32px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: -30px;
}
#moduloHaraSchienaShiatsu > div > div > div > div.domandeModuli{
	display: block;
    position: relative;
    z-index: 1;
}
#md_hara .md_HT{
	margin-top: 16px;
    margin-left: 109px;
}
#md_hara .md_GB{
    margin-left: 77px;
}
#md_hara .md_ST{
    margin-left: 30px;
}
#md_hara .md_LR{
    margin-left: 57px;
}
#md_hara .md_PC{
    margin-left: 17px;
}
#md_hara .md_TE{
    margin-left: 24px;
}
#md_hara .md_LUdx{
    margin-left: 23px;
    margin-top: 1px;
}
#md_hara .md_LUsx{
    margin-left: 136px;
}
#md_hara .md_SPup{
    margin-left: 110px;
	display: block;
}
#md_hara .md_LIdx{
	margin-left: 28px;
    margin-top: 5px;
}
#md_hara .md_SPdown{
    margin-left: 47px;
}
#md_hara .md_LIsx{
	margin-left: 49px;
}
#md_hara .md_SIdx{
	margin-left: 53px;
    margin-top: 14px;
}
#md_hara .md_KI{
	margin-left: 19px;
}
#md_hara .md_SIsx{
	margin-left: 26px;
}
#md_hara .md_BL{
	margin-left: 110px;
	margin-top: 16px;
}

#md_schiena .md_LU{
	margin-top: 14px;
    margin-left: 90px;
}
#md_schiena .md_HT{
	margin-top: 20px;
    margin-left: 90px;
}
#md_schiena .md_ST{
	margin-left: 51px;
    margin-top: 8px;
}
#md_schiena .md_LR{
	margin-left: 47px;
}
#md_schiena .md_TE{
	margin-top: 18px;
    margin-left: 58px;
}
#md_schiena .md_PC{
	margin-left: -2px;
}
#md_schiena .md_GB{
	margin-left: -3px;
}
#md_schiena .md_SP{
	margin-left: 90px;
    margin-top: 33px;
}
#md_schiena .md_SIsx{
	margin-left: 67px;
	margin-top: 20px;
}
#md_schiena .md_SIdx{
	margin-left: 12px;
}
#md_schiena .md_LIsx{
	margin-top: 8px;
	margin-left: 20px;
}
#md_schiena .md_KI{
	margin-left: 35px;
}
#md_schiena .md_LIdx{
	margin-left: 35px;
}
#md_schiena .md_BL{
	margin-top: 21px;
	margin-left: 90px;
}
#shiatsu_legenda{
    display: block !important;
    width: 250px;
    height: 100px;
    margin-bottom: -100px;
	padding-left: 15px;
	opacity:0.6;
}
.sch_Max600 #shiatsu_legenda{
    margin-bottom: 0px !important;
}
#shiatsu_legenda > div{
	display: block !important;
    border: none;
    width: 100% !important;
    text-align: left;
	margin: 0 !important;
    padding: 0 !important;
	height: 16px !important;
}
#shiatsu_legenda > div i{
	display:inline-block !important;
	font-style:normal !important;
	height: 16px !important;
	font-size: var(--font-12);
}

/* PDI */
#pdi_descr.vis1 span#pdi_1,
#pdi_descr.vis2 span#pdi_2,
#pdi_descr.vis3 span#pdi_3,
#pdi_descr.vis4 span#pdi_4{
	display:inline-block !important;
}

/* MPQ */
#moduloMPQ .mpq_lists .etichetteModuli{
    display: none;
}
#moduloMPQ .mpq_lists select{
    width: 100%;
}
.mpq_lists{
	column-count: 3;
    column-gap: 20px;
}
#moduloMPQ .mpq_lists input{
	position: relative;
    z-index: 1;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: bottom;
    outline: 2px solid rgba(0, 0, 0, 0.2);
    width: 16px;
    height: 16px;
}
#mpq_descr.vis1 span#mpq_1,
#mpq_descr.vis2 span#mpq_2,
#mpq_descr.vis3 span#mpq_3,
#mpq_descr.vis4 span#mpq_4{
	display:inline-block !important;
}


/* SF-MPQ */
#moduloSFMPQ i{
    width: calc(100% - 100px);
}
#sfmpq_lists .domandeModuli select{
	width:100px;
}
#sfmpq_ppi .label_ratio{
	padding-top:20px;
}
#sfmpq_ppi label{
	display:block;
}
#sfmpq_descr.vis1 span#sfmpq_1,
#sfmpq_descr.vis2 span#sfmpq_2,
#sfmpq_descr.vis3 span#sfmpq_3,
#sfmpq_descr.vis4 span#sfmpq_4{
	display:inline-block !important;
}



/* ODI */
#odi_lists > div{
	border-top:1px solid rgba(0,0,0,0.1);
}
#odi_lists label{
	display:block;
}
#odi_total > span{
	display:none;
    font-weight: bold;
    font-size: 17px !important;
}
#odi_total > span *{
    font-size: 17px !important;
}
#odi_total.odi_ris1 > span#odi_ris_1,
#odi_total.odi_ris2 > span#odi_ris_2,
#odi_total.odi_ris3 > span#odi_ris_3,
#odi_total.odi_ris4 > span#odi_ris_4,
#odi_total.odi_ris5 > span#odi_ris_5{
	display:inline !important;
}



/* BPI */
#bpi_lists > div .etichetteModuli{
	text-align:left;
	font-weight:bold;
}
#bpi_localizzazione > div:not(.etichetteModuli) i.tagDomanda{
	display:none;
}
#bpi_farmaci > div:nth-child(2) > div,
#bpi_farmaci > div input,
#bpi_localizzazione > div input{
	margin:3px 0;
	width:100% !important;
}
#bpi_farmaci > div:nth-child(3){
	border-top:none;
	padding-bottom:3px;
}
#bpi_localizzazione > div > div{
	width:100% !important;
}
#bpi_farmaci i{
	width: calc(100% - 52px);
}
#moduloBPI .md_cont_total > div{
	display:block;
}
#moduloBPI .md_cont_total > div:first-child .tagDomanda{
	padding-right:0 !important;
	text-align:left !important;
}
#bpi_total{
	display:block;
	width:100%;
}
#bpi_total .etichetteModuli{
	margin:0;
	padding:0;
	border:none;
	display: inline;
}
#bpi_total span{
	font-weight: bold;
	font-size: 17px;
}



/* MONDOR */


/* FAGERSTROM */
#fagerstrom_lists i{
    width: calc(100% - 140px);
}
#fagerstrom_lists .domandeModuli > div{
	text-align:right !important;
}