@charset "utf-8";
/* CSS Document */

/* LOGIN */
#login{
	height:280px;
	margin-top:-140px;
	background-color: var(--menu-fondino);
}
#contLogin{
	padding-left:30px;
	padding-right:30px;
}
#contLogin, #contLogin p{
	font-size: var(--font-13-2);
	color:rgba(0,0,0,0.5);
}
#labelLogin{
	font-size: var(--font-19-8);
	color:#000;
}






#URS{
	margin-top:10px;
}
#loginFrom input[type='submit']{
	width:100px;
	clear:both;
	border-radius:3px;
	border:none;
	height:40px;
	line-height:40px;
	cursor:pointer;
	background: #0a3d96;
    background: -moz-linear-gradient(top, #1d4eaa 0%, #0a3d96 100%);
    background: -webkit-linear-gradient(top, #1d4eaa 0%,#0a3d96 100%);
    background: linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4eaa', endColorstr='#0a3d96',GradientType=0 );
    color: #FFF;
	margin-top:10px;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
	-webkit-appearance: none;
}

.smart.android #loginFrom input[type='submit']{
	font-size: var(--font-16-93);
}
.app_version.bug_font.smart.android #loginFrom input[type='submit']{
	font-size: var(--font-15-39) !important;
	line-height:36.64px !important;
}
#loginFrom input[type='submit']:hover{
	background: #062865;
    background: -moz-linear-gradient(top, #144092 0%, #062865 100%);
    background: -webkit-linear-gradient(top, #144092 0%,#062865 100%);
    background: linear-gradient(to bottom, #144092 0%,#062865 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144092', endColorstr='#062865',GradientType=0 );
}
#USRlabel{
	display: none;
    margin-bottom: 5px;
    line-height: 30px;
    height: 30px;
    text-align: left;
    margin-left: 5px;
}
#USRlabel span{
    padding-top: 5px;
    font-size: var(--font-18-7);
    line-height: 30px;
    height: 30px;
}
#USRlabel img{
	opacity:0.5;
	float:right;
	cursor:pointer;
	margin-top: 5px;
}
#USRlabel img:hover{
	opacity:0.8;
}
#btnRecupero{
	color:#333 !important;
	line-height: 30px;
	cursor:pointer;
	font-weight:normal !important;
	font-size: var(--font-12-1) !important;
	box-sizing:border-box;
}
.smart.android #btnRecupero{
	font-size: var(--font-15-39) !important;
}
.app_version.bug_font.smart.android #btnRecupero{
	font-size: var(--font-13-94) !important;
}