@charset "utf-8";
/* CSS Document */

/* VERSIONE */
#versione{
	width:400px;
	height:340px;
	margin-left:-200px;
	margin-top:-170px;
	background-color: #154e9c;
}
.smart.android #versione .popup_chiudi{
	background-image:url(../img/chMenu.png);
}
body #contVersione{
	padding-top:0px !important;
	margin-top: -20px;
}
body #contVersione img{
	margin-top:-10px !important;
}
#contVersione, #contColori{
	padding-left:30px;
	padding-right:30px;
}
#contVersione, #contVersione *{
	font-size: 11px;
	color:rgba(255,255,255,0.5);
}
#logoVersione{
	display:inline-block;
	width:294px;
	height:90px;
	background-image:url(../img/logo_iaomai.png);
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
}