@charset "utf-8";
/* CSS Document */

/* LOGIN */
#login{
	height:280px;
	margin-top:-140px;
	background-color: var(--menu-fondino);
}
#contLogin{
	padding-left:30px;
	padding-right:30px;
}
#contLogin, #contLogin p{
	font-size: var(--font-13-2);
	color:rgba(0,0,0,0.5);
}
#labelLogin{
	font-size: var(--font-19-8);
	color:#000;
}


body:not(.smart) #login.inizio{
	background-image: url(../img/rachideRed.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
body:not(.smart) #login.inizio{
	left:0 !important;
	top:0 !important;
	margin-top:0 !important;
	margin-left: 0 !important;
	width:100% !important;
	height:100% !important;
	border-radius:0 !important;
}
body:not(.smart) #login.inizio #contLogin{
	max-width:400px !important;
	margin:0 auto !important;
}

#login:not(.inizio) #login_benvenuto,
#login:not(.inizio) #demoContinueLogin,
#login.inizio #labelLogin{
	display:none;
}
#login_benvenuto{
	font-size: var(--font-18);
	width: 100%;
	padding: 20px;
	background-image:url(../img/logo_iaomai_mini.png);
	background-repeat: no-repeat;
	background-position: center 30px;
}
.smart #login_benvenuto{
	padding-top: 115px;
	background-size: auto 60px;
}
body:not(.smart) #login_benvenuto{
	padding-top: 165px;
}
#login_benvenuto *{
	font-size: var(--font-18);
}
#demoContinueLogin{
	margin-top:40px;
	text-align:center;
}
#demoContinueLogin > span{
	display:inline-block;
	margin-bottom:20px;
	width:200px;
	height:2px;
	background-color:rgba(255,255,255,0.7);
	border-top:1px solid rgba(0,0,0,0.2);
}
#demoContinueLogin > div{
	display:inline-block !important;
	height:41px;
	line-height:41px;
	padding-left:15px;
	padding-right:15px;
	background-color:#f1b900;
	margin:4px;
	margin-top:24px;
	color:#000;
	text-align:center;
	border-radius:6px;
	box-shadow:0px 0px 4px rgba(0,0,0,0.5);
	font-size: var(--font-16);
}


#URS{
	margin-top:10px;
}
#loginFrom input[type='submit']{
	width:100px;
	clear:both;
	border-radius:3px;
	border:none;
	height:44px;
	line-height:40px;
	cursor:pointer;
	background: #0a3d96;
    background: -moz-linear-gradient(top, #1d4eaa 0%, #0a3d96 100%);
    background: -webkit-linear-gradient(top, #1d4eaa 0%,#0a3d96 100%);
    background: linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4eaa', endColorstr='#0a3d96',GradientType=0 );
    color: #FFF;
	margin-top:10px;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
	-webkit-appearance: none;
}
#usrChange{
    border-radius: 7px;
    border: none;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
	background: rgba(0,0,0,0.5);
    color: #FFF;
    padding: 0px 7px;
    float: right;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
    -webkit-appearance: none;
	margin-left: -100px;
    z-index: 100;
    position: relative;
}
#visPwd{
	width:30px;
	height:30px;
	background-image: url(../img/visPwd.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
    position: relative;
    z-index: 100;
    margin-left: -32px;
    cursor: pointer;
    vertical-align: middle;
    width: 30px;
}
#visPwd.hide{
	background-image: url(../img/visPwdHide.png) !important;
}
#loginStayConnected{
	text-align:left;
	line-height:20px;
	margin:3px 0;
}
#stayConnected{
	width:20px;
	height:20px;
	vertical-align: middle;
	margin-top:-2px;
}
.smart.android #loginFrom input[type='submit']{
	font-size: var(--font-16-93);
}
.app_version.bug_font.smart.android #loginFrom input[type='submit']{
	font-size: var(--font-15-39) !important;
	line-height:36.64px !important;
}
#loginFrom input[type='submit']:hover{
	background: #062865;
    background: -moz-linear-gradient(top, #144092 0%, #062865 100%);
    background: -webkit-linear-gradient(top, #144092 0%,#062865 100%);
    background: linear-gradient(to bottom, #144092 0%,#062865 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144092', endColorstr='#062865',GradientType=0 );
}
#USRlabel{
	display: none;
    margin-bottom: 5px;
    line-height: 30px;
    height: 30px;
    text-align: left;
    margin-left: 5px;
}
#USRlabel span{
    padding-top: 5px;
    font-size: var(--font-18-7);
    line-height: 30px;
    height: 30px;
	font-weight:bold;
}
/* #USRlabel img{
	opacity:0.5;
	float:right;
	cursor:pointer;
	margin-top: 5px;
}
#USRlabel img:hover{
	opacity:0.8;
} */
#btnRecupero{
	color:#333 !important;
	line-height: 30px;
	cursor:pointer;
	font-weight:normal !important;
	font-size: var(--font-12-1) !important;
	box-sizing:border-box;
}
.smart.android #btnRecupero{
	font-size: var(--font-15-39) !important;
}
.app_version.bug_font.smart.android #btnRecupero{
	font-size: var(--font-13-94) !important;
}