@charset "utf-8";
/* CSS Document */

/* SETS - ELENCO */
#sets{
	display:none;
	width:300px;
	background-color:var(--menu-fondino);
	box-shadow:0px 0px 5px rgba(0,0,0,0.6);
}
body:not(.smart) #sets{
	left:48px;
	z-index:19;
	position:fixed;
	top:0px;
  	border-bottom-right-radius:5px;
}
.smart #sets{
	left:0px;
	bottom:64px;
	z-index:550;
  	border-top-right-radius:5px;
    position: fixed;
	width: 100% !important;
    height: calc(100% - 64px);
	border-radius:0px !important;
	box-shadow:none !important;
}
#labelSets{
	height:40px;
	line-height:40px;
	color:#000 !important;
	font-weight:bold;
  	border-top-right-radius:5px;
	background-image:url(../img/ico_mappa.png);/*url(../img/p_impostazioni.png);*/
	background-repeat:no-repeat;
	background-position:4px center;
}
.app_version.bug_font.smart.android #labelSets{
	line-height:36.64px !important;
}
#sets_elenco{
  	border-top-right-radius:5px;
	border-radius: 0px !important;
}
#sets_elenco div{
	width:100%;
	height:50px;
	line-height:50px;
	padding-left:50px;
	background-repeat:no-repeat;
	background-position:5px center, right center, calc(100% - 10px) center;
	background-size:auto 38px, auto 90%, auto 47%;
	text-align:left;
	color:#000;
	border-bottom:1px solid rgba(0,0,0,0.1);
	cursor:pointer;
}

.app_version.bug_font.smart.android #sets_elenco div{
	line-height:45.80px !important;
}
#sets_elenco div span{
	float:right;
	font-size: 11px !important;
	padding-right:32px;
	color: #ff5722;
}
.app_version.bug_font.smart.android #sets_elenco div span{
	font-size: var(--font-9-96) !important;
	line-height:43.84px !important;
}
#sets_elenco div:last-child{
	border-bottom: none !important;
}
#sets_elenco div:hover{
	background-color:rgba(0,0,0,0.05);
}
.smart.android #sets_elenco div,
.smart.android #labelSets{
	font-size: var(--font-16-93) !important;
}
.app_version.bug_font.smart.android #sets_elenco div,
.app_version.bug_font.smart.android #labelSets{
	font-size: var(--font-15-39) !important;
}
.smart.android #labelSets{
	margin-bottom: 10px;
}
.lockedMap{
	background-color:rgba(0,0,0,0.1) !important;
	opacity:0.5;
	cursor:default !important;
}
.lockedMap:hover{
	background-color:rgba(0,0,0,0.2) !important;
}
#chiudi_sets{
	height:40px;
	background-image:url(../img/chMenuB.png);
	float:right;
    margin-left: -40px;
	background-size:80%;
	width:40px;
	background-repeat:no-repeat;
	background-position:center center;
	vertical-align:top;
	cursor:pointer;
}
.smart #chiudi_sets{
	background-size: auto;
}
