@charset "utf-8";
/* CSS Document */

/* COMMUNITY */
#features{
	width:100%;
	height:100%;
	max-width: 600px;
    max-height: 620px;
	width: 600px;
    height: 620px;
    margin-left: -300px;
    margin-top: -310px;
	opacity:0;
	background-color: #FFF;
	transition:opacity 0.5s;
	-webkit-transition:opacity 0.5s;
}
@media (max-width: 600px){
	.popup{
		width:100% !important;
		height:100% !important;
    	max-height:none !important;
		left:0px !important;
		top:0px !important;
		border-radius:0px !important;
		margin-left:0px !important;
		margin-top:0px !important;
	}
}
#features .popup_chiudi{
	z-index: 100;
    position: absolute;
    top: 0px;
    right: 0px;
}
#labelFeatures{
	/*background-image:url(../img/ico_connessioneB.png);
	background-position:10px center;*/
}
#features .noVisPiu{
	margin-right:0px !important;
	margin-bottom:0px !important;
	position:absolute;
	bottom:0px;
	width:100%;
	padding-right:10px;
	height:28px;
	line-height:28px;
	border-top:1px solid rgba(0,0,0,0.1);
	opacity: 1;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0px 0px 5px 5px;
}

#contFeatures{
	padding: 10px 20px 10px 20px;
    position: absolute;
    top: 0px;
    height: calc(100% - 28px);
    width: 100%;
	overflow-y:auto;
	text-align:left;
}
#contFeatures h2{
	font-size:24px;
	margin:0px;
}
#contFeatures > div{
    margin: 0px;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid rgba(0,0,0,0.1);
}
.smart.android #contFeatures > div,
.smart.android #contFeatures > div *,
.smart.android #contFeatures > p,
.smart.android #contFeatures > p *{
	font-size: 16px !important;
}
#contFeatures > div > div{
	display:inline-block;
	vertical-align:top;
}
#contFeatures > div > div:first-child{
	width:58px;
}
#contFeatures > div > div:last-child{
	width:calc(100% - 62px);
}