@charset "utf-8";
/* CSS Document */

/* COMMUNITY */
#dispositivi{
	width: 400px;
    height: 420px;
    margin-left: -200px;
    margin-top: -210px;
}
#dispositivi.blur{
z-index:100 !important;
}
#labelDispositivi{
	background-image:url(../img/ico_connessioneB.png);
	background-position:10px center;
}







#dispositivi.inizio{
	background-image: url(../img/rachideRed.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
.smart #dispositivi.inizio{
	background-size: calc(190%) auto;
}
body:not(.smart) #dispositivi.inizio{
	left:0 !important;
	top:0 !important;
	margin-top:0 !important;
	margin-left: 0 !important;
	width:100% !important;
	height:100% !important;
	border-radius:0 !important;
}
body:not(.smart) #dispositivi.inizio #contDispositivi{
	max-width:400px !important;
	margin:0 auto !important;
}

#dispositivi:not(.inizio) #dispositivi_logo,
#dispositivi.inizio #labelDispositivi{
	display:none;
}

#dispositivi_logo{
	font-size: var(--font-18);
	width: 100%;
	padding: 20px;
	background-image:url(../img/logo_iaomai_mini.png);
	background-repeat: no-repeat;
	background-position: center 30px;
}
.smart #dispositivi_logo{
	padding-top: 80px;
	background-size: auto 60px;
}
body:not(.smart) #dispositivi_logo{
	padding-top: 130px;
}
#dispositivi_logo *{
	font-size: var(--font-18);
}
#dispositivi_torna{
    max-width:400px;
    margin:0 auto;
    text-align:left;
}
#dispositivi_torna > span{
    display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 35px;
	background-image: url(../img/frSxB.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor:pointer;
}





#contDispositivi{
	padding: 10px;
	padding-top: 3px;
	overflow-y: scroll;
}
body.smart #contDispositivi{
	max-height: calc(100% - 144px);
}
body:not(.smart) #contDispositivi{
	max-height: calc(100% - 202px);
}
#contDispositivi > div > p{
	background-color: #FC0;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}

.elsDispositivi{
	text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-position: 16px 18px, left 9px;
    background-repeat: no-repeat;
    background-size: auto 34px, auto 70px;
}
.dispMobile{
    background-position: 16px 26px, left center !important;
}

.elsDispositivi .btn_logout_mini{
	display: inline-block;
	float:right;
	margin-top:6px;
	margin-right:4px;
}
.elsDispositivi img{
	vertical-align: middle;
    height: 20px;
    margin-bottom: -5px;
    margin-top: -5px;
}
#dispositivi_descr{
    padding: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.2);	
}