@charset "utf-8";
/* CSS Document */

/* VERSIONE */
#versione{
	width:400px;
	height:280px;
	margin-left:-200px;
	margin-top:-140px;
	/*background-color: #0963a2;*/
	background-color: #154e9c;
}
body:not(.AM):not(.AM_light) #contVersione{
	padding-top:0px !important;
	margin-top: -20px;
}
body:not(.AM):not(.AM_light) #contVersione img{
	margin-top:-10px !important;
}
#contVersione, #contColori{
	padding-left:30px;
	padding-right:30px;
}
#contVersione, #contVersione *{
	font-size:10px;
	color:rgba(255,255,255,0.5);
}
#logoVersione{
	display:inline-block;
	width:294px;
	height:90px;
	background-image:url(../img/logo_iaomai.png);
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
}
.AM #logoVersione,
.AM_light #logoVersione{
	width:250px;
	height:77px;
	background-image:url(../img/logo_AM_white.png);
}