@charset "utf-8";
/* CSS Document */

/* IMPOSTAZIONIE DEL SET */
#impset{
	width: 400px;
    height: 490px;
    margin-left: -200px;
    margin-top: -245px;
}
#labelImpset{
	background-image:url(../img/ico_coloriN.png);
	background-position:10px center;
}
#contImpset select{
	display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 13px;
    margin-top: 5px;
	border-radius:6px;
	padding-left:10px;	
	padding-right:30px;	
	background-image:url(../img/frGiuB.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:right center;
	background-color:#FFF;
	appearance:none;
	-webkit-appearance:none;
	border:none;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
	cursor:pointer;
}
#contImpset p:first-child{
	margin-top:0px;
}