@charset "utf-8";
/* CSS Document */

/* COLORI */
#colori{
	width:400px;
	height:340px;
	margin-left:-200px;
	margin-top:-170px;
}
#labelColori{
	background-image:url(../img/ico_coloriN.png);
	background-position:10px center;
}
#colSel,
#skinSel{
	text-align:center;
}
#contColori > p i{
	display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    font-weight: normal;
	width:140px;
}
#contColori > p{
	text-align: left !important;
    border-top: 1px solid rgba(0,0,0,0.1);
    min-height: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
}
#contColori > p:first-child{
    border-top: none !important;
}

#colSel span,
#skinSel span{
	display:inline-block;
    vertical-align: middle;
	width:40px;
	height:40px;
	margin:5px;
	border-radius:4px;
	box-shadow:0px 0px 5px #000;
	cursor:pointer;
}
#guida_generica #colSel{
    text-align: right;
    /* width: 120px; */
    margin-bottom: -47px;
    margin-top: 31px;
}
body:not(.smart) #guida_generica #colSel{
    margin-right: -28px;
}
#guida_generica #colSel p{
	margin:0px;
	display: inline-block;
    vertical-align: middle;
}
#guida_generica #colSel p:first-child{
	margin-bottom: 3px;
    font-style: italic;
    opacity: 0.6;
    padding-left: 3px;
}
#guida_generica #colSel span{
	width:20px;
	height:20px;
	box-shadow:0px 0px 2px #000;
	border-radius:3px;
	margin:3px;
}
.smart #guida_generica #colSel span{
	width: 28px;
    height: 28px;
    margin-left: 5px;
}
#sizeSel > span,
#pointerSel > span,
#patientSel > span,
#guideSel > span{
	display:inline-block;
    vertical-align: middle;
	height: 50px;
    line-height: 50px;
}
#guideSel > span{
	padding:6px 0;
	width: calc(100% - 159px);
}
#guideSel input[type=checkbox]{
	width: 20px;
    height: 20px;
}
#guideSel > span b{
	float: right;
    display: block;
    height: 39px;
    line-height: 38px;
    font-weight: normal;
    text-decoration: underline;
	cursor:pointer;
}


#sizeSel > span b,
#pointerSel > span b,
#patientSel > span b{
	display: inline-block;
    vertical-align: middle;
    height: 36px;
    line-height: 34px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
    margin: 3px;
	background-size:30px;
	background-repeat:no-repeat;
	background-position:center center;
}
#sizeSel > span b,
#pointerSel > span b{
    width: 36px;
}
#patientSel > span b{
	font-weight:normal !important;
	padding-left:10px;
	padding-right:10px;
}
#patientSel > span,
#patientPwd > span{
	width: calc(100% - 120px);
    text-align: left;
    padding-left: 10px;
    display: inline-block;
	vertical-align:top;
	margin-right:-4px;
}
#patientPwd > span{
	font-size: var(--font-11);
}
#patientSel > i,
#patientPwd > i,
.patientValuta > i,
.patientMisura > i{
    display: inline-block;
	vertical-align:top;
	width:120px;
	margin-right:-4px;
	text-align:right;
}
.patientValuta,
.patientMisura{
	margin: 7px 0;
    line-height: 38px;
	text-align: left;
}
.patientValuta select,
.patientMisura select{
	margin-left: 16px !important;
	max-width: 233px;
}
#patientSel > i{
    min-height: 50px;
    line-height: 50px;
}
.a_SEL{
	background-color:rgba(0,0,0,0.7) !important;
	color:#FFF;
    border: 1px solid #FFF !important;
    box-shadow: 0px 0px 5px #000;
	cursor:default !important;
}
#a_{
	font-size:12px !important;
}
#a_MID{
	font-size:15.5px !important;
}
#a_BIG{
	font-size:19px !important;
}
#a_MAG{
	font-size:22.5px !important;
}

#t_MOUSE{
	background-image:url(../img/ico_mouse.png);
}
#t_TOUCH{
	background-image:url(../img/ico_touch.png);
}
#t_MOUSE.a_SEL{
	background-image:url(../img/ico_mouseW.png) !important;
}
#t_TOUCH.a_SEL{
	background-image:url(../img/ico_touchW.png) !important;
}
#t_MEDICO,
#t_OLISTICO{
	font-size: 12px !important;
}
.t_DES{
	opacity:0.3;
	cursor:default !important;
}
.cSel{
	border:1px solid #FFF;
	cursor:default !important;
}
.c0{
	background-color:#333;
}
.c1{
	background-color:#06C;
}
.c2{
	background-color:#eae3d3;
}

.p0{
	background-color:#e6c8b5;
}
.p1{
	background-color:#86715f;
}
.p2{
	background-color:#52453b;
}