@charset "utf-8";
/* CSS Document */


/* GENERICI */
.noResults{
	display:block;
	padding-top:30px;
	padding-bottom:30px;
	color:rgba(0,0,0,0.6);
	font-style:italic;
	background:none !important;
}

/* SCHEDA */
#scheda{
	position:fixed;
	z-index:40;
	bottom:0px;
	right:0px;
	display:none;
}
.smart #scheda.nas{
	display:none !important;
}
body:not(.smart) #scheda{
	z-index: 10 !important;	
}
.smart #scheda:not(.visSch) {
    z-index: 42 !important
}
.smart #scheda.visSch {
    z-index: 45 !important
}
.smart #scheda{
	width: 100%;
}
@media only screen{
	body:not(.smart):not(.htmlStampa) #scheda{
		width: calc(100% - 48px);
	}
}
@media only print{
	body:not(.smart):not(.htmlStampa) #scheda{
		padding:0 30px !important;
	}
}
.schRid:not(.schOp):not(.schLibera):not(.schLato){
	width:calc(100% - 48px) !important;
}
.schRid.schOp:not(.schLibera):not(.schLato){
	width:calc(100% - var(--menu-width) - 48px) !important;
}
.schLibera{
	bottom:auto !important;
}
.schLibera #scheda_cont{
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5) !important;	
}
.scheda_redim{
    position: absolute;
	z-index: 100;
	display:none;
}
#redim_br{
    width: 25px;
    height: 25px;
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
    padding-right: 5px;
    padding-bottom: 5px;
}
#redim_tl{
    width: 10px;
    height: 10px;
    top: 20px;
    left: -5px;
    cursor: nwse-resize;
}
#redim_bl{
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}
#redim_l{
    width: 5px;
    height: calc(100% - 35px);
    top: 30px;
    left: 0px;
    margin-left: -5px;
    cursor: ew-resize;
}
#redim_r{
    width: 5px;
    height: calc(100% - 50px);
    top: 30px;
    right: 0px;
    margin-right: -5px;
    cursor: ew-resize;
}
#redim_t{
    width: calc(100% - 112px);
    height: 5px;
    top: 20px;
    left: 5px;
    margin-bottom: -5px;
    cursor: ns-resize;
}
#redim_b{
    width: calc(100% - 25px);
    height: 5px;
    bottom: 0px;
    left: 5px;
    margin-bottom: -5px;
    cursor: ns-resize;
}
.schLibera .scheda_redim{
    display: block !important;
}
.schLato #redim_r{
    display: block !important;
}
#redim_br svg line{
	stroke-linecap: round;
	stroke-width: 1px;
}
#redim_br svg line:not(.b){
	stroke:#000;
}
#redim_br svg line.b{
	stroke:#FFF;
}
#redim_br:hover svg line{
	stroke:#999 !important;
}
.schLibera #ss,
body:not(.touch) .schLato #ss{
    display: none !important;
}
.touch:not(.smart) .schLato #ss{
	transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: calc(100% - 39px);
    display: block;
    margin-left: 0px !important;
}
.minimized {
    width: 250px !important;
}
.minimized #scheda_testo,
.minimized #scheda_testo2 {
    height: 0px !important;
	display:none !important;
}
.minimized #scheda_cont {
    height: 46px !important;
}
.minimized .scheda_redim,
.minimized .formBtn{
    display: none !important;
}
.smart #scheda_testo,
.smart #scheda_testo2{
    border-bottom: 1px solid rgba(0,0,0,0.5);	
}

#scheda_testo.focusTT,
#scheda_testo2.focusTT{
	padding-bottom: 310px !important;
}



/* linguette delle schede */
#btnsFixScheda{
	text-align: center !important;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.smart #btnsFixScheda{
	display:none !important;
}
#btnsFixScheda span{
	display:inline-block;
	vertical-align:top;
	height:42px;
	line-height:42px;
	padding-left:10px;
	padding-right:10px;
}
#btnsFixScheda > div{
	width:32px;
	height:42px;
	border-radius:0px !important;
	margin-top: 0px !important;
	display:inline-block;
	vertical-align:top;
}
#btnsFixScheda > div svg{
	margin:0px !important;
	width:32px;
	height:42px;
}
#btnsFixScheda > div svg line{
	stroke:#000;
	stroke-linecap: round;
	stroke-width: 2px;
	stroke-width: 1px !important;
}
#btnsFixScheda > div svg rect{
	stroke-width: 1px !important;
	stroke: #000;
	stroke-linecap: square !important;	
	fill: #FFF;
}


body:not(.touch ) #btnsFixScheda .lll:hover line,
body:not(.touch ) #btnsFixScheda .lll:hover rect,
body:not(.touch ) #btnsFixScheda .lll:hover polygon{
	stroke:#06C !important;
}
body:not(.touch ) .lll:hover rect.filled{
	fill:#06C !important;
}



#scheda_linguette{
	height: 25px;
    text-align: center;
    overflow-y: hidden;
    padding-top: 8px;
}
.smart #scheda_linguette{
	height: 30px;
}
#scheda.schLato #scheda_linguette{
	height: 0px !important;
    padding: 0px !important;
}
#scheda_linguette > div{	
	display:none;
	height:22px;
	margin-left:2px;
	margin-right:2px;
	margin-top:-5px;
	vertical-align:bottom;
}
#scheda_linguette > div{
	background-color:var(--schede-fondino);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	cursor:pointer;
	box-shadow:0px 0px 3px #000;
}
#scheda_linguette > div{
	width:32px;
	
}
#scheda_linguette div line{
	stroke:var(--schede-icone);
	stroke-linecap: round;
	stroke-width: 2px;
}
.smart #scheda_linguette div:not(#ss) line{
	stroke:#FFF !important;
}
#scheda.schLato #scheda_linguette > div{
	box-shadow: none !important;
}
body:not(.touch ) .lll:hover line,
body:not(.touch ) .lll:hover rect,
body:not(.touch ) .lll:hover polygon{
	stroke:var(--schede-icone-over) !important;
}
body:not(.touch ) .lll:hover rect.filled{
	fill:var(--schede-icone-over) !important;
}
body:not(.smart) #sc,
body:not(.smart) #scheda:not(.schLibera):not(.schLato) #ss,
body:not(.smart) #scheda.schLibera:not(.minimized) #mn,
body:not(.smart) #scheda.minimized #xp{
	display:inline-block !important;
}
#sc,
#mn,
#xp{
	float:right;
}
#sc svg,
#mn svg,
#xp svg{
	width:31px;
}
#scheda.schLato #sc svg,
#scheda.schLato #mn svg,
#scheda.schLato #xp svg {
	width: 29px !important;
    height: 37px !important;
    margin-left: -2px;
}
#scheda.schLato #sc{
	position: absolute;
    top: 6px;
    left: calc(100% - 2px);
    width: 25px !important;
    height: 31px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgba(0,0,0,0.5);
}
body:not(.bodyStyled2) #scheda.schLato #sc{
    background-color: rgba(255,255,255,0.5);
}
#scheda.schLato #sc:hover{
    background-color: rgba(0,0,0,0.8) !important;
}
body:not(.bodyStyled2) #scheda.schLato #sc:hover{
    background-color: rgba(255,255,255,0.8) !important;
}

#scheda:not(.minimized) #xp{
	display:none !important;
}


.minimized #mn,
.minimized #btnMenuScheda,
.minimized #menuScheda,
#scheda:not(.schLibera) #mn,
#scheda:not(.schLibera) #mn{
	display:none !important;
}

#scheda:not(.schLibera):not(.schLato) #srB{
	display:none !important;
}
#scheda:not(.schLibera):not(.schLato) #sr0,
#scheda:not(.schLibera):not(.schLato) #srL{
	display:inline-block !important;
}

.schLibera #sr0{
	display:none !important;
}
.schLibera #srL,
.schLibera #srB{
	display:inline-block !important;
}

.schLato #srL{
	display:none !important;
}
.schLato #sr0,
.schLato #srB{
	display:inline-block !important;
}


#xp svg rect{
	stroke-width: 1px !important;
	stroke: var(--schede-icone);
	stroke-linecap: square !important;	
	fill: var(--schede-fondino);
}
#ss{
	width:100px !important;
	text-align:center;
    height: 22px !important;
	float: left;
    margin-left: calc(50% - 50px) !important;
	cursor: ns-resize !important;
}
body:not(.smart)#ss{
    margin-left: calc(50% - 50px) !important;
}
#ss svg{
    height: 22px !important;
}
#sc svg{
    height: 28px !important;
}
#ss svg line{
    stroke: #999;
}
.filled{
	fill: var(--schede-icone) !important;
}
#btnsFixScheda .filled{
	fill: transparent !important;
}

/* div della scheda */
#scheda_cont{
	background-color:var(--schede-fondino);
	width:100%;
	display:none;
	box-shadow:0px 0px 3px #000;
}
body:not(.smart) #scheda_cont{
	padding-top:3px;
}
#scheda_titolo{
	width: calc(100% - 29px);	
	cursor:default !important;
	margin-left:3px;
	margin-right:3px;
	margin-bottom:3px;
	height:40px;
	line-height:40px;
	color:#FFF !important;
	font-weight:bold;
    border-radius: 5px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-left:45px;
	padding-right:20px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    background: #1d4eaa;
    background: linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
}
.app_version.bug_font.smart.android #scheda_titolo{
	line-height:36.64px !important;
}
body:not(.smart) #scheda.schForm:not(.schedaRitorno):not(.minimized):not(.tab_punti):not(.scheda_marketing) #scheda_titolo{
	width: calc(100% - 186px) !important;
}
.smart #scheda_titolo{
	width: calc(100% - 75px);
    cursor: default !important;
    text-align: center !important;
	padding-left: 44px !important;
}

.smart .tab_punti:not(.schedaRitorno) #scheda_titolo{
	padding-left:13px !important;
	padding-right:13px !important;
}
.smart .tab_punti.schedaRitorno #scheda_titolo{
	padding-left:13px !important;
	padding-right:13px !important;
}
#scheda_back{
	display:none;
	margin-top: 3px;
}
.smart #scheda:not(.schedaRitorno) #scheda_back{
	vertical-align:top;
	width:36px;
	height:40px;
	background-repeat:no-repeat;
	background-position:center center;
}

.smart #scheda.visSch:not(.schedaRitorno) #scheda_back{
	display:inline-block !important;
}
.smart #scheda_back{
    /* background-image:url(../img/ico_menu.png); */
    background-image:url(../img/frSx.png);
	background-size: auto 57px;

	margin-right: 4px !important;
	opacity:0.7;
}
#scheda_intestazione.visSch{
	height:43px;
}
.smart #scheda_intestazione{
	text-align: left;
	background-color:var(--colore-grigio-scuro);
}
 
/* i pulsanti a destra dell'intestazione */
#frSch{
    width: 70px;
    height: 32px;
    margin-top: 4px;
    position: absolute;
    z-index: 100;
	display:none;
	right: 28px;
}
.smart #frSch {
	margin-top: 4px !important;
    width: calc(100% + 10px);
    right: -4px;
}
.frSu, .frGiu{
	display:block !important;
}
#frSch svg{	
	width:32px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
	background-color:rgba(255,255,255,0.02);
	border-radius:16px;
}
.frGiu #frSchGiu,
.frSu #frSchSu{
	background-color:rgba(255,255,255,0.07);
}
.smart .frGiu #frSchGiu,
.smart .frSu #frSchSu{
	background-color: rgba(0, 76, 154, 0.7) !important;
    width: 33px;
    height: 25px;
}
.smart .frGiu #frSchGiu{
    transform: rotate(-90deg);
	border-radius: 0px;
    border-bottom-left-radius: 14px;
}
.smart .frSu #frSchSu{
    transform: rotate(-90deg);
	border-radius: 0px;
    border-top-left-radius: 14px;
}
.smart #frSchSu{
	float:right;
}
body:not(.smart) .frGiu #frSchGiu:hover,
body:not(.smart) .frSu #frSchSu:hover{
	background-color:rgba(255,255,255,0.15) !important;
}
#frSch svg line{
    stroke:rgba(255,255,255,0.1);
}
.frSu #frSchSu line,
.frGiu #frSchGiu line{
	stroke:#FFF !important;
}
.frSu #frSchSu,
.frGiu #frSchGiu{
	cursor:pointer;
}
.minimized #frSch{
	display:none !important;
}

/* il pulsante di RITORNO */
#scheda_ritorno{
	display:none;
}
.schedaRitorno #scheda_ritorno{
    padding-right: 10px;
    display: block !important;
    width: 124px;
    margin-bottom: 3px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    border-radius: 5px;
	cursor:pointer;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 3px;
	float:left;
	cursor:pointer;
}
.schedaRitorno #scheda_ritorno div{
    color: #FFF !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;	
}
body:not(.bodyStyled2):not(.smart) .schedaRitorno #scheda_ritorno div{
    color: #000 !important;
}
body:not(.bodyStyled2):not(.smart) .schedaRitorno #scheda_ritorno svg line{
    stroke: #000 !important;
}
.schedaRitorno #scheda_ritorno svg{
    width:36px;
    height:40px;
	float:left;
}
.schedaRitorno #scheda_ritorno svg line{
    stroke:#FFF !important;
}
.schedaRitorno #scheda_titolo{
	width: calc(100% - 159px);
	display: inline-block;
	margin-left: 0px;
	text-align: left;
	padding-left: 45px;
	margin-right: 25px;
}

body:not(.smart) .schedaRitorno #scheda_titolo{
    display: block !important;
	float:right;
}
.schLato.schedaRitorno #scheda_titolo{
	width: calc(100% - 160px) !important;
	margin-right:26px;
}
.smart #scheda.schedaRitorno #scheda_titolo{
	width: calc(100% - 159px) !important;
}
.smart #scheda.visSch #scheda_titolo,
.smart #scheda.visSch.schedaRitorno #scheda_ritorno{
	display: inline-block;
    vertical-align: top;
	margin-top: 3px;
}

.smart #scheda.visSch:not(.schedaRitorno) #scheda_titolo,
.smart #scheda.visSch.schedaRitorno #scheda_ritorno{
	margin-left: -4px;
    margin-right: -4px !important;
	margin-top: 3px;
}
.smart #scheda.visSch.schedaRitorno #scheda_titolo{
	margin-left: -2px !important;
    margin-right: -2px !important;
}
.smart #scheda.visSch.schedaRitorno #scheda_ritorno{
	margin-right: -2px !important;
    margin-left: 3px !important;
}

/* la scheda contenente i testi */
#scheda_testo2{
	display:none;
}
#scheda_testo,
#scheda_testo2{
	overflow-y:scroll;
	width:100%;
	background-color: rgb(238, 238, 238);
}
#scheda_testo.noScroll,
#scheda_testo2.noScroll{
	overflow-y:hidden !important;
}
.scheda_stampa{
	width:calc(100%);
}

.android #scheda:not(.schForm) #scheda_testo *:not(h1):not(h2):not(.annullaBtn):not(.submitBtn):not(.stampaBtn):not(.noDefault),
.android #scheda:not(.schForm) #scheda_testo2 *:not(h1):not(h2):not(.annullaBtn):not(.submitBtn):not(.stampaBtn):not(.noDefault){
	font-size: var(--font-16-5);
	line-height:20px;
}
.app_version.bug_font.android #scheda:not(.schForm) #scheda_testo *:not(h1):not(h2):not(.annullaBtn):not(.submitBtn):not(.stampaBtn),
.app_version.bug_font.android #scheda:not(.schForm) #scheda_testo2 *:not(h1):not(h2):not(.annullaBtn):not(.submitBtn):not(.stampaBtn){
	font-size: var(--font-14-94) !important;
	line-height:18.32px !important;
}
.bodyStyled2 #scheda_testo,
.bodyStyled2 #scheda_testo2{
	background-color: #eae8e3;
}
#scheda_testo > div,
#scheda_testo2 > div{
	text-align:left;
	padding:30px;
}
.contStampa #scheda_testo > div,
.contStampa #scheda_testo2 > div{
	padding:0px !important;
	
}
body:not(.smart) .h150 #scheda_testo > div:not(#btnMenuScheda){
	padding-bottom:80px !important;
}
.schedaRitorno #scheda_testo{
	display:none !important;
}
.schedaRitorno #scheda_testo2{
	display:block !important;
}
#scheda.visSch_1 #scheda_testo,
#scheda.visSch_1 #scheda_testo2{
	height:0px;
}
#scheda.visSch_2 #scheda_testo,
#scheda.visSch_2 #scheda_testo2{
	height:200px;
	display:block;
}
body:not(.bodyStyled2) #scheda_testo,
body:not(.bodyStyled2) #scheda_testo2{
    border-top: 1px solid rgba(0,0,0,0.2);
}
#scheda.visSch_3{
	height:calc(100% - 22px);
}
#scheda.visSch_3 #scheda_testo,
#scheda.visSch_3 #scheda_testo2{
	width:100%;
	height:calc(100% - 22px);
 	background-color:inherit !important;
	display:block;
	position:absolute;
	margin-left:-3px;
	cursor:pointer;
}


/* stili del CONTENUTO della scheda */
#scheda h1{
	font-size: var(--font-30-9);
    font-weight: normal;
    margin-top: 0px;
	line-height: normal !important;
	position: relative;
    z-index: 7;
}
@media only print{
	h1{
		font-size: 35px !important;
	}
}
#scheda li{
	margin-top:10px;
}
#scheda.scheda_teoria ul,
#scheda.scheda_teoria ol{
	padding-left: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#scheda.scheda_teoria li{
	margin: 4px 0px !important;
}
#scheda.scheda_ideogramma #scheda_testo,
#scheda.scheda_ideogramma #scheda_testo2{
    padding-right: 69px;
}
.smart #scheda.scheda_ideogramma #scheda_testo,
.smart #scheda.scheda_ideogramma #scheda_testo2{
    padding-right: 59px;
}
#scheda.scheda_ideogramma #scheda_testo::-webkit-scrollbar {
	background: #999;
}
#scheda h1 *{
	font-size: var(--font-30-9);
    font-weight: normal;
}
.tdScuro{
    background-color: #333;
    color: #FFF;
    font-weight: bold;
}
.col50{
	display: inline-block;
    vertical-align: top;
    min-width: 270px;
    width: 50%;
}
.smart .col50{
    width: 100% !important;
}

/* il MENU degli strumenti della scheda (stampa e download) */
#btnMenuScheda{
	width: 23px;
    height: 40px;
    padding: 0px !important;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    right: 8px;
	margin-top: -43px;
    margin-right: -7px;
    overflow: hidden;
    border-radius: 4px;
}
#btnMenuScheda:hover{
	background-color:rgba(0,0,0,0.1);
}
.bodyStyled2 #btnMenuScheda:hover{
	background-color:rgba(255,255,255,0.1);
}

.smart #btnMenuScheda{
    margin-top: -43px;
    margin-right: -2px;
}
.smart #btnMenuScheda svg circle{
	fill: #FFF !important;
}
#btnMenuScheda svg{
	width: 28px;
	opacity: 0.5;
    border-radius: 4px;
	margin-left:-2px;
}
#btnMenuScheda svg circle{
	r: 2px;
	cx: 12px;
	stroke: none;
	stroke-width: 0px;
	fill: var(--schede-icone);
}
#menuScheda,
#menuCiclo{
    background-color: #FFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
    display: none;
    padding: 0px !important;
    text-align: right !important;
    position: absolute;
    right: 8px;
	z-index:5;
}
.smart #menuScheda{
	z-index:500;
}
.schLato #menuScheda,
.smart #menuScheda{
    right: 0px !important;
}
#scheda:not(.schLato) #menuScheda{
	top: 71px;
}
.smart #scheda:not(.schLato) #menuScheda{
	top: 76px;
}
.schLato #menuScheda{
	top: 46px;
}
#menuScheda > div:not(#addBtnMenu),
#menuScheda #addBtnMenu > div,
#menuCiclo > div{
	width:100%;
	height: 42px;
    line-height: 42px !important;
	padding-right: 15px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 5px center;
    display: block;
    border-left: 1px solid rgba(0,0,0,0.1);
	cursor:pointer;
}
.smart #menuCiclo{
	margin-top: -4px;
    margin-right: 116px;
}
body:not(.smart) #menuCiclo{
	margin-right: 74px;
}
#menuCiclo > div{
	padding-right:10px;
}
#menuScheda div:not(#addBtnMenu):hover,
#menuCiclo > div:hover{
	background-color:rgba(0,0,0,0.1);
}
#btnStampaScheda{
    padding-left: 38px;
    padding-right: 10px;
	background-image:url(../img/ico_stampaN.png);
}
.app_version #btnStampaScheda{
	display:none !important;
}
#btnDownloadScheda{
	background-image:url(../img/ico_downloadN.png);
}


.p_paz_el_menu,
.p_paz_ref_menu,
.p_hide_point,
.p_show_point{
    padding: 0px;
    cursor: pointer;
    padding-left: 38px;
    background-repeat: no-repeat;
    background-size: auto auto;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.p_paz_el_menu{
    background-position: 8px center !important;
    background-image: url(../img/ico_cestinoR.png);
}
.p_paz_ref_menu{
    background-image: url(../img/ico_guidaN.png);
}

.p_hide_point{
    background-image: url(../img/ico_hideN.png);
}
.p_show_point{
    background-image: url(../img/ico_showN.png);
}
.listaPunti a.hide_point_list{
    opacity: 0.5;
    background-image: url(../img/ico_showN.png);
    background-position: right center !important;
    background-size: auto 22px;
}
.listaPunti a.hide_point_list *{
	opacity:0.5;
}

.divEspansa{
	width:calc(100% + 60px);
	margin-left:-30px;
	margin-right:-30px;
	padding-left:30px;
	padding-right:30px;
}
@media print{
	.sezioneChiusa{
		height:auto !important;
	}
	.sezioneChiusa > div{
		display:block !important;
	}
	.sezioneTrattamenti i{
		color: #999 !important;
	}
}


.autore,
.libro{
	float:left;
	margin-right:20px;
}
.autore{
	width:100px;
	border-radius:8px;
	box-shadow:0px 0px 3px;
}
.autore_mini{
	float: left;
    margin-right: 12px;
    margin-top: 5px;
    margin-bottom: 16px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px;
}
.libro{
	width:150px;
}
.cont_libri{
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding-bottom:15px;
	margin-bottom:15px;
}
.p_translate{
	padding-left:32px;
	background-image: url(../img/ico_translate2N.png);
	background-position: 3px center !important;
    background-size: auto;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.p_translate select{
	display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    margin-top: 5px;
	margin-left: 6px;
	border-radius:6px;
	padding-left:10px;	
	padding-right:30px;	
	background-image:url(../img/frGiuB.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:right center;
	background-color:#FFF;
	appearance:none;
	-webkit-appearance:none;
	border:none;
	cursor:pointer;
}
.p_translate span{
	margin-left: 6px;
}
.translate_note{
	background-color: #696969;
    line-height: 43px;
    margin: -31px -10px 20px -10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 37px;
    padding-right: 15px;
    background-image: url(../img/ico_translate2.png);
    background-repeat: no-repeat;
    background-position: 3px center;
    background-size: auto 37px;
    color: #FFF;
}
.translate_note span{
    cursor: pointer;
    display: inline-block;
    float: right;
    line-height: 27px;
    margin-top: 7px;
    margin-right: -4px;
    padding: 0 7px;
}
.translate_note span:not(.translate_close){
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    background-color: #FFF;
    border-radius: 4px;
}
.translate_note span.translate_close{
	width:27px;
	height:27px;
    background-image:url(../img/annullaUtente.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 8px;
    margin-right: -8px;
}
#scheda:not(.tab_punti):not(.scheda_patologia):not(.scheda_teoria) .translate_note{
	display:none;
}
body.smart .translate_note{
	margin-top: -20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
body.smart .translate_note span:not(.translate_close){
    float: none;
    height: 30px !important;
    line-height: 30px !important;
    margin-left: 11px;
    margin-top: 14px;
}
body.smart .translate_note span.translate_close{
	margin-top: -3px;
    margin-right: -4px;
}

.lang_ar .translatable{
	text-align:right;
	direction:rtl
}
.lang_ar #titPoint{
	text-align:right;
}
.lang_ar .simboliPatologia{
	float:left;
}
.lang_ar .ideogrammaPuntoChar {
    margin-left: -15px !important;
    margin-right: 20px !important;
    float: left;
}
.lang_ar .speach_icon {
    margin-left: -51px;
    margin-right: 0px;
    float: left;
}
.lang_ar .autore_mini {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
}
.lang_ar .icoLabel {
    float: right;
    margin-right: 0px;
    margin-left: 10px;
}
.lang_ar .sezioneTrattamenti > .labelTrattamenti {
    background-position: left center;
}
.lang_ar .pINT, 
.lang_ar .pEUR, 
.lang_ar .pCIN, 
.lang_ar .pNUL {
    margin-right: 0px;
    margin-left: 5px;
}
#box_sblocca{
    position: absolute;
    top: 180px;
    width: calc(100% - 70px);
    text-align: center;
}
body.smart #box_sblocca{
	width: calc(100% - 40px) !important;
}
#btn_sblocca{
    cursor: pointer;
    display: inline-block;
    position: relative;
    background: #ffae00;
    background: linear-gradient(to bottom, #ffae00 0%, #c58701 100%);
    height: 55px;
    line-height: 55px !important;
    padding: 0 25px 0 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    z-index: 21;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 16px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.7);
}
#btn_sblocca br{
	display:none;
}
#descr_sblocca{
	width: 247px;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    padding: 15px 15px 15px 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 15px;
    z-index: 20;
    background-image: url(../img/lockB.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}
#descr_sblocca *{
	color:#FFF;
	font-size:17px;
}
.blur_sfum{
	position: relative;
    z-index: 5;
    width: calc(100% + 60px);
    height: 200px;
    margin-top: -193px;
    margin-left: -30px;
    background-image: url(../img/blur_sfum.png);
    background-size: 100% 100%;
	filter: blur(10px);
}
@media (max-width: 400px){
	#btn_sblocca{
    	padding: 15px !important;
        max-width: calc(100%);
        line-height: normal !important;
        height: auto !important;
        min-width: 280px;
	}
	#descr_sblocca{
		padding: 15px 35px !important;
		background-position: left 4px !important;
	}
	#btn_sblocca br{
		display:inline-block !important;
	}
	.blur_sfum {
		width: calc(100% + 50px) !important;
	}
}