@charset "utf-8";
/* CSS Document */


/* GENERICI */
.noResults{
	display:block;
	padding-top:30px;
	padding-bottom:30px;
	color:rgba(0,0,0,0.6);
	font-style:italic;
	background:none !important;
}

/* SCHEDA */
#scheda{
	position:fixed;
	z-index:40;
	bottom:0px;
	right:0px;
	display:none;
}
body:not(.smart) #scheda:not(.schLibera){
	z-index: 10 !important;	
}
.smart #scheda:not(.schLibera):not(.visSch) {
    z-index: 42 !important
}
.smart #scheda.visSch:not(.schLibera) {
    z-index: 42 !important
}
.smart #scheda{
	width: 100%;
}
body:not(.smart) #scheda{
	width: calc(100% - 48px);
}
.schRid:not(.schOp):not(.schLibera){
	width:calc(100% - 48px) !important;
}
.schRid.schOp:not(.schLibera){
	width:calc(100% - var(--menu-width) - 48px) !important;
}
.schLibera{
	bottom:auto !important;
}
.schLibera #scheda_cont{
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5) !important;	
}
.scheda_redim{
    position: absolute;
	z-index: 100;
	display:none;
}
#redim_br{
    width: 25px;
    height: 25px;
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
    padding-right: 5px;
    padding-bottom: 5px;
}
#redim_tl{
    width: 10px;
    height: 10px;
    top: 20px;
    left: -5px;
    cursor: nwse-resize;
}
#redim_bl{
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}
#redim_l{
    width: 5px;
    height: calc(100% - 35px);
    top: 30px;
    left: 0px;
    margin-left: -5px;
    cursor: ew-resize;
}
#redim_r{
    width: 5px;
    height: calc(100% - 50px);
    top: 30px;
    right: 0px;
    margin-right: -5px;
    cursor: ew-resize;
}
#redim_t{
    width: calc(100% - 112px);
    height: 5px;
    top: 20px;
    left: 5px;
    margin-bottom: -5px;
    cursor: ns-resize;
}
#redim_b{
    width: calc(100% - 25px);
    height: 5px;
    bottom: 0px;
    left: 5px;
    margin-bottom: -5px;
    cursor: ns-resize;
}
.schLibera .scheda_redim{
    display: block !important;
}
#redim_br svg line{
	stroke-linecap: round;
	stroke-width: 1px;
}
#redim_br svg line:not(.b){
	stroke:#000;
}
#redim_br svg line.b{
	stroke:#FFF;
}
#redim_br:hover svg line{
	stroke:#999 !important;
}
.schLibera #ss{
    display: none !important;
}
.minimized {
    width: 250px !important;
}
.minimized #scheda_testo,
.minimized #scheda_testo2 {
    height: 0px !important;
	display:none !important;
}
.minimized #scheda_cont {
    height: 46px !important;
}
.minimized .scheda_redim,
.minimized .formBtn{
    display: none !important;
}
.smart #scheda_testo,
.smart #scheda_testo2{
    border-bottom: 1px solid rgba(0,0,0,0.5);	
}

/* linguette delle schede */
#scheda_linguette{
	height: 25px;
    text-align: center;
    overflow-y: hidden;
    padding-top: 8px;
}
#scheda_linguette > div{	
	display:none;
	height:22px;
	margin-left:2px;
	margin-right:2px;
	margin-top:-5px;
	vertical-align:bottom;
}
#scheda_linguette > div:not(#lF){
	background-color:var(--schede-fondino);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	cursor:pointer;
	box-shadow:0px 0px 3px #000;
}
#scheda_linguette > div:not(#sr){
	width:32px;
	
}
#scheda_linguette div line{
	stroke:var(--schede-icone);
	stroke-linecap: round;
	stroke-width: 2px;
}
.schExp.schOp.LISTE .fixExp .lll:not(#lF){
	visibility:hidden !important;
}
.schOp .fixExp #l3,
.schOp:not(.LISTE) #l3{
	visibility:hidden !important;
	width:0px !important;
	margin-left:0px !important;
	margin-right:6px !important;
}
#lF{
	background-repeat:no-repeat;
	background-position:center center;
}
#scheda_linguette:not(.fixExp) #lF{
	background-image:url(../img/puntina.png);
}
#scheda_linguette.fixExp #lF{
	background-image:url(../img/puntinaFix.png);
}
#scheda.schExp #lF{
	float: right;
    height: 36px;
    margin-top: -11px;
}
.schExp:not(.schOp) #lF,
.schExp.schOp:not(.LISTE) #lF{
	display:none !important;
}
body:not(.touch ) .lll:hover line,
body:not(.touch ) .lll:hover rect,
body:not(.touch ) .lll:hover polygon{
	stroke:var(--schede-icone-over) !important;
}
body:not(.touch ) .lll:hover rect.filled{
	fill:var(--schede-icone-over) !important;
}
body:not(.touch) #sc,
body:not(.touch) #scheda:not(.schLibera) #ss,
body:not(.touch) #scheda:not(.minimized) #sr,
/*body:not(.touch) #scheda:not(.minimized) #sr0,
body:not(.touch) #scheda:not(.minimized) #srB,
body:not(.touch) #scheda:not(.minimized) #srL,*/
body:not(.touch) #scheda.schLibera:not(.minimized) #mn,
body:not(.touch) #scheda.minimized #xp{
	display:inline-block !important;
}
#sc,
#sr,
#mn,
#xp{
	float:right;
}
#sc svg,
#sr svg,
#mn svg,
#xp svg{
	width:31px;
}
/*#sc{
	margin-left:-32px !important;
}
#sr0{
	margin-right: 36px !important;
    margin-left: -64px !important;
}
#srB{
	margin-right: 36px !important;
    margin-left: -64px !important;
}
#srL{
	margin-right: 36px !important;
    margin-left: -64px !important;
}*/
#scheda:not(.minimized) #xp{
	display:none !important;
}
.minimized #mn,
.minimized #sr0,
.minimized #srB,
.minimized #srL,
.minimized #btnMenuScheda,
.minimized #menuScheda,
#scheda:not(.schLibera) #mn,
#scheda:not(.schLibera) #mn{
	display:none !important;
}
/*#mn{
	margin-right: 68px !important;
    margin-left: -96px !important;
}
#xp{
	margin-right: 36px !important;
    margin-left: -96px !important;
}*/
/*#scheda:not(.schLibera) #sr svg path{
	display:none !important;
}*/
/*.schLibera #sr svg path{
	stroke-width: 1px !important;
	stroke: var(--schede-icone);
	stroke-linecap: square !important;	
	fill: var(--schede-fondino);
}
.schLibera #sr svg line,
.schLibera #sr svg rect{
	display:none !important;
}*/
#scheda:not(.schLibera) #srB{
	display:none !important;
}
.schLibera #sr0{
	display:none !important;
}
#sr0 svg line,
#srB svg line,
#srL svg line{
	stroke-width: 1px !important;
}
#sr0 svg rect,
#srB svg rect,
#srL svg rect,
#xp svg rect{
	stroke-width: 1px !important;
	stroke: var(--schede-icone);
	stroke-linecap: square !important;	
	fill: var(--schede-fondino);
}
#ss{
	width:100px !important;
	text-align:center;
    height: 22px !important;
	float: left;
    margin-left: calc(50% - 50px) !important;
}
body:not(.touch)#ss{
    margin-left: calc(50% - 50px) !important;
}
.touch #scheda:not(.schRid) #ss{
    margin-left: calc(50% - 85px) !important;
}
#ss svg{
    height: 22px !important;
}
#sc svg{
    height: 28px !important;
}
#ss svg line{
    stroke: #999;
}
.filled{
	fill: var(--schede-icone) !important;
}

body:not(.touch) .visSch_1 #l1,
body:not(.touch) .visSch_1 #l2,
body:not(.touch) .schRid #l1,
body:not(.touch) .schRid #l2{
	display:none !important;
}
@media (max-width: 340px){
	.visSch #l1{
		margin-left:-109px;
		margin-right:71px;
	}
	.visSch #l2{
		margin-left:-76px;
		margin-right:36px;
	}
}

/* div della scheda */
#scheda_cont{
	background-color:var(--schede-fondino);
	width:100%;
	display:none;
	padding-top:3px;
	box-shadow:0px 0px 3px #000;
}
#scheda_titolo{
	margin-left:3px;
	margin-right:3px;
	margin-bottom:3px;
	height:40px;
	line-height:40px;
	color:#FFF !important;
	font-weight:bold;
    border-radius: 5px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-left:20px;
	padding-right:20px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    background: #1d4eaa;
    background: -moz-linear-gradient(top, #1d4eaa 0%, #0a3d96 100%);
    background: -webkit-linear-gradient(top, #1d4eaa 0%,#0a3d96 100%);
    background: linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4eaa', endColorstr='#0a3d96',GradientType=0 );
	cursor:pointer;
}
#scheda_intestazione.visSch{
	height:43px;
}

/* i pulsanti a destra dell'intestazione */
#frSch{
    width: 70px;
    height: 32px;
    margin-top: 4px;
    position: absolute;
    z-index: 100;
	display:none;
}
#frSch{
    right: 7px;
    width: 70px;
}
.frSu, .frGiu{
	display:block !important;
}
#frSch svg{	
	width:32px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
	background-color:rgba(255,255,255,0.02);
	border-radius:16px;
}
.frGiu #frSchGiu,
.frSu #frSchSu{
	background-color:rgba(255,255,255,0.07);
}
.frGiu #frSchGiu:hover,
.frSu #frSchSu:hover{
	background-color:rgba(255,255,255,0.15) !important;
}
#frSch svg line{
    stroke:rgba(255,255,255,0.1);
}
.frSu #frSchSu line,
.frGiu #frSchGiu line{
	stroke:#FFF !important;
}
.frSu #frSchSu,
.frGiu #frSchGiu{
	cursor:pointer;
}
.minimized #frSch{
	display:none !important;
}

/* il pulsante di RITORNO */
#scheda_ritorno{
	display:none;
}
.schedaRitorno #scheda_ritorno{
    padding-right: 10px;
    display: block !important;
    width: 124px;
    margin-bottom: 3px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	
	background: #eb9a00 !important;
    background: -moz-linear-gradient(top, #eb9a00 0%, #ce8707 100%) !important;
    background: -webkit-linear-gradient(top, #eb9a00 0%,#ce8707 100%) !important;
    background: linear-gradient(to bottom, #eb9a00 0%,#ce8707 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9a00', endColorstr='#ce8707',GradientType=0 ) !important;
	
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 3px;
	float:left;
	cursor:pointer;
}
.schedaRitorno #scheda_ritorno div{
    color: #FFF !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;	
}
.schedaRitorno #scheda_ritorno svg{
    width:36px;
    height:40px;
	float:left;
}
.schedaRitorno #scheda_ritorno svg line{
    stroke:#FFF !important;
}
.schedaRitorno #scheda_titolo{
    display: block !important;
	width: calc(100% - 130px);
	display: inline-block;
	margin-left: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	text-align: left;
	padding-left: 30px;
	float:right;
}


/* la scheda contenente i testi */
#scheda_testo2{
	display:none;
}
#scheda_testo, #scheda_testo2{
	overflow-y:scroll;
	width:100%;
	background-color: rgb(238, 238, 238);
    /*border-top: 1px solid rgba(0, 0, 0, 0.4);*/
}
.android #scheda:not(.schForm) #scheda_testo *:not(h1):not(h2):not(.annullaBtn):not(.submitBtn),
.android #scheda:not(.schForm) #scheda_testo2 *:not(h1):not(h2):not(.annullaBtn):not(.submitBtn){
	font-size:15px;
	line-height:20px;
}
.bodyStyled2 #scheda_testo,
.bodyStyled2 #scheda_testo2{
	background-color: #eae8e3;/*#f5f4f2;*/
}
#scheda_testo > div, #scheda_testo2 > div{
	text-align:left;
	padding:30px;
	padding-bottom:80px;
}
.schedaRitorno #scheda_testo{
	display:none !important;
}
.schedaRitorno #scheda_testo2{
	display:block !important;
}
#scheda.visSch_1 #scheda_testo,
#scheda.visSch_1 #scheda_testo2{
	height:0px;
}
#scheda.visSch_2 #scheda_testo,
#scheda.visSch_2 #scheda_testo2{
	height:200px;
	display:block;
}
#scheda.visSch_3{
	height:calc(100% - 22px);
}
#scheda.visSch_3 #scheda_testo,
#scheda.visSch_3 #scheda_testo2{
	width:100%;
	height:calc(100% - 22px);
 	background-color:inherit !important;
	display:block;
	position:absolute;
	margin-left:-3px;
	cursor:pointer;
}


/* stili del CONTENUTO della scheda */
#scheda h1{
	font-size: 28px;
    font-weight: normal;
    margin-top: 0px;
	line-height: normal !important;
}
#scheda h1 *{
	font-size: 28px;
    font-weight: normal;
}
.col50{
	display: inline-block;
    vertical-align: top;
    min-width: 270px;
    width: 50%;
}

/* il MENU degli strumenti della scheda (stampa e download) */
#btnMenuScheda{
	width: 27px;
    height: 40px;
    padding: 0px !important;
    cursor: pointer;
    margin-right: 1px;
    margin-top: 1px;
    border-radius: 4px;
    z-index: 1000;
    position: absolute;
    right: 8px;
}
#btnMenuScheda:not(.btnFix):hover{
	background-color:rgba(0,0,0,0.1);
}
.btnFix{
	background-color:rgba(0,0,0,0.2);
}
#btnMenuScheda svg{
	opacity: 0.5;
    border-radius: 4px;
}
#btnMenuScheda svg circle{
	r: 2px;
	cx: 12px;
	stroke: none;
	stroke-width: 0px;
	fill: #000;
}
#menuScheda{
    background-color: #FFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
    display: none;
    padding: 0px !important;
    text-align: right !important;
    padding-right: 29px !important;
    position: absolute;
    right: 8px;
	z-index:5;
}
#menuScheda div{
	height: 42px;
    line-height: 42px !important;
    padding-left: 38px;
    padding-right: 10px;
    text-align: left;
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: 5px center;
    display: inline-block;
    border-left: 1px solid rgba(0,0,0,0.1);
	cursor:pointer;
}
#menuScheda div:hover{
	background-color:rgba(0,0,0,0.1);
}
#btnStampaScheda{
	background-image:url(../img/ico_stampaN.png);
}
#btnDownloadScheda{
	background-image:url(../img/ico_downloadN.png);
}
.divEspansa{
	width:calc(100% + 60px);
	margin-left:-30px;
	margin-right:-30px;
	padding-left:30px;
	padding-right:30px;
}