@charset "utf-8";
/* CSS Document */
/*

	i CSS per i dispositivi touch


*/
.touch .noTouch{
	display:none !important;
}
.smart .noSmart{
	display:none !important;
}
.touch:not(.android) #dataTxt *{
	line-height:30px !important;
	font-size: var(--font-15-39) !important;
}
.touch:not(.android) textarea{
	font-size: var(--font-15-39) !important;
	padding:15px !important;
}
.touch.android:not(.smart) input[type='text'],
.touch.android:not(.smart) input[type='email'],
.touch.android:not(.smart) input[type='password'],
.touch.android:not(.smart) #formMod select:not(.p_proc_gruppo):not(.p_paz_gruppo):not(.p_paz_meridiani):not(#grpPt):not(#grpMrd),
.touch.android:not(.smart) #dataTxt{
	height:32px !important;
	line-height:32px !important;
	font-size: var(--font-17-6) !important;
	padding-left:8px;
}
.smart.android input[type='text'],
.smart.android input[type='email'],
.smart.android input[type='password'],
.smart.android #formMod select:not(.p_proc_gruppo):not(.p_paz_gruppo):not(.p_paz_meridiani):not(#grpPt):not(#grpMrd),
.smart.android #dataTxt{
	height:42px !important;
	line-height:42px !important;
	font-size: var(--font-16-93) !important;
}
.app_version.bug_font.smart.android input[type='text'],
.app_version.bug_font.smart.android input[type='email'],
.app_version.bug_font.smart.android input[type='password'],
.app_version.bug_font.smart.android #formMod select:not(.p_proc_gruppo):not(.p_paz_gruppo):not(.p_paz_meridiani):not(#grpPt):not(#grpMrd),
.app_version.bug_font.smart.android #dataTxt{
	line-height:38.48px !important;
	font-size: var(--font-15-39) !important;
}

.smart:not(.android) input[type='text'],
.smart:not(.android) input[type='email'],
.smart:not(.android) input[type='password'],
.smart:not(.android) #formMod select:not(.p_proc_gruppo):not(.p_paz_gruppo):not(.p_paz_meridiani):not(#grpPt):not(#grpMrd),
.smart:not(.android) #dataTxt{
	font-size: var(--font-14-94) !important;
}
.app_version.bug_font.smart:not(.android) input[type='text'],
.app_version.bug_font.smart:not(.android) input[type='email'],
.app_version.bug_font.smart:not(.android) input[type='password'],
.app_version.bug_font.smart:not(.android) #formMod select:not(.p_proc_gruppo):not(.p_paz_gruppo):not(.p_paz_meridiani):not(#grpPt):not(#grpMrd),
.app_version.bug_font.smart:not(.android) #dataTxt{
	font-size: var(--font-13-58) !important;
}

.touch.android #el_visceri,
.touch.android #el_vasi,
.touch.android #el_ossa,
.touch.android #el_legamenti,
.touch.android #el_aree,
.touch.android #el_muscoli3d {
	height: 163px !important;
}
.touch.android #chAree{
    margin-left: -27px !important;
    margin-top: 9px !important;
    margin-right: 3px !important;
}
.touch.android .date{
    width: 135px;
}
.touch.android .campoData{
	padding-left:0px !important;
}
.touch.android .giorno,
.touch.android .mese{
	width:26px !important;
}
.touch.android .anno{
	width:52px !important;
}
.touch.android #dataTxt *{
	line-height:32px !important;
	font-size: var(--font-17-6) !important;
	font-weight:normal !important;
}
.touch.android textarea:not(.noDefault){
	font-size: var(--font-17-6) !important;
	padding:15px !important;
}
.touch .p_sch_punto,
.touch .p_sch_tit,
.touch .p_sch_descr,
.touch #p_add_comm,
.touch .p_paz_punto {
	height:31px !important;
	line-height:31px !important;
}

/* SCHEDA */

/* ELENCHI */
.smart #elenchi{
	width:100%;
	bottom:54px;
	top:auto !important;
	z-index:42 !important;
}
.smart #elenchi{
	height: calc(100% - 54px);
}
.smart #elenchi_cont{
	background: var(--menu-fondino) !important;
	width:100% !important;
}
.smart #elenchi_linguette{
	display:none !important;
}

.smart #elenchi_lista{
	width:100% !important;
	position:relative;
	height: calc(100% - 53px);
}
.smart #elenchi .lista{
	position:relative;
	padding:3px;
}
.smart .cartella:not(.cartellaAperta) .menuElenchi{
	display:none !important;
}
.smart #elenchi #elenchi_lista{
	border-bottom: 1px solid rgba(0,0,0,0.5);
}
.smart #elenchi .lista{
	position: absolute;
}
.smart #elenchi .listaPazienti,
.smart #elenchi .listaFornitori,
.smart #elenchi .listaAnnotazioni,
.smart #elenchi .listaServizi{
	height: calc(100% - 39px);
}
.smart #elenchi .listaTrattamenti,
.smart #elenchi .listaSaldi{
	height: calc(100% - 120px);
}
.smart #elenchi .listaProcedure{
	height: calc(100% - 79px);
}
.smart .trattNomeCliente span{
	font-size: var(--font-14-3);
}
.smart #elenchi .trattNomeCliente{
	overflow-x: visible !important;
}
.smart .trattNomeCliente{
	font-size: var(--font-16-5) !important;
}

.smart #elenchi.compresso{
	height:54px !important;
	overflow:hidden !important;
	z-index:2 !important;
}
.smart #elenchi.compresso #elenchi_cont{
	display: none !important;
}
/* .smart #scheda.compresso{
	bottom:108px !important;
} */

.smart #elenchi_pulsanti .elencoSel,
.smart #elenchi_lista div:not(.listaMeridiani) > div.elencoSel:not(.procNotCond):not(.procCond):not(.procPref){
	background: linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
	color:#FFF !important;
}
.smart #elenchi_lista div:not(.listaMeridiani) > div.elencoSel.procNotCond{
	background-image: url(../img/ico_not_condB.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
}
.smart #elenchi_lista div:not(.listaMeridiani) > div.elencoSel.procCond{
	background-image: url(../img/ico_condB.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
}
.smart #elenchi_lista div:not(.listaMeridiani) > div.elencoSel.procPref{
	background-image: url(../img/ico_prefB.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%) !important;
}
.smart #elenchi_lista div.listaMeridiani > div.elencoSel span{
	box-shadow:none !important;
}
.smart .divisorioMenu{
	display:inline-block !important;
	width:1px !important;
	height:35px !important;
	vertical-align:top;
	
	border-top:none !important;
	border-bottom:none !important;
	border-left:1px solid rgba(0,0,0,0.2);
	border-right:1px solid rgba(255,255,255,0.2);
}
.smart #paz_filtrati{
	width:auto !important;
}

/* SCHEDE */
.smart #scheda{
	width:100% !important;
	bottom:0px;
}
/* .smart #scheda.visSch{
	width:100% !important;
	height:100% !important;
	bottom:0px !important;
	background: var(--schede-fondino);
}
.smart #scheda:not(.visSch){
	width:100% !important;
	bottom:54px !important;
	overflow: hidden;
}
.smart .visSch_1,
.smart #scheda_cont:not(.visSch){
	display:block !important;
}
.smart .schOp #scheda_cont{
	box-shadow: none !important;
}
.smart #scheda_cont:not(.visSch) #scheda_titolo,
.smart #scheda_cont:not(.visSch) #scheda_testo,
.smart #scheda_cont:not(.visSch) #scheda_testo2{
	display:none !important;
}
.smart #scheda_linguette{
	display: none;
}
.smart #scheda_linguette div{
	width: 36px;
	height: 26px;
}
.smart.nasSch #scheda,
.smart.nasSch #elenchi{
	display:none !important;
}
.smart.nasSch #icone{
	overflow:hidden !important;
	height:0px !important;
}
#riapriSch{
	display:none !important;
}
.smart.nasSch #riapriSch {
    display: block !important;
    position: fixed;
    top: 0;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    height: 46px;
    background-color: #1546a1;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.smart.nasSch #riapriTit{
	width: 100%;
    font-size: var(--font-12-1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFF;
    text-align: left;
    height: 19px;
    line-height: 15px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    font-style: italic;
	padding-left: 10px;
    padding-right: 10px;
}
.smart.nasSch #riapriBtn{
    height: 27px;
    line-height: 27px;
	width:100%;
	color:#FFF;
	border-radius: 6px 6px 0px 0px;
} */
.smart #ss{
	height: 29px !important;
}
.smart #sc{
	padding-top: 2px;
}
.smart #mn, #xp, sr{
	display:none !important;
}
.smart #sc,
.smart #ss{
	display:none !important;
}
.smart .visSch #ss,
.smart .visSch #sc{
	display:inline-block !important;
	background-color:var(--colore-grigio-scuro);
}
.smart #scheda_testo > div,
.smart #scheda_testo2 > div {
	padding: 20px;
	padding-bottom: 310px;
}
.smart .divEspansa {
	width:calc(100% + 40px) !important;
	margin-left: -20px !important;
	margin-right: -20px !important;
	padding-left: 20px !important;
    padding-right: 20px !important;
}
.smart #logoSovra{
	display:none !important;
}
.smart .SCH:not(#agCont) .agOpGen,
.smart .SCH:not(#agCont) .calOpGen{
	margin:-20px !important;
}