@charset "utf-8";
/* CSS Document */

::-webkit-scrollbar {
	background: transparent;
	width:8px;
	height:8px;
}
::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 50px;
	min-width: 8px;
	min-height: 8px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #444;
}
/* html{
	scrollbar-color: #666 #000;
} */
.scrb_scura::-webkit-scrollbar {
	padding:1px;
}
.scrb_scura::-webkit-scrollbar-thumb {
	background-color: #CCC;
}
.scrb_scura::-webkit-scrollbar-thumb:hover {
	background-color: #EEE;
	border: 2px solid #575757;
}
/* .scrb_scura{
	scrollbar-color: #CCC #FFF;
} */