@charset "utf-8";
/* CSS Document */

#impset {
    height: 420px;
    margin-top: -210px;
}

#pulsante_modello{
	background-image: url(../anatomy_full/img/logoMenuN.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px)center !important;
    background-size: auto 32px!important;
    padding-right: 47px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    text-align: right !important;
    margin-bottom: 10px !important;
}
body.donna #pulsante_modello,
body.uomo #pulsante_modello{
	display:none;
}

.tab_punti h1 *{
	font-size:inherit !important;
}
.smart .simboliPunto{
	margin-top: 20px;
}
.ideogrammaPuntoChar,
.ideogrammaMeridianoChar{
	font-family: adobe-clean-han-simplified-c,adobe-clean,PingFang SC,SimSun,Heiti SC Light,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
	font-weight: bold;
	font-size: 40px;
	float: right;
	text-align:center;
}
.ideogrammaPuntoChar{
	border-radius: 20px;
	background-color: #999999;
	color: #FFF;
	padding: 15px 10px;
	margin: -15px;
    margin-left: 20px !important;
	margin-bottom: 20px !important;
	padding-top: 26px;
    border-top-left-radius: 14px;
}
.smart .ideogrammaPuntoChar,
.smart .ideogrammaMeridianoChar{
    font-size: 38px !important;
    line-height: 44px !important;
}
.ideogrammaMeridianoChar{
	position: absolute;
    right: 8px;
    padding: 14px;
    background-color: #999;
    color: #FFF;
	width:69px;
	padding-top:26px;
}
.smart .ideogrammaMeridianoChar{
	width:59px;
    font-size: 38px !important;
    line-height: 44px !important;
}
#scheda.schLato .ideogrammaMeridianoChar,
.smart .ideogrammaMeridianoChar{
    top: 46px;
    height: calc(100% - 46px);
}
body:not(.smart) #scheda:not(.schLato) .ideogrammaMeridianoChar{
    top: 71px;
    height: calc(100% - 71px);
}
.speach_icon{
	width: 31px;
    cursor: pointer;
    border-radius: 9px;
    margin-right: -51px;
    padding: 5px;
    position: relative;
    float: right;
    margin-top: -17px;
    opacity: 0.6;
}
.ideogrammaMeridianoChar img{
	width: 31px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: -15px;
    margin-top: -29px;
    padding: 5px;
    position: absolute;
    opacity: 0.6;
}

.simboliPunto{
    width: 45px;
    height: 45px;
    margin-left: 10px;
    background-color: #aec5f1;
    border-radius: 25px;
    padding: 5px;
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center center;
	display:inline-block;
	vertical-align:middle;
}
.zoomPunto{
	width:371px;
	height:490px;
}
#p_contrasto{
	background-image:url(img/p_contrasto.png);
	display:none;
}
#p_contrasto.btnSel{
	background-image:url(img/p_contrasto_sel.png) !important;
	display:none;
}
/*.smart .btn_meridiani_cinesi{
	background-image:url(img/logoBlu.png) !important;
}*/
.btn_meridiani_cinesi{
	cursor:default !important;
}


/* POPUP IMPOSTAZIONI */
#tbSigleMeridiani{
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.3);
    margin-left: -10px;
    margin-right: -10px;
}
#tbSigleMeridiani_tab{
	width: 100%;
}
.tbSigleMeridiani_nomi{
	width: 40%;
}
.tbSigleMeridiani_sigle{
	width: 10%;
	font-weight:bold;
}
#tbSigleMeridiani_tab tr td {
    border-top: 1px solid rgba(0,0,0,0.1);
}
#tbSigleMeridiani_tab tr:first-child td {
    border-top: none !important;
}

/* SCHEDE */
.pallinoPat,
.pallinoPunto{
}
.pallinoPat:not(.pallinoPunto){
	display:inline-block;
	padding-left:16px;
	height:16px;
	line-height:16px;
	background-image:url(img/pallinoPat.png);
	background-position:left center;
	background-repeat:no-repeat;
	vertical-align:middle;
	font-weight:bold;
	text-overflow:ellipsis;
	overflow:hidden;
}
.pallinoPunto{
	color: #366ee1;
	/*cursor:pointer;*/
}
.pallinoPat:not(.ptNoSel):not(.pallinoPunto){
	cursor:pointer;
}
.pallinoPat.ptNoSel:not(.pallinoPunto){
	cursor:default !important;
}
.pallinoPat:not(.ptNoSel):not(.pallinoPunto):hover{
	background-color:rgba(255,255,255,0.3);
	border-radius:3px;
}
.pallinoPatEsteso{
	text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    width: calc(100% - 20px);
	height: 30px !important;
    line-height: 30px !important;
}
.pallinoPat i,
.pallinoPunto i{
	font-weight:normal !important;
	font-style:normal !important;
}
.elencoPunti{
	margin-top:10px;
}
.elencoPunti p{
	text-align:left;
	height:30px;
	line-height:30px;
	margin:0px;
}

/* STILI DELLE SCHEDE */
.scheda_meridiano #scheda_titolo{
	background: #eb9a00 !important;
    background: -moz-linear-gradient(top, #eb9a00 0%, #ce8707 100%) !important;
    background: -webkit-linear-gradient(top, #eb9a00 0%,#ce8707 100%) !important;
    background: linear-gradient(to bottom, #eb9a00 0%,#ce8707 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9a00', endColorstr='#ce8707',GradientType=0 ) !important;
}
.scheda_procedura #scheda_titolo{
	background: #eb9a00 !important;
    background: url(../../img/ico_prescrizioneB.png), -moz-linear-gradient(top, #eb9a00 0%, #ce8707 100%) !important;
    background: url(../../img/ico_prescrizioneB.png), -webkit-linear-gradient(top, #eb9a00 0%,#ce8707 100%) !important;
    background: url(../../img/ico_prescrizioneB.png), linear-gradient(to bottom, #eb9a00 0%,#ce8707 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9a00', endColorstr='#ce8707',GradientType=0 ) !important;
	background-position:5px center, center center !important;
	background-repeat:no-repeat !important;
}

.scheda_patologia #scheda_titolo{
	background: #eb9a00 !important;
    background: url(../../img/ico_patologie2B.png), -moz-linear-gradient(top, #eb9a00 0%, #ce8707 100%) !important;
    background: url(../../img/ico_patologie2B.png), -webkit-linear-gradient(top, #eb9a00 0%,#ce8707 100%) !important;
    background: url(../../img/ico_patologie2B.png), linear-gradient(to bottom, #eb9a00 0%,#ce8707 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9a00', endColorstr='#ce8707',GradientType=0 ) !important;
	background-position:5px center, center center !important;
	background-repeat:no-repeat !important;
}

.scheda_teoria #scheda_titolo{
    background: #1d4eaa;
    background: url(../../img/ico_teoria2B.png), -moz-linear-gradient(top, #1d4eaa 0%, #0a3d96 100%);
    background: url(../../img/ico_teoria2B.png), url(../img/ico_utente.png)-webkit-linear-gradient(top, #1d4eaa 0%,#0a3d96 100%);
    background: url(../../img/ico_teoria2B.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4eaa', endColorstr='#0a3d96',GradientType=0 );
	background-position:2px center, center center !important;
	background-repeat:no-repeat !important;
}
.scheda_video #scheda_titolo{
    background: #1d4eaa;
    background: url(../../img/play.png), -moz-linear-gradient(top, #1d4eaa 0%, #0a3d96 100%);
    background: url(../../img/play.png), url(../img/ico_utente.png)-webkit-linear-gradient(top, #1d4eaa 0%,#0a3d96 100%);
    background: url(../../img/play.png), linear-gradient(to bottom, #1d4eaa 0%,#0a3d96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4eaa', endColorstr='#0a3d96',GradientType=0 );
	background-position:8px center, center center !important;
	background-repeat:no-repeat !important;
}


/* ELENCHI */
.smart #p_set{
	background-image: url(img/logoMenu.png);
}
body:not(.smart) #p_set{
	background: url(img/logoMenu.png), linear-gradient(to bottom, #0f3a89 0%,#1546a1 5px,#1546a1 calc(100% - 5px),#0f3a89 100%);
}
/*body:not(.bodyStyled1):not(.bodyStyled2):not(.smart) #p_set{
	background-image: url(img/logoMenuN.png);
}*/
/*body:not(.touch) */#p_set svg polygon{
	fill: var(--menu-fondino);
}
.listaMeridiani > div{
	background-color: rgba(255,255,255,0.83) !important;
}
.listaMeridiani > div strong{
	float: right;
    display: inline-block;
	margin:2px;
    width:32px;
	height:32px;
	border-radius:16px;
	/*background-image:url(../../img/frGiuB.png);*/
	background-size:auto 40px;
	background-repeat: no-repeat;
	background-position:center center;
}
.smart .listaMeridiani > div strong{
	margin-right: -4px !important;
}

.listaMeridiani > div:not(.frSw) strong{
	background-image:url(../../img/frGiuB.png);
}
.smart.android .listaMeridiani > div strong{
	width: 46px;
    height: 46px;
    border-radius: 23px;
}
.smart.android .listaMeridiani > div#pEX strong{
	margin-right: 3px !important;
}
.listaMeridiani > div.frSw strong{
	background-image:url(../../img/frSuB.png);
}
.listaMeridiani > div:not(.overLight):hover strong{
	background-color:rgba(0,0,0,0.1);
}
.listaMeridiani > div b{
	float: left;
    display: inline-block;
    text-align: left;
    text-shadow: 1px 1px 1px rgb(255 255 255 / 60%), -1px -1px 1px rgb(0 0 0 / 11%);
    color: rgba(0,0,0,0.6);
    width: 32px;
}
.listaMeridiani > div.lockedItem {
    cursor: default !important;
	background-image: url(../../img/lock.png) !important;
    background-size: auto 50% !important;
    background-position: calc(100% - 68px) 5px !important;
	cursor:default !important;
	opacity: 0.6 !important;
}
.smart .listaMeridiani > div.lockedItem {
    background-position: calc(100% - 38px) 5px !important;
}
.smart .listaMeridiani > div.lockedItem span{
	margin-left: 26px !important;
}
.smart .listaMeridiani > div:not(.lockedItem) span{
	margin-left: 10px !important;
}
.elencoPunti{
    display: none;
    width: 100% !important;
    margin: 0px !important;
    border: 0px !important;
	color:#FFF !important;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px !important;	
	height: auto !important;
}
.smart.android .elencoPunti p{
	height:41px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.smart.android .elencoPunti p:last-child{
	border-bottom: none;
}
.smart.android .elencoPunti p *{
	line-height: 37px !important;
    font-size: var(--font-16) !important;
	background-position: 5px 14px !important;
}
.app_version.bug_font.smart.android .elencoPunti p *{
	line-height: 33.9px !important;
    font-size: var(--font-14-48) !important;
}
.visElPt{
	display:block !important;
}
.elencoPunti p{
	margin:0px;
}
.elencoPunti a{
	width: calc(100% - 5px) !important;
	background-position: 5px 9px !important;
    padding-left: 22px !important;
	height:28px !important;
	border-radius:3px !important;
}
body:not(.smart) .elencoPunti a,
body:not(.smart) .elencoPunti a *{
	color: #FFF !important;
	font-size: var(--font-12) !important;
}
.smart .elencoPunti a,
.smart .elencoPunti a *{
	color: #FFF !important;
	font-size: var(--font-12-94) !important;
}
body:not(.smart) .selElPt{
	background-color:rgba(0,0,0,0.3) !important;
}
/* linguetta a destra */
#lista_meridiani div span { 
    float: right;
    margin-right: -16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 36px;
    height: 36px;
    margin-left: 0px;
    margin-top: 0px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-left: 1px solid rgba(0,0,0,0.5);
}
.smart.android #lista_meridiani div span { 
    height: 50px;
}
.listaMeridiani .elencoSel span {
    background-size: 12px 12px !important;
}
.listaMeridiani div:not(.elencoSel) span {
    background-image: linear-gradient(to right, rgba(0,0,0,0.3) 0%, transparent 10%) !important;
    background-size: 100% auto !important;
}
.listaMeridiani .elencoSel{
	box-shadow: 0px 0px 4px rgba(0,0,0,0.6) !important;
}

body:not(.touch) .listaMeridiani .spazioDopo{
	margin-bottom: 6px !important;
}
body:not(.touch) .listaMeridiani .spazioPrima{
	margin-top: -6px !important;
	margin-bottom: 16px !important;
}

.elencoSel span{
	border: none !important;
}
.elencoSel b{
	text-shadow:none !important;
}
#pEX{
	padding-right: 0px !important;
}
.p_none.elencoSel span,
.p_legno.elencoSel span,
.p_fuoco.elencoSel span,
.p_fuoco_supplementare.elencoSel span,
.p_acqua.elencoSel span{
	background-image:url(img/chMenu.png) !important;
}
.p_terra.elencoSel span,
.p_aria.elencoSel span{
	background-image:url(img/chMenuB.png) !important;
}

body:not(.smart) .listaMeridiani .p_none:not(.elencoSel) span:hover,
body:not(.smart) .listaMeridiani .p_legno:not(.elencoSel) span:hover,
body:not(.smart) .listaMeridiani .p_fuoco:not(.elencoSel) span:hover,
body:not(.smart) .listaMeridiani .p_fuoco_supplementare:not(.elencoSel) span:hover,
body:not(.smart) .listaMeridiani .p_acqua:not(.elencoSel) span:hover,
body:not(.smart) .listaMeridiani .p_terra:not(.elencoSel) span:hover{
    background-image:url(../../img/ico_lampadinaB.png) !important;
	background-size:auto !important;
}
body:not(.smart) .listaMeridiani .p_aria:not(.elencoSel) span:hover{
	background-image:url(../../img/ico_lampadinaN.png) !important;
	background-size:auto !important;
}


.p_none.elencoSel:not(.frSw) strong,
.p_acqua.elencoSel:not(.frSw) strong,
.p_legno.elencoSel:not(.frSw) strong,
.p_fuoco.elencoSel:not(.frSw) strong,
.p_fuoco_supplementare.elencoSel:not(.frSw) strong{
	background-image:url(../../img/frGiu.png) !important;
}
.p_none.elencoSel.frSw strong,
.p_acqua.elencoSel.frSw strong,
.p_legno.elencoSel.frSw strong,
.p_fuoco.elencoSel.frSw strong,
.p_fuoco_supplementare.elencoSel.frSw strong{
	background-image:url(../../img/frSu.png) !important;
}

.p_none.elencoSel:not(.overLight):hover strong,
.p_acqua.elencoSel:not(.overLight):hover strong,
.p_legno.elencoSel:not(.overLight):hover strong,
.p_fuoco.elencoSel:not(.overLight):hover strong,
.p_fuoco_supplementare.elencoSel:not(.overLight):hover strong{
	background-color:rgba(255,255,255,0.3) !important;
}
.p_none span:not(.valMerid),
.p_none.elencoSel{
	color:#FFF !important;
}
.p_none.elencoSel{
	background:#006699 !important;
}
.p_none span:not(.valMerid){
	background-color:#006699 !important;
}
.p_legno span:not(.valMerid),
.p_legno.elencoSel{
	color:#FFF !important;
}
.p_legno.elencoSel{
	background:#009900 !important;
}
.p_legno span:not(.valMerid){
	background-color:#009900 !important;
}
.p_fuoco span:not(.valMerid),
.p_fuoco.elencoSel{
	color:#FFF !important;
}
.p_fuoco.elencoSel{
	background:#FF0000 !important;
}
.p_fuoco span:not(.valMerid){
	background-color:#FF0000 !important;
}
.p_fuoco_supplementare.elencoSel{
	background:#990000 !important;
}
.p_fuoco_supplementare span:not(.valMerid){
	background-color:#990000 !important;
}
.p_terra span:not(.valMerid),
.p_terra.elencoSel{
	color:#000 !important;
}
.p_terra.elencoSel{
	background:#FF8800 !important;
}
.p_terra span:not(.valMerid){
	background-color:#FF8800 !important;
}
.p_aria span:not(.valMerid),
.p_aria.elencoSel{
	color:#000 !important;
}
.p_aria.elencoSel{
	background:#FFFFFF !important;
}
.p_aria span:not(.valMerid){
	background-color:#FFFFFF !important;
}
.p_acqua span:not(.valMerid),
.p_acqua.elencoSel{
	color:#FFF !important;
}
.p_acqua.elencoSel{
	background:#000000 !important;
}
.p_acqua span:not(.valMerid){
	background-color:#000000 !important;
}
.p_acqua.elencoSel b{
	color:#FFF !important;
}
.p_aria.elencoSel b{
	color:#000 !important;
}

@media (max-width: 800px){
	.listaMeridiani > div b {
		padding-left: 12px;
	}
	body:not(.smart) .listaMeridiani > div.lockedItem b {
		margin-left: 14px;
	}
	.smart .listaMeridiani > div b {
		padding-left: 0px;
	}
}

.mezzoPuntoTratt{
	width:100px;
	margin-right: 4px !important;
    vertical-align: middle;
	display:inline-block;
	margin-bottom: 4px;
}
#scheda:not(.sch_Max600) .mezzoPuntoTratt{
	margin-top: 1px !important;
}
.mezzoPuntoTratt:required:invalid {
	color: #666;
}
.mezzoPuntoTratt option[value=""][disabled] {
	display: none;
}

.textPuntoTratt,
.textMeridianoTratt{
	margin-top: 0px !important;
    border: none !important;
    background: transparent !important;
    border-radius: 0px !important;
    /*width: calc(100% - 10px) !important;*/
	height: 24px !important;
    margin-bottom: 3px;
	font-style:italic;
}
#scheda:not(.sch_Max600) .textPuntoTratt,
#scheda:not(.sch_Max600) .textMeridianoTratt{
	margin-top: 0px !important;
}
.textPuntoTratt{
    width: calc(100% - 213px) !important;
}
.smart #scheda:not(.sch_Max450) .textPuntoTratt{
	width: calc(100% - 282px) !important;
}
.touch:not(.smart) #scheda:not(.sch_Max450) .textPuntoTratt{
	width: calc(100% - 298px) !important;
}

.textMeridianoTratt{
    width: calc(100% - 245px) !important;
    margin-left: 5px !important;
}
.smart #scheda:not(.sch_Max450) .textMeridianoTratt{
	width: calc(100% - 256px) !important;
}
.touch:not(.smart) #scheda:not(.sch_Max450) .textMeridianoTratt{
	width: calc(100% - 272px) !important;
}

.sch_Max450 .textPuntoTratt,
.sch_Max450 .textMeridianoTratt{
    width: 100% !important;
    background-color: rgba(255,255,255,0.4) !important;
    border-radius: 4px !important;
	margin-top:4px !important;
	margin-bottom:0px !important;
}

#meridianiSmart_ico{
	position: fixed;
    top: 5px;
    right: 5px;
	width:40px;
	height:40px;
	/*background-image:url(../../img/jingB.png);*/
	background-image:url(../../img/ico_meridianiB.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24px;
	cursor:pointer;
	border-radius:6px;
	background-color: rgba(0,0,0,0.2);
}
/*body.bodyStyled2:not(.smart) #meridianiSmart_ico{
	background-image:url(../../img/ico_meridiani.png);
}*/
.smart #meridianiSmart_ico{
	width: 50px !important;
    height: 50px !important;
	top: 0px !important;
	right: 0px !important;
    background-color: #333 !important;
    border-bottom-left-radius: 54px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-position: 19px 9px !important;
	z-index:11;
}
body:not(.bodyModello) #meridianiSmart_cont,
body:not(.bodyModello) #meridianiSmart_ico,
body:not(.bodyModello) #btns_set{
	display:none !important;
}
#meridianiSmart_cont{
	position: fixed;
    top: 48px;
    right: 6px;
    display: none;
    padding: 2px;
	max-height: calc(100% - 48px);
    overflow-y: auto;
}
.smart #meridianiSmart_cont{
    top: 36px !important;
    right: 0px !important;
	max-height: calc(100% - 90px) !important;
	z-index: 10;
	padding-top:19px;
}
#meridianiSmart_cont div{
	width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 15px;
    text-align: center;
    font-size: var(--font-11);
    margin: 2px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
}
body:not(.smart) #meridianiSmart_cont div:not(.elencoSel):hover{
	background-color: rgba(255,255,255,0.3) !important;
}
.smart #meridianiSmart_cont div{
	width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    border-radius: 20px !important;
    font-size: var(--font-11) !important;
}
@media (max-height: 700px){
	.smart #meridianiSmart_cont div{
		width: 37px !important;
		height: 37px !important;
		line-height: 37px !important;
	}
}
.sm_legno{
	border:1px solid #009900;
}
.sm_legno.elencoSel{
	background:#009900 !important;
	color:#FFF !important;
}
.sm_acqua{
	border:1px solid #000000;
}
.sm_acqua.elencoSel{
	background:#000000 !important;
	color:#FFF !important;
}
.sm_aria{
	border:1px solid #FFFFFF;
}
.sm_aria.elencoSel{
	background:#FFFFFF !important;
	color:#000 !important;
}
.sm_terra{
	border:1px solid #FF8800;
}
.sm_terra.elencoSel{
	background:#FF8800 !important;
	color:#FFF !important;
}
.sm_fuoco{
	border:1px solid #FF0000;
}
.sm_fuoco.elencoSel{
	background:#FF0000 !important;
	color:#FFF !important;
}
.sm_fuoco_supplementare{
	border:1px solid #990000;
}
.sm_fuoco_supplementare.elencoSel{
	background:#990000 !important;
	color:#FFF !important;
}
.sm_none{
	border:1px solid #006699;
}
.sm_none.elencoSel{
	background:#006699 !important;
	color:#FFF !important;
}